{% extends "registration/registration_base.html" %}

{% load i18n %}




{% block content %}
<div class="container">
    <div class="untrk_main">
    <h2>Page not found
        <h4>Don't worry you will be back on track in no time!</h4>
    </h2>
    <p><img src="/static/img/zoozoo-2.png">404<img src="/static/img/zoozoo-1.png"></p>
       
    <h3>
    Page doesn't exist or some other error occuered. Go to our <a href="javascript:void(0);">home page</a><br /> or go back to <a href="javascript:void(0);">previous page  </a>
    </h3>
    </div>
</div>

<style type="text/css">

 .footer-v1, .topbar{
    display: none;
}
.header .navbar-brand{
top: 20px;
}
</style>

{% endblock content %}