{% extends 'base.html' %}


{% block ng_app %}app.app.static{% endblock %}

{% block slider %}{% endblock %}
{% block quickstart_top %}{% endblock %}
{% block quickstart_bottom %}{% endblock %}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Login</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/k">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Login</li>
            </ul>
        </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

{% block content %}

    <div class="container content">     
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                 <form class="reg-page" ng-submit="submit()" role="form" name="customerSignUp" id="customersignup-form"  method="POST" >{% csrf_token %}
                    <div class="reg-header">            
                        <h2>Customer Sign Up</h2>
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="Email" required="true"  placeholder="Enter your email"  id="useremail" ng-model = "customer_email" class="form-control">
                    </div>                    
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <input type="text" required="true" pattern="\d+" placeholder="Enter your phone number" minlength = "10" id = "customerPhoneNumber" ng-model = "customerPhoneNumber" onkeypress="return event.charCode &lt;= 57" class="form-control">
                    </div>  

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="text" required="true" placeholder="Enter your zipcode" pattern="\d+" maxlength = "5" id="customerZipCode" ng-model = "customerZipCode" onkeypress="return event.charCode &lt;= 57" class="form-control">
                        <input type="hidden" id = "useremail" value="" class="form-control">
                    </div>                   

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn-u pull-right" id="create-account" value="Next">                       
                        </div>
                    </div>

                    <a href="/" id="home_link" style="display: none;"><input type="button" class="button2"  value="Home"></a>
                </form>   
                         
            </div>
        </div><!--/row-->
    </div>
{% endblock %}









