{% include "header.html" %}
{% block paging_css %}{% endblock %}
{% load staticfiles %}
{% load avatar_tags %}
{% load url from future %}
<body ng-app="{% block ng_app %}app.app.static{% endblock %}">
<div class="wrapper">
    <!--=== Header ===-->    
    {% block header %}
    <div class="header">
        <!-- Topbar -->
        {% block topbar %}
            <div class="topbar">
                <div class="container">
                    <!-- Topbar Navigation -->
                    <!-- <ul class="loginbar pull-right">
                        <li class="call_info">
                            <i class="fa fa-phone"></i>
                            <a href="callto:864-396-2656">864-396-2656</a></li>
			{% block login %}
				<li class="topbar-devider"></li>
				{% if user.is_authenticated %}
                                	<li><a href="/accounts/logout" target="_self">Logout</a></li>
                                	<li class="topbar-devider"></li>
                                	{% if user.group == "Customers"%}
                                    		<li><a href="/customer-dashboard/" target="_self">Account</a></li>
					{% elif user.group == None%}
						<li><a href="/customer-dashboard/" target="_self">Account</a></li>
                                	{% else %}
                                    		<li><a href="/dashboard" target="_self">Account</a></li>
                                	{% endif %}
                        	{% else %}
	                        	<li><a href="/accounts/login/">Login</a></li> 
					<li class="topbar-devider"></li>
					{% block faq_drop %}
						<li><a href="/faq/">FAQ</a></li>
					{% endblock faq_drop %}  
                    <li> <a class="btn-u btn-u-lg btn_color_imp" href="/lender/register/" target="_self">
                                    Are you a Lender?
                                </a></li>
				{% endif %}
			{% endblock login %}	
					                    
			</ul> -->
                    <!-- End Topbar Navigation -->
                </div>
            </div>
        {% endblock topbar %}
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                {% block logo %}
                    <div class="navbar-header inner_logo">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                        </button>
                        <a class="navbar-brand" href="/" target ="_self"><img id="logo-header" src="{% static "img/lender_logo.png" %}" alt="lender logo"></a> 

                       
                    </div>
                {% endblock logo %}

                <!-- Collect the nav links, forms, and other content for toggling -->
                {% block dropdownhome %}
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav modified_nav">
			  {% block lenderlink %}
                            <li class="call_info">
                                <i class="fa fa-phone"></i>
                                    <a href="callto:864-396-2656">864-396-2656</a>
                            </li>
                            <li class="topbar-devider"></li>
                        {% if user.is_authenticated %}
                                            <li><a href="/accounts/logout" target="_self">Logout</a></li>
                                            <li class="topbar-devider"></li>
                                            {% if user.group == "Customers"%}
                                                    <li><a href="/customer-dashboard/" target="_self">Account</a></li>
                            {% elif user.group == None%}
                                <li><a href="/customer-dashboard/" target="_self">Account</a></li>
                                            {% else %}
                                                    <li><a href="/dashboard" target="_self">Account</a></li>
                                            {% endif %}
                                    {% else %}
                                        <li><a href="/accounts/login/">Login</a></li> 
                            <li class="topbar-devider"></li>
                            {% block faq %}
                                <li><a href="/faq/">FAQ</a></li>
                            {% endblock faq %}  
                            <li> <a class="btn-u btn-u-lg btn_color_imp" href="/lender/register/" target="_self">
                                            Are you a Lender?
                                        </a></li>
                        {% endif %}
			  {% endblock lenderlink %}
               {% block bookmark %}{% endblock bookmark %}                   
                      </ul>
                    </div>
                {% endblock dropdownhome %}
        <!-- End Navbar -->
    </div>
    {% endblock header %}
    <!--=== End Header ===-->   

    {% block breadcrumb %}{% endblock breadcrumb %} 

    <!--=== Slider ===-->

    {% block slider %}
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>The money you need</i> <br /> <i>is right around the corner</i></h2>
            </div>
            <div class="da-slide">
                <h2><i>No direct deposit needed</i></h2>
            </div>
            <div class="da-slide">
              <h2><i>Higher approval rates</i> <br /> <i>Same day cash</i> <br /><i>Lower fees</i></h2>
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>        
            </div>
        </div>
    </div>
    {% endblock slider %}
    <!--/slider-->
    <!--=== End Slider ===-->

    <!--=== Purchase Block ===-->
    {% block quickstart_top %}
    <div class="purchase">
        <div class="container">
            <div class="row lbl_mny_hld">
                 {% block quickstart_topleft %}
                <div class="col-md-9 animated fadeInLeft">
                    <span class="label_mny_rsn">There are so many reasons to borrow from a lender in your neighborhood!</span>
                    <!-- <p>"Why wait for an overnight ACH from an online lender when you can get cash today from your local lender"</p> -->
                </div>   
                {% endblock quickstart_topleft %}

                {% block quickstart_topright %}
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="/application/" class="btn-u btn-u-lg" >Learn More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
                {% endblock quickstart_topright %}

            </div>
        </div>
    </div>
    {% endblock quickstart_top %}
    <!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    {% block content %}
    <div class="container content"> 
        <!-- Service Blocks -->
        <div class="row margin-bottom-30">
            {% block content_left %}
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-thumbs-o-up service-icon"></i>
                    <div class="desc">
                        <h4 style="text-transform:uppercase;">Higher approval rates</h4>
                        <p>Storefront lenders don't have to worry about internet fraud and are able to approve more loans.</p>
                    </div>
                </div>  
            </div>
            {% endblock content_left %}

            {% block content_middle %}
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-money service-icon"></i>
                    <div class="desc">
                        <h4 style="text-transform:uppercase;">Same day cash</h4>
                        <p>You will get your cash right away.  No need to wait for an overnight ACH.</p>
                    </div>
            </div>  
            </div>
            {% endblock content_middle %}

            {% block content_right %}
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-angellist service-icon"></i>
                    <div class="desc">
                        <h4 style="text-transform:uppercase;">Lower fees</h4>
                        <p>Your local lender will never charge you more than your state allows.  Some of the out-of-state online lenders charge much more.</p>
                    </div>
                </div>  
            </div>
            {% endblock content_right %}

        </div>
        <!-- End Service Blokcs -->
    </div>
    {% endblock content %}
    <!--/container-->


    <!--=== Footer Version 1 ===-->
    {% block footer %}
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    {% block footer_about %}
                    <div class="col-md-4 md-margin-bottom-40 lender-footer">
            <!-- TODO Change Logo to LocalLenders.Net logo of the same size -->
                        <a href="/" target ="_self">
                        <img id="logo-footer" class="footer-logo" src="{% static "img/local_lender_logo.png" %}" alt="footer logo">
                        </a>
                    </div>
                    {% endblock footer_about %}

                    <!--/col-md-3-->
                    <!-- End About -->

                    <!-- Link List -->
                    {% block footer_information %}
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="headline"><h2>Information</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="/faq/">FAQs</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="/lender/register/">Become one of our lenders</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Find a lender near you</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                    {% endblock footer_information %}

                    <!--/col-md-3-->
                    <!-- End Link List -->                    

                    <!-- Address -->
                    {% block footer_contact %}
                    <div class="col-md-4 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contact Us</h2></div>                         
                        <address class="md-margin-bottom-40">
                            151 S. Daniel Morgan Ave <br />
                            Spartanburg, SC 29306 <br />
                            Phone: <a href="callto:864-396-2656">864-396-2656</a> <br />
                            Email: <a href="mailto:info@locallenders.net" class="">info@locallenders.net</a>
                        </address>
                    </div>
                    {% endblock footer_contact %}
                    <!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        {% block copyright %}
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                     
                        <p>
                            2014 &copy; All Rights Reserved.
                           <a href="/privacy-policy/">Privacy Policy</a> | <a href="/terms-of-use/">Terms of Service</a>
                        </p>
                    </div>

                </div>
            </div> 
        </div>
        {% endblock copyright %}
        <!--/copyright-->
    </div>
    {% endblock footer %}
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->
{% include "footer.html" %}
