{% load staticfiles %}
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery-migrate.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/angular/libs/angular.js" %}"></script>
    <script src="{% static "js/angular/libs/angular-resource.js" %}"></script>
    <script src="{% static "js/angular/app.js" %}"></script>
    <script src="{% static "js/angular/controllers/appcontroller.js" %}"></script>
    <script src="{% static "js/back-to-top.js" %}"></script>
    <script src="{% static "js/jquery.flexslider-min.js" %}"></script>
    <script src="{% static "plugins/parallax-slider/js/modernizr.js" %}"></script>
    <script src="{% static "plugins/parallax-slider/js/jquery.cslider.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script src="{% static "js/parallax-slider.js" %}"></script>
    <script src="{% static "js/style-switcher.js" %}"></script>
    <script src="{% static "js/jquery.parallax.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/owl-carousel/owl-carousel/owl.carousel.js" %}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{% static "plugins/gmap/gmap.js" %}"></script>
    <script src="{% static "js/pages/page_contacts.js" %}"></script>



    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initParallaxBg();
            ContactPage.initMap();                                           
        });
    </script>
    

    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initSliders();      
            ParallaxSlider.initParallaxSlider();
        });
    </script>




    <!-- <script src="{% static "js/underscore.js" %}"></script>
    <script src="{% static "js/angular/libs/angular.js" %}"></script>
    <script src="{% static "js/angular/libs/angular-resource.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/angular/app.js" %}"></script>
    <script src="{% static "js/angular/controllers/appcontroller.js" %}"></script>
    <script src="{% static "js/bx-slider/jquery.bxslider.min.js" %}"></script>
    <script src="{% static "js/jquery.nicescroll.min.js" %}"></script>
    <script src="{% static "js/general.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script src="{% static "js/idangerous.swiper.min.js" %}"></script>
    <script src="http://seiyria.github.io/bootstrap-slider/javascripts/bootstrap-slider.js"></script>
    <link href="{% static "css/bootstrap-slider.css" %}" rel="stylesheet"-->



    <!--script>
        $('#ex1').slider({
	    formatter: function(value) {
		    return 'Current value: ' + value;
	    }
	});
    </script>
    <style>
        #ex1Slider .slider-selection {
	    background: #BABABA;
	}
    </style-->
    
    {% block paging_js %}{% endblock %}
    {% block javascript %}{% endblock %}
    
    <style>
	#map-canvas {
	  margin: 0px;
	  padding: 0px
	  width: 200px;
	  height: 200px;
	}
    </style>
    <script>
	setTimeout(function(){    
	    var map;
                var longi=$('#longitude').val();
    
                var latti=$('#latitude').val();
                //var longi=$('#longi').val();
                console.log(longi);
                //var latti=$('#latti').val();
                console.log("2323tets",latti);
                var myLatlng = new google.maps.LatLng(latti,longi);
                var mapOptions = {
                    zoom: 4,
                    center: myLatlng
                };
                var map = new google.maps.Map( document.getElementById('map-canvas'), mapOptions );
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'Chicago'
                });
                //map = new google.maps.Map( document.getElementById('map-canvas'), mapOptions );
                //google.maps.event.addDomListener(window, 'load', initialize);
            }, 1000);
        </script>
    <script>
    $("form#simpleSignIn").find("input[type='text']").each(function(index){

            $(this).addClass('form-control');

    });
    </script>   
</body>
</html>
