{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to LocalLenders.Net</title>

<link href="{% static "css/css/lender.css" %}" rel="stylesheet">

<link href="{% static "css/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/css/style.css" %}" rel="stylesheet">
<link href="{% static "css/css/line-icons.css" %}" rel="stylesheet">
<link href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
<link href="{% static "css/css/flexslider.css" %}" rel="stylesheet">
<link href="{% static "plugins/parallax-slider/css/parallax-slider.css" %}" rel="stylesheet">
<link href="{% static "css/css/default.css" %}" rel="stylesheet">
<link href="{% static "css/css/dark.css" %}" rel="stylesheet">
<link href="{% static "css/css/custom.css" %}" rel="stylesheet">



<link href="{% static "css/css/app.css" %}" rel="stylesheet">
<link href="{% static "css/css/ie8.css" %}" rel="stylesheet">
<link href="{% static "css/css/blocks.css" %}" rel="stylesheet">
<link href="{% static "css/css/plugins.css" %}" rel="stylesheet">

<link href="{% static "css/css/plugins/animate.css" %}" rel="stylesheet">
<link href="{% static "css/css/plugins/box-shadows.css" %}" rel="stylesheet">
<link href="{% static "css/css/plugins/style-switcher.css" %}" rel="stylesheet">
<link href="{% static "css/css/headers/header-default.css" %}" rel="stylesheet">
<link href="{% static "css/css/headers/header-v1.css" %}" rel="stylesheet">
<link href="{% static "css/css/headers/header-v2.css" %}" rel="stylesheet">
<link href="{% static "css/css/headers/header-v3.css" %}" rel="stylesheet">
<link href="{% static "css/css/headers/header-v4.css" %}" rel="stylesheet">
<link href="{% static "css/css/footers/footer-default.css" %}" rel="stylesheet">
<link href="{% static "css/css/footers/footer-v1.css" %}" rel="stylesheet">
<link href="{% static "css/css/footers/footer-v2.css" %}" rel="stylesheet">
<link href="{% static "css/css/footers/footer-v3.css" %}" rel="stylesheet">
<link href="{% static "css/css/footers/footer-v4.css" %}" rel="stylesheet">
<link href="{% static "css/css/footers/footer-v5.css" %}" rel="stylesheet">
<link href="{% static "css/css/footers/footer-v6.css" %}" rel="stylesheet">
<link href="{% static "css/css/footers/footer-v7.css" %}" rel="stylesheet">
<link href="{% static "css/css/pages/page_log_reg_v1.css" %}" rel="stylesheet">
<link href="{% static "css/css/pages/page_about.css" %}" rel="stylesheet">










    
    <!--<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "css/lender.css" %}" rel="stylesheet">    
    <link href="{% static "css/jquery.bxslider.css" %}" rel="stylesheet">
    <link href="{% static "fonts/stylesheet.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">    
    <!--Custom CSS -->
    <!--<link href="{% static "css/full-slider.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/idangerous.swiper.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">-->
        
        
{% block paging_css %}
    <!--link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"-->
{% endblock %}
</head>


