{% extends 'base.html' %}

{% block slider %}{% endblock %}
{% block quickstart_top %}{% endblock %}
{% block quickstart_bottom %}{% endblock %}
{% block content %}
<section id="neighboured_second">
    <div class="container">
	<div class="row">
	    <div class="col-md-12" >
                <div class="inner_headline1">Customer Sign Up</div>
                <div class="application_form" ng-controller="{% block ng_controller %}CustomerSignUpController{% endblock %}"><!--application form start here-->
                    <div class="inner_form">
                        <div class="main">
                            <div class="one">
                                <div class="register">
                                    <div id = "authStaffStatus"></div>
                                    <div id="loader_app"></div>
                                    <form  ng-submit="submit()" role="form" name="customerSignUp" id="customersignup-form"  method="POST" >{% csrf_token %}
                                        <div>
                                            <label for="email">Email</label>
                                            <input type="Email" required="true"  placeholder="Enter your email"  id="useremail" ng-model = "customer_email">
                                        </div>
                                        <div>
                                            <label for="number">Phone Number</label>
                                            <input type="text" required="true" pattern="\d+" placeholder="Enter your phone number" minlength = "10" id = "customerPhoneNumber" ng-model = "customerPhoneNumber" onkeypress="return event.charCode &lt;= 57">
                                        </div>
                                        <div>
                                            <label for="zipcode">Zip Code</label>
                                            <input type="text" required="true" placeholder="Enter your zipcode" pattern="\d+" maxlength = "5" id="customerZipCode" ng-model = "customerZipCode" onkeypress="return event.charCode &lt;= 57">
                                            <input type="hidden" id = "useremail" value="">
                                        </div>
                                        <div>
                                            <label for="submission"></label>
                                            <input type="submit" class="button2" id="create-account" value="Next">
                                        </div>
                                    </form>
                                    <a href="/" id="home_link" style="display: none;"><input type="button" class="button2"  value="Home"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}



