{% extends 'base.html' %}

{% block slider %}{% endblock %}
{% block quickstart_top %}{% endblock %}
{% block quickstart_bottom %}{% endblock %}
{% block text %}{% endblock %}



 {% block content %}

    <div class="container content" ng-controller="{% block ng_controller %}CustomerSignUpController{% endblock %}">     
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div id = "authStaffStatus">
        Thanks! We will let you know as soon as we have a lender in your area.
        <br>
        <a class="btn-u hm_link" href="/" id="home_link">Home</a></div>

        <div id="loader_app"></div>
		<div id = info_text>
		 We are currently piloting our service in a few select markets. If you would like to know when we are coming to your area, please let us know!</div>
                 <form class="reg-page" ng-submit="submit()" role="form" name="customerSignUp" id="customersignup-form"  method="POST" >{% csrf_token %}
                    <div class="reg-header">            
                        <h2>Customer Sign Up</h2>
			 <div id="signupstatus"></div>                   
      		    </div>
			
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="Email" required="true"  placeholder="Enter your email"  id="useremail" ng-model = "customer_email" class="form-control">
                    </div>                    
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <input type="text" required="true" pattern="\d+" placeholder="Enter your phone number" minlength = "10" id = "customerPhoneNumber" ng-model = "customerPhoneNumber" onkeypress="return event.charCode &lt;= 57" class="form-control">
                    </div>  

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-file-archive-o"></i></span>
                        <input type="text" required="true" placeholder="Enter your zipcode" pattern="\d+" maxlength = "5" id="customerZipCode" ng-model = "customerZipCode" onkeypress="return event.charCode &lt;= 57" class="form-control">
                        <input type="hidden" id = "useremail" value="" class="form-control">
                    </div>                   

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn-u pull-right" id="create-account" value="Next">                       
                        </div>
                    </div>
                </form>   
                     
            </div>
        </div><!--/row-->
    </div>
    {% endblock %}





