{% extends 'base.html' %}

{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block info%}{% endblock %}

{% block content %}
<section id="neighboured_second">
    <div class="container">
	{% block SignIn %}
	<div class="row">
	    <div class="col-md-12">  
		<div class="inner_headline1">Sign in</div>
		    <!--a href="/signout">logout</a-->		  
		    <div class="main_sign_in" ng-controller="{% block ng_controller %}SignInController{% endblock %}"><!--sign in left form part start here-->
		    <div id="LoginStatus"></div>
		    <form  ng-submit="submit()" role="form" name="SignInForm" id="signin-form"  method="POST">{% csrf_token %}
			<div>
			    <label for="username">Username : <span class="star">*</span></label>
			    <input required type="text" ng-model="username" name="username" id="username" placeholder="Username">
			</div>
			<div>
			    <label for="password">Password : <span class="star">*</span></label>
			    <input required type="password" ng-model="password" name="password" id="password" placeholder="Password">
			</div>  
			<div>
			    <label></label>
			    <input required type="submit" name="submit" id="submit" value="Login" class="button4">
			    <a href="/forgotPassword" class="member_action">Forgot Password</a>
			</div>
		    </form>
		    </div><!--sign in left form part close here-->    
	    </div>
	</div>
    {% endblock %}
    </div>
</section>
{% endblock %}
{% block ng_app %}app.app.static{% endblock %}