{% extends 'accounts.html' %}
{% load staticfiles %}
{% load easy_maps_tags %}
{% block content %}
{% block paging_css %}
   {% endblock %}



<section id="neighboured_second" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <div class="container" ng-controller="{% block ng_controller %}MapViewController{% endblock %}">
        {% block dashboard %}
	    <div class="row">
		<div class="col-md-3 col-sm-3">
		    {% block sidebar %}
			<div class="left_vertical_nav">
			    <div class="navigation">
				<ul>
				    <li><a href="/">Home</a></li>
				    <li><a href="/staffdashboard" class="selected">Lenders</a></li>
				    <li><a href="/staffdashboard/customers">Customers</a></li>
				    <li><a href="/helpdesk/">Helpdesk</a></li>
				    <li><a href="/staff">Go To Online Portal</a></li>
				</ul>
			    </div>
			</div>
		    {% endblock %}
		</div>
		<!--============right_content_start_here===============-->
		<div class="col-md-9 col-sm-9">
		    <div class="right_dashboard">
			<div class="device">
			    <a class="arrow-left" href="#"></a> 
			    <a class="arrow-right" href="#"></a>
			    <div class="swiper-container">
				<div class="swiper-wrapper">
				    <div class="inner_heading_part">Map View</div>
				    <!--====first inner part start here====--> 
				    <div class="swiper-slide">
					<div class="first_part_start"><!--first part start here-->
					    <div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style"></span></div>
						<div class="inner_contact">
						    <form>{% csrf_token %}   
							<address>{% verbatim %}
							</address> {% endverbatim %}
						    <div id="map">
							{% easy_map '31.6864 76.5222 ' 300 400 %}
                                                    </div>
						</div>
					    </div><!--first part close here-->
				    </div>
				    <!--====first inner part close here====--> 
				</div>
			    </div>
			</div>
		</div>
		<!--=============right_content_close_here==============-->
	</div>
    </div>
    {% endblock %}
    </div>
</section>
{% endblock %}

{% block paging_js %}
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
{% endblock %}













