{% extends 'base.html' %}
{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}


{% block content %}
<div class="swiper-slide" ng-app="{% block ng_app %}app.app.static{% endblock %}">
    <div ng-controller="{% block ng_controller %}DocumentsController{% endblock %}">
    
    {% verbatim %}
        {{sign_url}}
        {{client_id}}
    
<script type="text/javascript" src="//s3.amazonaws.com/cdn.hellofax.com/js/embedded.js"></script>
<!--script type="text/javascript">
    HelloSign.init('07cb906f6a297e6d9b1c6d2731fe76b0');
    HelloSign.open({
        url: sign_url,     
        allowCancel: true,
        messageListener: function(eventData) {
            alert("HelloSign event received");
        }    
    });
</script-->
</div>
</div>{% endverbatim %}
{% endblock %}