{% extends 'staff/staffdashboard.html' %}

{% block dash_content %}
<div id="content">
<section id="neighboured_second">

    <div class="container">
    {% block staffSignUp %}
        <div class="row">
            <div class="col-md-12">
              
                
                  <div class="staffLogin content ng-cloak" ng-app="{% block ng-app %}app.app.dashboard{% endblock %}">
                      <div class="smart-form-holder" ng-controller="{% block ng_controller %}StaffController{% endblock %}">
                        <div class="well no-padding">
                          <div id="authStaffStatus"></div>
                          
                          <div class="staff_sign_up">
                          <form class="smart-form client-form" ng-submit="submit()" role="form" name="staffLogin" id="staffLogin" method="POST" novalidate>{% csrf_token %}
                              <header class="inner_headline1">Staff Sign In</header>
                              <fieldset>
                                <section>
                                  <label class="label" for="exampleInputEmail1">Email address</label>
                                  <label class="input">
                                    <i class="icon-append fa fa-envelope"></i>
                                    <input type="email" required="true" class="form-control" ng-model="staffEmail" id="staffEmail" name="staffEmail" placeholder="Enter email">
                                  </label>

                                </section>
                                
                                <section>
                                  <label class="label" for="exampleInputEmail1">Username</label>
                                  <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" required="true" class="form-control" ng-model="staffUsername" id="staffUsername" name="staffUsername" placeholder="Enter username">
                                  </label>
                                </section>
                                
                                <section>
                                  <label class="label" for="exampleInputPassword1">Password</label>
                                  <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" required="true" class="form-control" ng-model="staffPassword" id="staffPassword" name="staffPassword" placeholder="Password">
                                  </label>
                                </section>                    
                                
                                <section>
                                  <label class="checkbox"> 
                                    <input type="checkbox"> Remember Me
                                    <i></i>
                                  </label>
                                  
                                </section>
                             </fieldset>
                             <footer>
                             
                              <button id="idStaffLogin" type="submit" ng-disabled="staffLogin.$invalid" class="btn btn-primary">Submit</button>
                            </footer>
                          </form>
                          </div>
                          
                          
                      </div>
                  </div>
                 </div> 
        </div>
        </div>
    </div>
{% endblock %}

</div>
</section>
</div>
{% endblock %}

{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block testimonials %}{% endblock %}
