{% load staticfiles %}
		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="{% static "public/styles/js/plugin/pace/pace.min.js" %}"></script>
		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="{% static "public/styles/js/libs/jquery-2.1.1.min.js" %}"><\/script>');
			}
		</script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="{% static "public/styles/js/libs/jquery-ui-1.10.3.min.js" %}"><\/script>');
			}
		</script>
		<!-- IMPORTANT: APP CONFIG -->
		<script src="{% static "public/styles/js/app.config.js" %}"></script>
		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		<script src="{% static "public/styles/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js" %}"></script>
		<!-- BOOTSTRAP JS -->
		<script src="{% static "public/styles/js/bootstrap/bootstrap.min.js" %}"></script>
		<!-- CUSTOM NOTIFICATION -->
		<script src="{% static "public/styles/js/notification/SmartNotification.min.js" %}"></script>
		<!-- JARVIS WIDGETS -->
		<script src="{% static "public/styles/js/smartwidgets/jarvis.widget.min.js" %}"></script>
		<!-- EASY PIE CHARTS -->
		<script src="{% static "public/styles/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js" %}"></script>
		<!-- SPARKLINES -->
		<script src="{% static "public/styles/js/plugin/sparkline/jquery.sparkline.min.js" %}"></script>
		<!-- JQUERY VALIDATE -->
		<script src="{% static "public/styles/js/plugin/jquery-validate/jquery.validate.min.js" %}"></script>
		<!-- JQUERY MASKED INPUT -->
		<script src="{% static "public/styles/js/plugin/masked-input/jquery.maskedinput.min.js" %}"></script>	

		<!-- JQUERY SELECT2 INPUT -->
		<script src="{% static "public/styles/js/plugin/select2/select2.min.js" %}"></script>
		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="{% static "public/styles/js/plugin/bootstrap-slider/bootstrap-slider.min.js" %}"></script>
		<!-- browser msie issue fix -->
		<script src="{% static "public/styles/js/plugin/msie-fix/jquery.mb.browser.min.js" %}"></script>
		<!-- FastClick: For mobile devices -->
		<script src="{% static "public/styles/js/plugin/fastclick/fastclick.min.js" %}"></script>
		<!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
		<![endif]-->
		<!-- Demo purpose only -->
		<script src="{% static "public/styles/js/demo.min.js" %}"></script>
		<!-- MAIN APP JS FILE -->
		<script src="{% static "public/styles/js/app.min.js" %}"></script>
		<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
		<!-- Voice command : plugin -->
		<script src="{% static "public/styles/js/speech/voicecommand.min.js" %}"></script>
		<!-- SmartChat UI : plugin -->
		<script src="{% static "public/styles/js/smart-chat-ui/smart.chat.ui.min.js" %}"></script>
		<script src="{% static "public/styles/js/smart-chat-ui/smart.chat.manager.min.js" %}"></script>		
		<!-- PAGE RELATED PLUGIN(S) -->
		
		<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
		<script src="{% static "public/styles/js/plugin/flot/jquery.flot.cust.min.js" %}"></script>
		<script src="{% static "public/styles/js/plugin/flot/jquery.flot.resize.min.js" %}"></script>
		<script src="{% static "public/styles/js/plugin/flot/jquery.flot.time.min.js" %}"></script>
		<script src="{% static "public/styles/js/plugin/flot/jquery.flot.tooltip.min.js" %}"></script>		
		<!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
		<script src="{% static "public/styles/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js" %}"></script>
		<script src="{% static "public/styles/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js" %}"></script>		
		<!-- Full Calendar -->
		<script src="{% static "public/styles/js/plugin/moment/moment.min.js" %}"></script>
		<script src="{% static "public/styles/js/plugin/fullcalendar/jquery.fullcalendar.min.js" %}"></script>

		<!--custom script-->
		<script src="{% static "js/angular/libs/angular.js" %}"></script>
		<script src="{% static "js/angular/libs/angular-resource.js" %}"></script>
		<script src="{% static "js/angular/app.js" %}"></script>
		<script src="{% static "js/script.js" %}"></script>
		<script src="{% static "js/script_for_v1.js" %}"></script>
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
		<script type="text/javascript" src="{% static "plugins/owl-carousel/owl-carousel/owl.carousel.js" %}"></script>
    		<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
   
		<link href="{% static "css/bootstrap-slider.css" %}" rel="stylesheet">
		
		{% block grid %}		
			<!-- PAGE RELATED PLUGIN(S)
			<script src="..."></script>-->
			<script src="{% static "js/jquery.cookie.js" %}"></script>
			<script src="{% static "public/styles/js/plugin/jqgrid/jquery.jqGrid.min.js" %}"></script>
			<script src="{% static "public/styles/js/plugin/jqgrid/grid.locale-en.min.js" %}"></script>
			<style>
			#map-canvas {
			  margin: 0px;
			  padding: 0px
			  width: 200px;
			  height: 200px;
			}
			</style>
			<!--<script>
				setTimeout(function(){    
				    var map;
					var longi=$('#longitude').val();
			    
					var latti=$('#latitude').val();
					//var longi=$('#longi').val();
					console.log(longi);
					//var latti=$('#latti').val();
					console.log("2323tets",latti);
					var myLatlng = new google.maps.LatLng(latti,longi);
					var mapOptions = {
					    zoom: 4,
					    center: myLatlng
					};
					var map = new google.maps.Map( document.getElementById('map-canvas'), mapOptions );
					var marker = new google.maps.Marker({
					    position: myLatlng,
					    map: map,
					    title: 'Chicago'
					});
					//map = new google.maps.Map( document.getElementById('map-canvas'), mapOptions );
					//google.maps.event.addDomListener(window, 'load', initialize);
				    }, 1000);
			</script>-->
		{% endblock grid %}
	</body>
</html>