{% extends 'lenders/dashboard.html'  %}

{% block dash_content %}
<div id="content">
	<div class="row">
		<div class="col-md-12">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>&gt; Aggreement</span></h1>
        </div>	
	</div>
	<div class="well">
<div class="content2" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
<div class="row-fluid privacy agmnt-styl_ui" ng-controller="{% block ng_controller %}AgreementController{% endblock %}">
<h4>LocalLenders.net is owned and operated by Haystack Analytics, LLC. This company runs LocalLenders.net (also known as &ldquo;Local Lenders&ldquo;, &ldquo;Local Lenders Network&rdquo;, &ldquo;we&ldquo;, or &ldquo;our&rdquo; on this website). When using this site you agree to the terms and conditions of the site, which include the following:</h4><p class="lead"></p>
<p class="important-lead"><strong>IMPORTANT:</strong> This website collects information you provide to match you with a lender in our network. Your information is processed on a secure connection.</p>
<p>We may share the information you provide with third parties, including, but not limited to, members of our lender network. Review our Privacy Policy for additional information<br />Lenders in our network will evaluate your application information to determine if they will be able to offer you a loan. This website is not a lender and we do not make loan or credit decisions in connection with its service. We do not guarantee a loan approval from the lender we pair you with. This service is not available in all states. This website may change at any time without notice.</p>
<h4>Lender Matching:</h4>
<p>This website matches consumers with prospective lenders in our direct network of loan lenders. To use the service, you may have to complete an online application form requesting specific information which may include include, but is not limited to, your name, address, telephone number, social security number, email address, bank account information, and employment information. The collection of and use of your information is subject to this site&rsquo;s Privacy Policy. To use this website or service, you must agree to the terms and conditions set forth in the Privacy Policy.</p>
<p>By submitting the application form on this website, you understand and agree that you are submitting an inquiry about a loan product and that this website transmits your information to specific lenders in our network. By submitting the application form on this website, you are extending an invitation to this website and each of our network lenders and partners with whom your information is shared to contact you by any means (including, without limitation, email, telephone, and direct mail) so they may assist you with your transaction or provide information to you regarding additional products or services.</p>
<p>You understand and agree that, once you have been referred to a lender, this website has no further involvement in the loan application or approval process. Your subsequent interactions with the lender are subject to privacy policy, terms of use, and other policies and/or terms enforced by that lender.</p>
<p>Users of the site fully understand and accept that LocalLenders.net is not a loan provider, nor do we make any decisions in regards to approval of loans. The company is designed to match consumers with lenders, and if a consumer has any issue with a loan that they accept, LocalLenders.Net does not bear any responsibility.</p>
<h4>Intellectual Property:</h4>
<p>All information contained on LocalLenders.net is the property of Local Lenders and Haystack Analytics, LLC. This includes the text, graphics, photographs, and software on the site. You may not distribute the information on this site without the written consent of LocalLenders.net. LocalLenders.net grants you permission to view and make copies of documents, pages, images or other materials or content on this site for the purposes of obtaining a loan.</p>
<h4>Limitation of Liability and Disclaimer of Warranties:</h4>
<p>We make every effort possible to ensure that the information contained on LocalLenders.net is accurate, but we cannot guarantee that all information is accurate at all times. Please understand that LocalLenders is not responsible for the results of using this site.</p>
<p>LocalLenders, and any entity connected to LocalLenders, bears no responsibility for any actions that result from using our site and services. We do not offer any kind of warranty, expressed or implied, for our customers that use LocalLenders to obtain a payday loan.</p>
<h4>Restrictions of Using LocalLenders.net:</h4>
<p>We require that all users of LocalLenders are at least 18 years of age and be a legal resident of the United States. You agree not to use this site or any information contained in it for any inappropriate or illegal activities.</p>
<h4>Content from Third Parties:</h4>
<p>Our site may contain links to the websites of third parties. We are not responsible for any of the content, claims, or services, found on a third party site. Links to a third party site do not guarantee that we agree with, support, or endorse the information provided.</p>
<p>LocalLenders has a comprehensive privacy policy that protects all personal information provided by users of LocalLenders.net. Please visit our Privacy Policy for more information. We reserve the right to modify our privacy policy at any time.</p>
<h4>Modification of Terms:</h4>
<p>By using this site you agree to the fact that LocalLenders may modify the terms and conditions at any time. LocalLenders reserves the rights to make changes to policies and terms as needed.</p>
<h4>Indemnification:</h4>
<p>Use of this site signifies that you do not hold LocalLenders, its officers, agents, affiliates, partners, or employees responsible for any loss, liability, or claim that may result from use of our site, or use of any third party site that has a link on LocalLenders.net.</p>
<h4>Legitimate Contact Information and Physical Address:</h4>
<p style="font-size:12px;margin-top:10px;">Haystack Analytics, LLC<br /> 162 E Main St., Unit B<br /> Spartanburg, SC 29306<br /> <a href="callto:864-396-2656">864-396-2656</a><br /> <a href="mailto:info@locallenders.net">info@locallenders.net</a></p>


<form>{% csrf_token %}
    <label class="checkbox">
											
											

    <div class="agreement_class smart-form "><label class="checkbox"><input id="agreement_check" type="checkbox" name="agreement"><i></i>Accept Terms & Conditions</label></div>
    <a class="btn btn-primary" ng-click="acceptAgreement()">Save & Continue</a>
</form>
</div>
<!--/row-fluid--></div>
</div>
</div>
{% endblock dash_content %}