{% extends 'newdashboard/dashboard.html' %}
{% load url from future %}
{% load bootstrap_tags %}
{% load static %}


{% block dash_content %}
<section id="neighboured_second">
    <div id="content">
        {% block dashboard %}
	<div class="row">
	    <!-- Modal for server update -->
	    <div class="modal fade" id="in-progress">
	      <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
		    <h4 class="modal-title">Server Update In-Progress <img class="pull-right" src="{% static 'img/in-progress.gif' %}" /></h4>
		  </div>
		  <div class="modal-body">
		      <div class="progress">
			  <div class="progress-bar" style="width: 0%;"></div>
		      </div>
		  </div>
	  
		</div><!-- /.modal-content -->
	      </div><!-- /.modal-dialog -->
	    </div><!-- /.modal -->
	</div>
	<div class="row">
		<!-- col -->
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-home"></i> Dashboard <span>&gt;
				Lender Account </span></h1>
		</div>
	</div>	
	<div class="row">
		{% block right_span_payment %}{% endblock right_span_payment %}
		<!--============right_content_start_here===============-->
		{% block right_span_default %}
		<div class="col-md-12 col-sm-12">
			<div class="well well-light">
		    <div class="lender_account_dashboard">
			<div class="device">
			    <a class="arrow-left" href="#"></a> 
			    <a class="arrow-right" href="#"></a>
			    <div class="swiper-container">
				<div class="swiper-wrapper">
				    <!--====first inner part start here====--> 
				    <div class="swiper-slide">
					<div class="lender_account_part_start"><!--first part start here-->
					   <!--  <div class="inner_heading_part">Lender's Account</div> -->
					    <div>
						<div class="progressing_lender" class="nav nav-tabs" role="tablist"></div>
						<ul id="progressbar_lender">
						    <li class="active"><a href="#home" role="tab" data-toggle="tab" title="Get Started" rel='tooltip' data-placement='bottom'>Get Started</a></li>
						    <li><a href="#profile" role="tab" data-toggle="tab" title="Agreement" rel='tooltip' data-placement='bottom'>Agreement</a></li>
						    <li><a href="payments/" data-placement='bottom'>Pricing Plan</a></li>
						    <li><a href="#settings" role="tab" data-toggle="tab" title="Payment" rel='tooltip' data-placement='bottom'>Payment</a></li>
						    <li><a href="#complete" role="tab" data-toggle="tab" title="Complete!" rel='tooltip' data-placement='bottom'>Complete!</a></li>
						</ul>
					    </div>
					    <!-- Tab panes -->
					    <div class="tab-content">
						<div class="tab-pane active" id="home">
						    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from  45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one  of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical   literature, discovered the undoubtable source. Lorem Ipsum comes from sections .</p>
						</div>
						<div class="tab-pane" id="profile">
						    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by     injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
						</div>
    
						<!--pricing plan content start here-->  
						<div class="tab-pane" id="messages">
						    <div class="offred_lead">
							{% block subscription %} {% endblock %}
						    </div>
						</div>
						<!--pricing plan content close here-->
      
						<div class="tab-pane" id="settings"><!--=====payment content start here======-->
						    <div class="payment_inner">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially</p>
						    </div>
						</div><!--=====payment content close here======-->
    
    
						<div class="tab-pane" id="complete">
						    <div class="request_complete">
							<div class="request">Request has been placed successfully.</div>    
						    </div>
						</div>
							  
					    </div>
					</div><!--first part close here-->
				    </div>
				    <!--====first inner part close here====--> 
				</div>
			    </div>
			    <div class="pagination"></div>
			</div>
		    </div> 
		</div>
		{% endblock right_span_default %}
		<!--=============right_content_close_here==============-->
           </div>
            </div>
            </div>
        {% endblock %}
    </div>
</section>
{% endblock %}

{% block dash_leftnavigation %}
    <aside id="left-panel">	
	<!-- User info -->
	<div class="login-info">
	    <span> <!-- User image size is adjusted inside CSS, it should stay as it -->		    
		<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
		    <img src="{% static "public/styles/img/avatars/sunny.png" %}" alt="me" class="online" /> 
		    <span>
			{{user}}
		    </span>
		    <i class="fa fa-angle-down"></i>
		</a>		    
	    </span>
	</div>
	<!-- end user info -->

	<!-- NAVIGATION : This navigation is also responsive-->
	<nav>
	    <ul>
		<li class="active hide"><a href="/lender-dashboard/get-started" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Get Started</span></a></li>
		<li class="hide"><a href="/lender-dashboard/inbox"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Inbox</span><span class="badge pull-right inbox-badge">14</span></a></li>
		<li><a href="/lender-dashboard/leads/"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Leads</span></a></li>
		<li><a href="{% url 'locations' %}"><i class="fa fa-lg fa-fw fa-globe"></i> <span class="menu-item-parent">Locations</span></a></li> <!-- @jeevan, using url tag -->
		<li class="hide"><a href="/lender-dashboard/document/"><i class="fa fa-lg fa-fw fa-file-o"></i> <span class="menu-item-parent">Documents</span></a></li>
		<li class="hide"><a href="/lender-dashboard"><i class="fa fa-lg fa-fw fa-dashboard"></i> <span class="menu-item-parent">Dashboard</span></a></li>
		<li class="hide"><a href="#"><i class="fa fa-lg fa-fw fa-support"></i> <span class="menu-item-parent">Support</span></a></li>
		<li class="hide"><a href="/about-us/"><i class="fa fa-lg fa-fw fa-info"></i> <span class="menu-item-parent">About Us</span></a></li>
		<li><a href="/pages/contact-us/"><i class="fa fa-lg fa-fw fa-phone"></i> <span class="menu-item-parent">Contact Us</span></a></li>		    
	    </ul>
	</nav>
	<span class="minifyme" data-action="minifyMenu"> 
		<i class="fa fa-arrow-circle-left hit"></i> 
	</span>
    </aside>
{% endblock dash_leftnavigation %}
