{% extends 'base.html' %}
{% include "monitio/header.html" %}
{% load staticfiles %}
{% load mark_as_read_by_url %}
{% mark_as_read_by_url %}
{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block testimonials %}{% endblock %}
{% block content %}
    <section id="neighboured_second">
    <div class="container">
      {% block account %}
	<div class="row">
	  <div class="col-md-3 col-sm-3">
	    <div class="left_vertical_nav">
	      <div class="navigation">
		<ul>
		    <li><a href="/">Home</a></li>
		    <li><a href ="/lender-dashboard/">Profile</a></li>
		    <li><a href="/about-us/">About Us</a></li>
		    <li><a href="/leads/">Customers</a></li>
		    <li><a href="#">Documents</a></li>
		    <li><a href="#">Support</a></li>
		    <li><a href="/contact-us/"">Contact Us</a></li>
		</ul>
	      </div>
	    </div>
	  </div>
	  <!--============right_content_start_here===============-->
	  <div class="col-md-9 col-sm-9">
	    <div class="customer_profile_dashboard">
	      <div class="device">
		<a class="arrow-left" href="#"></a> 
		<a class="arrow-right" href="#"></a>
		<div class="swiper-container">
		  <div class="swiper-wrapper">
		    <!--====first inner part start here====--> 
		    <div class="swiper-slide">
                        <div class="inner_heading_part">Messages</div>
		      <div class="customer_profile" ><!--first part start here-->
			<div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style_second">{{user}}</span></div>
			<div class="inner_customer">
			    <div id="monitioMessages">
                                <div class="inner_contact">
				    <address>
                                        {% for msg  in messages.get_persistent %}
                                            <strong>Subject</strong> : {{msg.subject}}<br>
					    <strong>Message</strong> : {{msg.message}}<br>
					{% endfor %}
                                    </address>
				</div>
                                                   
                            </div>
			</div>
		      </div><!--first part close here-->
		    </div>
		    <!--====first inner part close here====--> 
		  </div>
		</div>
		<div class="pagination"></div>
		</div>
	      </div> 
	    </div>
	    <!--=============right_content_close_here==============-->
	  </div>
	
	</div>
      {% endblock %}
      </div>
  </section>
{% endblock %}