{% extends 'lenders/dashboard.html' %}
{% load staticfiles %}

{% block slider %}{% endblock %}
{% block quickstart_top %}{% endblock %}
{% block quickstart_bottom %}{% endblock %}
{% block dash_content %}
<!-- {% block paging_css %}
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
{% endblock %} -->
<section id="neighboured_second" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <div id="content">
    <div  ng-controller="{% block ng_controller %}LeadsListingController{% endblock %}">
        {% block dashboard %}
	<div class="row lead-dashboard">
            <!--============right_content_start_here===============-->
            <div class="col-md-12">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> Set Lead Limits</span></div>{% verbatim %}
	    <div class="col-md-12"> 
	    <div class="well-leads well-sm col-md-12">
<!--new form-->
<h2 class="common_lead_hd">Set your lead limits </h2>
<div class="row">
    
<div class="col-md-6 hide">
    Maximum Leads Limits
    <form>
        <input class="lead-control"  type="text" ng-model="hourly_set_val" id="hourly_set" placeholder="Hourly_leads_limit" readonly>
        <input class="lead-control"  type="text" ng-model="daily_set_val" id="daily_set" placeholder="Daily_leads_limit" readonly>
        <input class="lead-control"  type="text" ng-model="weekly_set_val" id="weekly_set" placeholder="Weekly_leads_limit" readonly>
        <input class="lead-control" type="text" ng-model="monthly_set_val" id="monthly_set" placeholder="Monthly_leads_limit" readonly>
    	
    </form>
    <div id="requeststatus"></div>
        <span>You can make a request for more leads</span>
        <form ng-submit="submit()" role="form" name="edit_limitform" id="edit_limit-form"  method="POST">
            <input class="lead-control" required type="text" ng-model="hourly_set" id="hourly_set" placeholder="Hourly_leads_limit">
            <input class="lead-control"  type="text" ng-model="daily_set" id="daily_set" placeholder="Daily_leads_limit" readonly>
            <input class="lead-control"  type="text" ng-model="weekly_set" id="weekly_set" placeholder="Weekly_leads_limit" readonly>
            <input class="lead-control"  type="text" ng-model="monthly_set" id="monthly_set" placeholder="Monthly_leads_limit" readonly>
            <input required type="submit" name="submit" id="submit" value="Save" class="btn btn-primary">
        </form>
</div>
<div class="col-md-6 text-center leads_btns_cnt">
    <a href="/lender-dashboard/payments/change/plan/" class="btn btn-primary" href-void>ACCEPTING</a>
    <a href="/lender-dashboard/payments/cancel/subscription/" class="btn btn-danger" href-void>NOT ACCEPTING</a>
    <a ng-show="limit_difference!='0'" ng-disabled="limit_difference=='null'" class="btn btn-warning" href-void>MAX</a>
    <a ng-show="limit_difference =='0'" class="btn btn-danger" href-void>MAX</a>
    <a href="javascript:void(0)" class="btn btn-primary" href-void>BALANCE: <b>${{deposite}}</b></a>
</div>
</div>
<!--ends here-->
				
				<!--input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="15" data-slider-max="100" data-slider-step="1" data-slider-value="15"/-->
               <div class="row"> <div class="tym_hrgn_ttl">
				<label for="incorporation"> <strong class="time-horizon">Time Horizon:</strong></label>
                                                <select id="time_horizon" name="time_horizon" ng-model="time_horizon" class="lead-control">
                                                    <option value="">Select Time horizon...</option>
						    <option value="all leads" ng-click = eventDateFilter('all')>all leads</option>
                                                    <option value="last week" ng-click = eventDateFilter('lastweek') >last week</option>
                                                    <option value="last two weeks" ng-click = eventDateFilter('lasttwoweeks')>last two weeks</option>
                                                    <option value="last month" ng-click = eventDateFilter('lastmonth')>last month</option>
                                                    <option value=" two months ago" ng-click = eventDateFilter('twomonthsago')>two months ago</option>
                                                </select> </div></div>{% endverbatim %}
                                <div id="leadStatus"></div>
                                <!--div id="lenderStatus" class="alert alert-error"></div-->
                                <!--====first inner part start here====--> 
                                <div class="swiper-slide lead_theme_dash" ng-repeat = "lead in filteredleads">
                                    <div class="first_part_start"><!--first part start here-->
                                        <div class="prof_man1"><div class="user_pro_txt"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style">{% verbatim %}{{lead.first_name}} {{lead.last_name}}{% endverbatim %}</span></div></div>
                                        <div class="inner_contact">
                                            <form id = "myform">{% csrf_token %}   
                                                <address class="address-detail">{% verbatim %}
                                                    <strong>Name</strong> : {{ lead.first_name }} {{lead.last_name }}<br>
                                                    <strong>Email</strong> : {{ lead.Email }}<br>
                                                    <strong>Phone</strong> : {{ lead.phone_home }}<br>
                                                    <strong>Address</strong> : {{ lead.street_addr1 }} {{ lead.street_addr2 }}<br>
                                                    <strong>City</strong> : {{ lead.city }}<br>
                                                    <strong>State</strong> : {{ lead.state }}<br>
                                                    <strong>Zip</strong> : {{ lead.Zip }}<br>
						    <strong>Appointment Time</strong> : {{ lead.appointment_time }}<br>
                                                </address>
                                                <div class="lead_stts_chng">
                                                    <label for="incorporation" class="status"> Status:</label>
                                                    <select id="status" ng-change="leadStatus(lead_status,{{lead.id}})" name="status" ng-model="lead_status" class="lead-control-status" >
    						    <option value="">Select Lead Status...</option>
                                                        <option value="not yet arrived">not yet arrived</option>
                                                        <option value="denied">denied</option>
                                                        <option value="loan current loans">loan current loans</option>
                                                        <option value="first payment success">first payment success</option>
                                                        <option value="first payment default">first payment default</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>{% endverbatim %}
                                    </div><!--first part close here-->
                                </div>
                                <!--====first inner part close here====--> 
                            </div>
                       </div>
                    </div>
                    <div class="bottom-pagination" data-pagination="" data-num-pages="numPages()" 
                        data-current-page="currentPage" data-max-size="maxSize"  
                        data-boundary-links="true"></div>
                    </div> 
                </div>
                <!--=============right_content_close_here==============-->
            </div>
	</div>
        {% endblock %}
    </div>
</div>
</section>
{% endblock %}

