{% extends 'lenders/dashboard.html' %}
{% load staticfiles %}

{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block dash_content %}
{% block paging_css %}
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
{% endblock %}
<section id="neighboured_second" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <div class="container" ng-controller="{% block ng_controller %}LeadsListingController{% endblock %}">
        {% block dashboard %}
	<div class="row">
            <!--============right_content_start_here===============-->
            <div class="col-md-9 col-sm-9">
                <div class="right_dashboard">
                    <div class="device">
                        <a class="arrow-left" href="#"></a> 
                        <a class="arrow-right" href="#"></a>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="inner_heading_part">Leads</div>{% verbatim %}
				<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="15" class="lead_input"/>
				<label for="incorporation"> <span class="horizon">Time Horizon:</span></label>
                                                <select id="time_horizon" name="time_horizon" ng-model="time_horizon" class="horizon_select">
                                                    <option value="">Select Time horizon...</option>
						    <option value="all leads" ng-click = eventDateFilter('all')>all leads</option>
                                                    <option value="last week" ng-click = eventDateFilter('lastweek') >last week</option>
                                                    <option value="last two weeks" ng-click = eventDateFilter('lasttwoweeks')>last two weeks</option>
                                                    <option value="last month" ng-click = eventDateFilter('lastmonth')>last month</option>
                                                    <option value=" two months ago" ng-click = eventDateFilter('twomonthsago')>two months ago</option>
                                                </select>{% endverbatim %}
                                <div id="leadStatus"></div>
                                <!--div id="lenderStatus" class="alert alert-error"></div-->
                                <!--====first inner part start here====--> 
                                <div class="swiper-slide" ng-repeat = "lead in filteredleads">
                                    <div class="first_part_start"><!--first part start here-->
                                        <div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style">{% verbatim %}{{lead.first_name}} {{lead.last_name}}{% endverbatim %}</span></div>
                                        <div class="inner_contact">
                                            <form id = "myform">{% csrf_token %}   
                                                <address>{% verbatim %}
                                                    <strong>Name</strong> : {{ lead.first_name }} {{lead.last_name }}<br>
                                                    <strong>Email</strong> : {{ lead.Email }}<br>
                                                    <strong>Phone</strong> : {{ lead.phone_home }}<br>
                                                    <strong>Address</strong> : {{ lead.street_addr1 }} {{ lead.street_addr2 }}<br>
                                                    <strong>City</strong> : {{ lead.city }}<br>
                                                    <strong>State</strong> : {{ lead.state }}<br>
                                                    <strong>Zip</strong> : {{ lead.Zip }}<br>
                                                </address>
                                                <label for="incorporation"> <span class="horizon1">Status:</span></label>
                                                <select id="status" ng-change="leadStatus(lead_status,{{lead.id}})" name="status" ng-model="lead_status" class="status_style">
						    <option value="">Select Lead Status...</option>
                                                    <option value="not yet arrived">not yet arrived</option>
                                                    <option value="denied">denied</option>
                                                    <option value="loan current loans">loan current</option>
                                                    <option value="first payment success">first payment success</option>
                                                    <option value="first payment default">first payment default</option>
                                                </select>
                                            </form>
                                        </div>{% endverbatim %}
                                    </div><!--first part close here-->
                                </div>
                                <!--====first inner part close here====--> 
                            </div>
                        </div>
                    </div>
                    <div data-pagination="" data-num-pages="numPages()" 
                        data-current-page="currentPage" data-max-size="maxSize"  
                        data-boundary-links="true"></div>
                    </div> 
                </div>
                <!--=============right_content_close_here==============-->
            </div>
	</div>
        {% endblock %}
    </div>
</section>
{% endblock %}


