{% extends 'lenders/dashboard.html' %}
{% load staticfiles %}
{% load avatar_tags %}


{% block dash_breadcrumb %}
<div id="ribbon">
	<span class="ribbon-button-alignment"> 
		<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
			<i class="fa fa-refresh"></i>
		</span> 
	</span>

	<!-- breadcrumb -->
	<ol class="breadcrumb">
		<li>Home</li><li>Profile</li>
	</ol>
</div>
{% endblock dash_breadcrumb%}
{% block dash_content %}
<!-- MAIN CONTENT -->
<div id="content" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
	<!-- col -->
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
	    <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-puzzle-piece"></i> Dashboard <span>>
		Profile </span>
	    </h1>
	</div>
	<!-- end col -->
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row" ng-controller="{% block ng_controller %}LenderProfileController{% endblock %}">
	<div class="col-sm-12">
	    <div class="well well-sm">
		<div class="row">
		    <div class="col-sm-12 col-md-12 col-lg-6 btm_space">
			<div class="well well-light well-sm no-margin no-padding">
			    <div class="row">
				<div class="col-sm-12">
				    <div id="myCarousel" class="carousel fade profile-carousel">
					<div class="air air-bottom-right padding-10">
						<a href="{% url 'avatar_change' %}" target="_self" class="btn txt-color-white bg-color-pinkDark btn-sm"><i class="fa fa-link"></i>Change your avtar</a>
					</div>
					<div class="air air-top-left padding-10">{% verbatim %}
						<h4 class="txt-color-white font-md">{{todayDate}}</h4>
					</div>{% endverbatim %}
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1" class=""></li>
						<li data-target="#myCarousel" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner">
						<!-- Slide 1 -->
						<div class="item active">
    
							<img src="/static/public/styles/img/demo/s1.jpg" alt="demo user">
						</div>
						<!-- Slide 2 -->
						<div class="item">
							<img src="/static/public/styles/img/demo/s2.jpg" alt="demo user">
						</div>
						<!-- Slide 3 -->
						<div class="item">
							<img src="/static/public/styles/img/demo/m3.jpg" alt="demo user">
						</div>
					</div>
				    </div>
			    </div>
			    <div class="col-sm-12">
			    <div class="row main-control">
				<div class="col-sm-3 profile-pic">
				    <div class="prof_man">{% avatar user %}<span class="john_style_second">
				</span></div>
					<!--<div class="profile_veiwer">
					    <h4 class="font-md"><strong>1,543</strong>
					    <br>
					    <small>Followers</small></h4>
					    <hr>
					    <h4 class="font-md"><strong>419</strong>
					    <br>
					    <small>Connections</small></h4>
				    </div>-->
				</div>
				<div class="col-sm-9 user_infor">{% verbatim %}
				    <h1 class="koktail">{{ LenderInfo.username }}
				    <br>
				    <span class="owner-small"> Owner at {{ LenderInfo.storeName }}</span></h1>
				    <hr>
				    <ul class="list-unstyled">
					<li>
					    <p class="text-muted">
						<i class="fa fa-phone"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{ LenderInfo.phone_number }}</span>
					    </p>
					</li>
					<li>
					    <p class="text-muted">
						<i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:{{ LenderInfo.email }}">{{ LenderInfo.email }}</a>
					    </p>
					</li>
					<li>
					    <p class="text-muted">
						    <i class="fa fa-skype"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{ LenderInfo.managerName }}</span>
					    </p>
					</li>
					<li>
				    	    <p class="text-muted">
						    <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="txt-color-darken">Free after <a href="javascript:void(0);" rel="tooltip" title="" data-placement="top" data-original-title="Create an Appointment">4:30 PM</a></span>
					    </p>
					</li>
				    </ul>
				    <br>
				    <p class="font-md">
					<i>A little about me...</i>
				    </p>
				    <p style="word-wrap: break-word;">
					At <a>{{ LenderInfo.storeName }}</a> we provide you loans very easily.In case if you are interested,
					please call on {{ LenderInfo.phone_number }} or you can email us at <a>{{ LenderInfo.email }}</a>.
					<br><br>The store is located at, {{ LenderInfo.storeAddress }}.
					<br><br>{% endverbatim %}
				    </p>
				    
				  
				</div>
			
			    </div>
			</div>
		    </div>
		   
	    </div>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-6">
	    <form method="post" class="well padding-bottom-10" onsubmit="return false;">
		<textarea rows="2" class="form-control" placeholder="What are you thinking?"></textarea>
		<div class="margin-top-10">
		    <button type="submit" class="btn btn-sm btn-primary pull-right">
			    Post
		    </button>
		    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Location"><i class="fa fa-location-arrow"></i></a>
		    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Voice"><i class="fa fa-microphone"></i></a>
		    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Photo"><i class="fa fa-camera"></i></a>
		    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add File"><i class="fa fa-file"></i></a>
		</div>
	    </form>
	    <div class="chat-body no-padding profile-message">
		<div id="leadStatus"></div>
			  <form  ng-submit="submit()" role="form" name="leadinfo" id="leadInformation-form"  method="POST">{% csrf_token %}
			{% verbatim %}
			    <div class="col-sm-6 form-space">
                                <div>
				  <label>Owner Name :</label>
				  <input class="form-control" required maxlength="50" type="text" placeholder="Enter owner's Name" id="owner_name" ng-model="owner_name">
				</div>
			    
				<div>
				  <label>Owner Phone:</label>
				  <input class="form-control" type="text" maxlength="10" placeholder="0987654321" id="owner_phone" ng-model="owner_phone" onkeypress='return event.charCode <= 57'>
				</div>
    
				<div>
				  <label>Owner Email :</label>
				  <input class="form-control" required type="email" placeholder="owner@gmail.com" maxlength="50" ng-model="owner_email">
				</div>
                                
                                <div>
				  <label>EIN Number:</label>
				  <input class="form-control" required type="text" placeholder="Enter EIN Number" maxlength="9" id ="ein_number" ng-model="ein_number">
				</div>
                                
                                <div>
				  <label>Store Phone:</label>
				  <input class="form-control" type="text" maxlength="10"  id="store_phone" ng-model="store_phone" onkeypress='return event.charCode <= 57'>
				</div>
                                
                                <div>
				  <label>Store Address:</label>
				  <textarea class="form-control-textarea" ng-model="store_address"></textarea>
				</div>
			    
			    </div><!--Left part ends -->
			    <div class="col-sm-6">
                                
                                <div>
				  <label>Store Email :</label>
				  <input class="form-control" required type="email"  maxlength="50" id="store_email" ng-model="store_email">
				</div>
			    
				<div>
				  <label>Manager Name :</label>
				  <input class="form-control" required maxlength="30" placeholder="Enter Manager's Name" type="text" id="manager_name" ng-model="manager_name">
				</div>
			    
				<div>
				  <label>Manager Email :</label>
				  <input class="form-control" type="email" placeholder="manager@gmail.com" maxlength="100" ng-model="manager_email">
				</div>
                                
                                <div>
				  <label>Manager Phone:</label>
				  <input class="form-control" type="text" maxlength="10" id = "manager_phone" placeholder="0987654321" ng-model="manager_phone" onkeypress='return event.charCode <= 57'>
				</div>
                                
                                <div>
				  <label>Loan Limit:</label>
				  <input class="form-control" type="text" id="loan_limit" ng-model="loan_limit" placeholder="$500.00" onkeypress='return event.charCode <= 57'>
				</div>
				<div class="hide_max_tab">
			      <label>&nbsp;</label>
			      <input required type="submit"  id="submit" value="Save Changes" class="btn btn-primary">
			    </div>

                            </div><!--right part ends-->
			    
			  {% endverbatim %}
                          </form>
	    </div>
	    </div>
	    </div>
	</div>
	</div>
    </div>
    <!-- end row -->
</div>
<!-- END MAIN CONTENT -->


{% endblock dash_content %}
