{% extends 'base.html' %}

{% block slider %}{% endblock %}
{% block quickstart_top %}{% endblock %}
{% block quickstart_bottom %}{% endblock %}


{% block content %}
<section id="neighboured_second">
    <div class="container content">
	<div class="row">
	    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 reset_heb2" >
		<div class="col-md-12 hectic" ng-controller="{% block ng_controller %}LenderSignUpController{% endblock %}">
		    <div class="main_sign_up"><!--sign up left form part start here-->
			<div id="resultStatus" class="hide alert alert-success"></div>
			<div id="loader_app"></div>			
			<form  ng-submit="submit()" class="reg-page" role="form" name="lenderSignUp" id="lendersignup-form"  method="POST">{% csrf_token %}
			    <div id = info_text>
				<center><strong style="text-transform:uppercase;">Ready for more customers?</strong></center><br>
				We are currently piloting our service in a few select markets. If you would like to know when we are coming to your 				area, please let us know and we will be in touch shortly.
			    </div>
			    <div class="reg-header">
				<div class="error_part alert alert-danger hide"></div>
				<h2>Lender Sign Up</h2>
			    </div>
			    <div class="input-group margin-bottom-20">
				<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				<input required type="email" class="form-control" ng-model="email" name="email" id="email" placeholder="Enter your email address.">
			    </div>
			    <div class="input-group margin-bottom-20">
				<span class="input-group-addon"><i class="fa fa-phone"></i></span>
				<input required type="text" id="phone_number" class="form-control" ng-model="phone_number" maxlength="10" onkeypress='event.charCode <= 57' placeholder="Enter phone number.">
			    </div>
			    <div class="input-group margin-bottom-20">
				<span class="input-group-addon"><i class="fa fa-shopping-cart"></i></span>
				<input required type="text" id="product_at_store" class="form-control" ng-model="product_at_store" maxlength="50" onkeypress='event.charCode <= 57' placeholder="Products offered">
			    </div>
			    <div class="input-group margin-bottom-20">
				<span class="input-group-addon"><i class="fa fa-file-archive-o"></i></span>
				<input required type="text" id="zip_code" class="form-control" ng-model="zip_code" maxlength="6" name="zip_code" onkeypress='return event.charCode <= 57' id="lenderZipcode" placeholder="Enter your zip code.">
			    </div>		    
			    <div class="input-group margin-bottom-20">
				<label></label>
				<input required type="submit" name="submit" id="submit" value="Submit" class="btn-u search_account">
				<a href="{% url 'user_login' %}" target="_self" class="member_action">Already have an Account ?</a>
			    </div>
			</form>
		    </div>
		</div>
	    </div>
	</div>  
    </div>
</section>
{% endblock %}
{% block ng_app %}app.app.static{% endblock %}