{% extends 'lenders/dashboard.html'  %}
{% block admin_dashboard_js %}{% endblock admin_dashboard_js %}
{% block dash_breadcrumb %}
<div id="ribbon">
	<span class="ribbon-button-alignment"> 
		<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
			<i class="fa fa-refresh"></i>
		</span> 
	</span>
	<!-- breadcrumb -->
	<ol class="breadcrumb">
		<li>Home</li><li>Table</li>
	</ol>
</div>

{% endblock dash_breadcrumb%}

{% block dash_content %}
<!-- MAIN CONTENT -->
	<div id="content" ng-app="{% block ng_app %}app.app.static{% endblock %}">

		<!-- row -->
		<div class="row">
			<!-- col -->
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
				<h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-home"></i> Lenders <span>> Stores</span></h1>
			</div>
		</div>
		<!-- end row -->

		<!--
		The ID "widget-grid" will start to initialize all widgets below
		You do not need to use widgets if you dont want to. Simply remove
		the <section></section> and you can use wells or panels instead
		-->

		<!-- widget grid for lender's store locations -->
		<section id="widget-grid" class="" ng-controller="{% block ng_controller %}lender_locations_controller{% endblock %}">
			<!-- row -->
			<div class="row">
				<!-- NEW WIDGET START -->
				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<table id="jqgrid">{% verbatim %}						
						
					</table>{% endverbatim %}					
					<div id="pjqgrid"></div>
				</article>
				<!-- WIDGET END -->
			</div>
			<!-- end row -->
		</section>
		<!-- end widget grid -->
	</div>
			
{% block inboxlist_js %}{% endblock inboxlist_js %}
{% endblock dash_content %}
{% block javascript %}{% endblock javascript %}
