<!-- MAIN CONTENT -->
<div id="content"  ng-controller="DashboardCtrl">

	<div class="row">
		<big-breadcrumbs items="['Dashboard', 'My Dashboard']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
		<div smart-include="static/public/build/layout/partials/sub-header.tpl.html"></div>
	</div>
	<!-- widget grid -->
	<section id="widget-grid" widget-grid>

		<!-- row -->
		<div class="row">
			<article class="col-sm-12">

				<div smart-include="static/public/build/dashboard/live-feeds.tpl.html" class="placeholder-live-feeds"></div>

			</article>
		</div>

		<!-- end row -->

		<!-- row -->

		<div class="row">

			<article class="col-sm-12 col-md-12 col-lg-6"> 

			<!-- 	<chat-widget></chat-widget> -->

				<full-calendar id="dashboard-calendar-widget"  data-events="events"></full-calendar>
			</article>

			<article class="col-sm-12 col-md-12 col-lg-6">

			
				<!-- end widget -->

				<!-- new widget -->
				<div smart-include="static/public/build/components/todo/todo-widget.tpl.html"></div>
				<!-- end widget -->

			</article>

		</div>

		<!-- end row -->

	</section>
	<!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
