
<p class="alert alert-info">
	This widget is fetching data from an external source with the use of code <code>data-widget-load="<i class="text-primary">[data source]</i>"</code>. Turn on auto refresh by adding the timer like so <code>data-widget-refresh="15"</code> , which will refresh the widget and fetch the data every 15 seconds.
</p>
<!-- dummy file -->
<div class="row">
	<div class="col-sm-7">
		<code>data-widget-load="<i class="text-primary">static/public/app/modules/widgets/views/widget-demo.tpl.html</i>"</code>
	</div>
	<div class="col-sm-5 text-right">
		<div class="jarviswidget-timestamp no-margin"></div>
	</div>
</div>

<div id="flotcontainer" style="height:200px; width:100%;"></div>
