

<div id="content" class="ng-scope faster fadeInUp">
    

<div class="row">
        

<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4 ng-isolate-scope" icon="table" items="['Table', 'Jquery Grid']"><h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-table"></i> Table 

<span>&gt; Jquery Grid
</span></h1>
</div>
        

<div data-sparkline-container="" class="col-xs-12 col-sm-5 col-md-5 col-lg-8" smart-include="build/layout/partials/sub-header.tpl.html">
    
<ul class="" id="sparks">
        
<li class="sparks-info">
            <h5> My Income 

<span class="txt-color-blue">$47,171
</span></h5>
            

<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm"><canvas style="display: inline-block; width: 89px; height: 26px; vertical-align: top;" width="89" height="26"></canvas>
</div>
        </li>
        
<li class="sparks-info">
            <h5> Site Traffic 

<span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;45%
</span></h5>
            

<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm"><canvas style="display: inline-block; width: 82px; height: 26px; vertical-align: top;" width="82" height="26"></canvas>
</div>
        </li>
        
<li class="sparks-info">
            <h5> Site Orders 

<span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447
</span></h5>
            

<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm"><canvas style="display: inline-block; width: 82px; height: 26px; vertical-align: top;" width="82" height="26"></canvas>
</div>
        </li>
    
</ul>

</div>
    
</div>
    
<!-- widget grid -->
    <section id="widget-grid">


        

<div class="row">
            <article class="col-sm-12">

                

<div grid-data="gridData" class="ng-isolate-scope" id="jqgrid-0">

<div class="ui-jqgrid ui-corner-all ng-scope" id="gbox_jqgrid-table-0" dir="ltr" style="width: 1335px;">

<div id="lui_jqgrid-table-0" class="ui-widget-overlay jqgrid-overlay">
</div>

<div id="load_jqgrid-table-0" class="loading ui-state-default ui-state-active" style="display: none;">Loading...
</div>

<div class="ui-jqgrid-view" id="gview_jqgrid-table-0" style="width: 1335px;">

<div class="ui-jqgrid-titlebar ui-corner-top ui-helper-clearfix"><a href="javascript:void(0)" role="link" class="ui-jqgrid-titlebar-close HeaderButton" style="right: 0px;">

<span class="ui-icon ui-icon-circle-triangle-n">
</span></a>

<span class="ui-jqgrid-title">SmartAdmin jQgrid Skin
</span>
</div>

<div style="width: 1335px;" class="ui-jqgrid-hdiv">

<div class="ui-jqgrid-hbox">
<table cellspacing="0" cellpadding="0" border="0" aria-labelledby="gbox_jqgrid-table-0" role="grid" style="width: 1335px;" class="ui-jqgrid-htable table table-bordered table-hover">
<thead>
<tr role="rowheader" class="ui-jqgrid-labels">
<th class="" role="columnheader" id="jqgrid-table-0_cb" style="width: 20px;">

<div id="jqgh_jqgrid-table-0_cb">
<input type="checkbox" class="cbox" id="cb_jqgrid-table-0" role="checkbox">

<span style="display:none" class="s-ico">

<span class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr" sort="asc">
</span>

<span class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr" sort="desc">
</span>
</span>
</div>
</th>
<th class="" role="columnheader" id="jqgrid-table-0_act" style="width: 159px;">

<span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;
</span>

<div id="jqgh_jqgrid-table-0_act" class="ui-jqgrid-sortable">Actions

<span style="display:none" class="s-ico">

<span class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr" sort="asc">
</span>

<span class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr" sort="desc">
</span>
</span>
</div>
</th>
<th class="" role="columnheader" id="jqgrid-table-0_id" style="width: 159px;">

<span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;
</span>

<div id="jqgh_jqgrid-table-0_id" class="ui-jqgrid-sortable">Inv No

<span style="" class="s-ico">

<span class="ui-grid-ico-sort ui-icon-asc ui-icon ui-icon-triangle-1-n ui-sort-ltr" sort="asc">
</span>

<span class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr" sort="desc">
</span>
</span>
</div>
</th>
<th class="" role="columnheader" id="jqgrid-table-0_date" style="width: 159px;">

<span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;
</span>

<div id="jqgh_jqgrid-table-0_date" class="ui-jqgrid-sortable">Date

<span style="display:none" class="s-ico">

<span class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr" sort="asc">
</span>

<span class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr" sort="desc">
</span>
</span>
</div>
</th>
<th class="" role="columnheader" id="jqgrid-table-0_name" style="width: 159px;">

<span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;
</span>

<div id="jqgh_jqgrid-table-0_name" class="ui-jqgrid-sortable">Client

<span style="display:none" class="s-ico">

<span class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr" sort="asc">
</span>

<span class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr" sort="desc">
</span>
</span>
</div>
</th>
<th class="" role="columnheader" id="jqgrid-table-0_amount" style="width: 159px;">

<span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;
</span>

<div id="jqgh_jqgrid-table-0_amount" class="ui-jqgrid-sortable">Amount

<span style="display:none" class="s-ico">

<span class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr" sort="asc">
</span>

<span class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr" sort="desc">
</span>
</span>
</div>
</th>
<th class="" role="columnheader" id="jqgrid-table-0_tax" style="width: 159px;">

<span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;
</span>

<div id="jqgh_jqgrid-table-0_tax" class="ui-jqgrid-sortable">Tax

<span style="display:none" class="s-ico">

<span class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr" sort="asc">
</span>

<span class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr" sort="desc">
</span>
</span>
</div>
</th>
<th class="" role="columnheader" id="jqgrid-table-0_total" style="width: 159px;">

<span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;
</span>

<div id="jqgh_jqgrid-table-0_total" class="ui-jqgrid-sortable">Total

<span style="display:none" class="s-ico">

<span class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr" sort="asc">
</span>

<span class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr" sort="desc">
</span>
</span>
</div>
</th>
<th class="" role="columnheader" id="jqgrid-table-0_note" style="width: 157px;">

<span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;
</span>

<div id="jqgh_jqgrid-table-0_note" class="ui-jqgrid-sortable">Notes

<span style="display:none" class="s-ico">

<span class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr" sort="asc">
</span>

<span class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr" sort="desc">
</span>
</span>
</div>
</th>
</tr></thead>
</table>
</div>
</div>

<div class="ui-jqgrid-bdiv" style="height: auto; width: 1335px;">

<div style="position:relative;">

<div>
</div>
<table cellspacing="0" cellpadding="0" border="0" id="jqgrid-table-0" tabindex="0" role="grid" aria-multiselectable="true" aria-labelledby="gbox_jqgrid-table-0" class="ui-jqgrid-btable table table-bordered table-striped" style="width: 1335px;"><tbody>
<tr style="height:auto" role="row" class="jqgfirstrow">
<td style="height:0px;width:20px;" role="gridcell">
</td>
<td style="height:0px;width:159px;" role="gridcell">
</td>
<td style="height:0px;width:159px;" role="gridcell">
</td>
<td style="height:0px;width:159px;" role="gridcell">
</td>
<td style="height:0px;width:159px;" role="gridcell">
</td>
<td style="height:0px;width:159px;" role="gridcell">
</td>
<td style="height:0px;width:159px;" role="gridcell">
</td>
<td style="height:0px;width:159px;" role="gridcell">
</td>
<td style="height: 0px; width: 157px;" role="gridcell">
</td>
</tr>
<tr class="ui-widget-content jqgrow ui-row-ltr" tabindex="-1" id="1" role="row">
<td aria-describedby="jqgrid-table-0_cb" style="text-align:center;width: 20px;" role="gridcell">
<input type="checkbox" name="jqg_jqgrid-table-0_1" class="cbox" id="jqg_jqgrid-table-0_1" role="checkbox">
</td>
<td aria-describedby="jqgrid-table-0_act" title="" style="" role="gridcell"><button ng-click="editRow(1)" tooltip-append-to-body="true" tooltip="Edit Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-pencil"></i></button><button ng-click="saveRow(1)" tooltip-append-to-body="true" tooltip="Save Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-save"></i></button><button ng-click="restoreRow(1)" tooltip-append-to-body="true" tooltip="Cancel" class="btn btn-xs btn-default ng-scope"><i class="fa fa-times"></i></button>
</td>
<td aria-describedby="jqgrid-table-0_id" title="1" style="" role="gridcell">1
</td>
<td aria-describedby="jqgrid-table-0_date" title="2007-10-01" style="" role="gridcell">2007-10-01
</td>
<td aria-describedby="jqgrid-table-0_name" title="test" style="" role="gridcell">test
</td>
<td aria-describedby="jqgrid-table-0_amount" title="200.00" style="text-align:right;" role="gridcell">200.00
</td>
<td aria-describedby="jqgrid-table-0_tax" title="10.00" style="text-align:right;" role="gridcell">10.00
</td>
<td aria-describedby="jqgrid-table-0_total" title="210.00" style="text-align:right;" role="gridcell">210.00
</td>
<td aria-describedby="jqgrid-table-0_note" title="note" style="" role="gridcell">note
</td>
</tr>
<tr class="ui-widget-content jqgrow ui-row-ltr" tabindex="-1" id="10" role="row">
<td aria-describedby="jqgrid-table-0_cb" style="text-align:center;" role="gridcell">
<input type="checkbox" name="jqg_jqgrid-table-0_10" class="cbox" id="jqg_jqgrid-table-0_10" role="checkbox">
</td>
<td aria-describedby="jqgrid-table-0_act" title="" style="" role="gridcell"><button ng-click="editRow(10)" tooltip-append-to-body="true" tooltip="Edit Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-pencil"></i></button><button ng-click="saveRow(10)" tooltip-append-to-body="true" tooltip="Save Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-save"></i></button><button ng-click="restoreRow(10)" tooltip-append-to-body="true" tooltip="Cancel" class="btn btn-xs btn-default ng-scope"><i class="fa fa-times"></i></button>
</td>
<td aria-describedby="jqgrid-table-0_id" title="10" style="" role="gridcell">10
</td>
<td aria-describedby="jqgrid-table-0_date" title="2007-10-01" style="" role="gridcell">2007-10-01
</td>
<td aria-describedby="jqgrid-table-0_name" title="test" style="" role="gridcell">test
</td>
<td aria-describedby="jqgrid-table-0_amount" title="200.00" style="text-align:right;" role="gridcell">200.00
</td>
<td aria-describedby="jqgrid-table-0_tax" title="10.00" style="text-align:right;" role="gridcell">10.00
</td>
<td aria-describedby="jqgrid-table-0_total" title="210.00" style="text-align:right;" role="gridcell">210.00
</td>
<td aria-describedby="jqgrid-table-0_note" title="note" style="" role="gridcell">note
</td>
</tr>
<tr class="ui-widget-content jqgrow ui-row-ltr" tabindex="-1" id="11" role="row">
<td aria-describedby="jqgrid-table-0_cb" style="text-align:center;" role="gridcell">
<input type="checkbox" name="jqg_jqgrid-table-0_11" class="cbox" id="jqg_jqgrid-table-0_11" role="checkbox">
</td>
<td aria-describedby="jqgrid-table-0_act" title="" style="" role="gridcell"><button ng-click="editRow(11)" tooltip-append-to-body="true" tooltip="Edit Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-pencil"></i></button><button ng-click="saveRow(11)" tooltip-append-to-body="true" tooltip="Save Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-save"></i></button><button ng-click="restoreRow(11)" tooltip-append-to-body="true" tooltip="Cancel" class="btn btn-xs btn-default ng-scope"><i class="fa fa-times"></i></button>
</td>
<td aria-describedby="jqgrid-table-0_id" title="11" style="" role="gridcell">11
</td>
<td aria-describedby="jqgrid-table-0_date" title="2007-10-02" style="" role="gridcell">2007-10-02
</td>
<td aria-describedby="jqgrid-table-0_name" title="test2" style="" role="gridcell">test2
</td>
<td aria-describedby="jqgrid-table-0_amount" title="300.00" style="text-align:right;" role="gridcell">300.00
</td>
<td aria-describedby="jqgrid-table-0_tax" title="20.00" style="text-align:right;" role="gridcell">20.00
</td>
<td aria-describedby="jqgrid-table-0_total" title="320.00" style="text-align:right;" role="gridcell">320.00
</td>
<td aria-describedby="jqgrid-table-0_note" title="note2" style="" role="gridcell">note2
</td>
</tr>
<tr class="ui-widget-content jqgrow ui-row-ltr" tabindex="-1" id="12" role="row">
<td aria-describedby="jqgrid-table-0_cb" style="text-align:center;" role="gridcell">
<input type="checkbox" name="jqg_jqgrid-table-0_12" class="cbox" id="jqg_jqgrid-table-0_12" role="checkbox">
</td>
<td aria-describedby="jqgrid-table-0_act" title="" style="" role="gridcell"><button ng-click="editRow(12)" tooltip-append-to-body="true" tooltip="Edit Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-pencil"></i></button><button ng-click="saveRow(12)" tooltip-append-to-body="true" tooltip="Save Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-save"></i></button><button ng-click="restoreRow(12)" tooltip-append-to-body="true" tooltip="Cancel" class="btn btn-xs btn-default ng-scope"><i class="fa fa-times"></i></button>
</td>
<td aria-describedby="jqgrid-table-0_id" title="12" style="" role="gridcell">12
</td>
<td aria-describedby="jqgrid-table-0_date" title="2007-09-01" style="" role="gridcell">2007-09-01
</td>
<td aria-describedby="jqgrid-table-0_name" title="test3" style="" role="gridcell">test3
</td>
<td aria-describedby="jqgrid-table-0_amount" title="400.00" style="text-align:right;" role="gridcell">400.00
</td>
<td aria-describedby="jqgrid-table-0_tax" title="30.00" style="text-align:right;" role="gridcell">30.00
</td>
<td aria-describedby="jqgrid-table-0_total" title="430.00" style="text-align:right;" role="gridcell">430.00
</td>
<td aria-describedby="jqgrid-table-0_note" title="note3" style="" role="gridcell">note3
</td>
</tr>
<tr class="ui-widget-content jqgrow ui-row-ltr" tabindex="-1" id="13" role="row">
<td aria-describedby="jqgrid-table-0_cb" style="text-align:center;" role="gridcell">
<input type="checkbox" name="jqg_jqgrid-table-0_13" class="cbox" id="jqg_jqgrid-table-0_13" role="checkbox">
</td>
<td aria-describedby="jqgrid-table-0_act" title="" style="" role="gridcell"><button ng-click="editRow(13)" tooltip-append-to-body="true" tooltip="Edit Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-pencil"></i></button><button ng-click="saveRow(13)" tooltip-append-to-body="true" tooltip="Save Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-save"></i></button><button ng-click="restoreRow(13)" tooltip-append-to-body="true" tooltip="Cancel" class="btn btn-xs btn-default ng-scope"><i class="fa fa-times"></i></button>
</td>
<td aria-describedby="jqgrid-table-0_id" title="13" style="" role="gridcell">13
</td>
<td aria-describedby="jqgrid-table-0_date" title="2007-10-04" style="" role="gridcell">2007-10-04
</td>
<td aria-describedby="jqgrid-table-0_name" title="test" style="" role="gridcell">test
</td>
<td aria-describedby="jqgrid-table-0_amount" title="200.00" style="text-align:right;" role="gridcell">200.00
</td>
<td aria-describedby="jqgrid-table-0_tax" title="10.00" style="text-align:right;" role="gridcell">10.00
</td>
<td aria-describedby="jqgrid-table-0_total" title="210.00" style="text-align:right;" role="gridcell">210.00
</td>
<td aria-describedby="jqgrid-table-0_note" title="note" style="" role="gridcell">note
</td>
</tr>
<tr class="ui-widget-content jqgrow ui-row-ltr" tabindex="-1" id="14" role="row">
<td aria-describedby="jqgrid-table-0_cb" style="text-align:center;" role="gridcell">
<input type="checkbox" name="jqg_jqgrid-table-0_14" class="cbox" id="jqg_jqgrid-table-0_14" role="checkbox">
</td>
<td aria-describedby="jqgrid-table-0_act" title="" style="" role="gridcell"><button ng-click="editRow(14)" tooltip-append-to-body="true" tooltip="Edit Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-pencil"></i></button><button ng-click="saveRow(14)" tooltip-append-to-body="true" tooltip="Save Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-save"></i></button><button ng-click="restoreRow(14)" tooltip-append-to-body="true" tooltip="Cancel" class="btn btn-xs btn-default ng-scope"><i class="fa fa-times"></i></button>
</td>
<td aria-describedby="jqgrid-table-0_id" title="14" style="" role="gridcell">14
</td>
<td aria-describedby="jqgrid-table-0_date" title="2007-10-05" style="" role="gridcell">2007-10-05
</td>
<td aria-describedby="jqgrid-table-0_name" title="test2" style="" role="gridcell">test2
</td>
<td aria-describedby="jqgrid-table-0_amount" title="300.00" style="text-align:right;" role="gridcell">300.00
</td>
<td aria-describedby="jqgrid-table-0_tax" title="20.00" style="text-align:right;" role="gridcell">20.00
</td>
<td aria-describedby="jqgrid-table-0_total" title="320.00" style="text-align:right;" role="gridcell">320.00
</td>
<td aria-describedby="jqgrid-table-0_note" title="note2" style="" role="gridcell">note2
</td>
</tr>
<tr class="ui-widget-content jqgrow ui-row-ltr" tabindex="-1" id="15" role="row">
<td aria-describedby="jqgrid-table-0_cb" style="text-align:center;" role="gridcell">
<input type="checkbox" name="jqg_jqgrid-table-0_15" class="cbox" id="jqg_jqgrid-table-0_15" role="checkbox">
</td>
<td aria-describedby="jqgrid-table-0_act" title="" style="" role="gridcell"><button ng-click="editRow(15)" tooltip-append-to-body="true" tooltip="Edit Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-pencil"></i></button><button ng-click="saveRow(15)" tooltip-append-to-body="true" tooltip="Save Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-save"></i></button><button ng-click="restoreRow(15)" tooltip-append-to-body="true" tooltip="Cancel" class="btn btn-xs btn-default ng-scope"><i class="fa fa-times"></i></button>
</td>
<td aria-describedby="jqgrid-table-0_id" title="15" style="" role="gridcell">15
</td>
<td aria-describedby="jqgrid-table-0_date" title="2007-09-06" style="" role="gridcell">2007-09-06
</td>
<td aria-describedby="jqgrid-table-0_name" title="test3" style="" role="gridcell">test3
</td>
<td aria-describedby="jqgrid-table-0_amount" title="400.00" style="text-align:right;" role="gridcell">400.00
</td>
<td aria-describedby="jqgrid-table-0_tax" title="30.00" style="text-align:right;" role="gridcell">30.00
</td>
<td aria-describedby="jqgrid-table-0_total" title="430.00" style="text-align:right;" role="gridcell">430.00
</td>
<td aria-describedby="jqgrid-table-0_note" title="note3" style="" role="gridcell">note3
</td>
</tr>
<tr class="ui-widget-content jqgrow ui-row-ltr" tabindex="-1" id="16" role="row">
<td aria-describedby="jqgrid-table-0_cb" style="text-align:center;" role="gridcell">
<input type="checkbox" name="jqg_jqgrid-table-0_16" class="cbox" id="jqg_jqgrid-table-0_16" role="checkbox">
</td>
<td aria-describedby="jqgrid-table-0_act" title="" style="" role="gridcell"><button ng-click="editRow(16)" tooltip-append-to-body="true" tooltip="Edit Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-pencil"></i></button><button ng-click="saveRow(16)" tooltip-append-to-body="true" tooltip="Save Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-save"></i></button><button ng-click="restoreRow(16)" tooltip-append-to-body="true" tooltip="Cancel" class="btn btn-xs btn-default ng-scope"><i class="fa fa-times"></i></button>
</td>
<td aria-describedby="jqgrid-table-0_id" title="16" style="" role="gridcell">16
</td>
<td aria-describedby="jqgrid-table-0_date" title="2007-10-04" style="" role="gridcell">2007-10-04
</td>
<td aria-describedby="jqgrid-table-0_name" title="test" style="" role="gridcell">test
</td>
<td aria-describedby="jqgrid-table-0_amount" title="200.00" style="text-align:right;" role="gridcell">200.00
</td>
<td aria-describedby="jqgrid-table-0_tax" title="10.00" style="text-align:right;" role="gridcell">10.00
</td>
<td aria-describedby="jqgrid-table-0_total" title="210.00" style="text-align:right;" role="gridcell">210.00
</td>
<td aria-describedby="jqgrid-table-0_note" title="note" style="" role="gridcell">note
</td>
</tr>
<tr class="ui-widget-content jqgrow ui-row-ltr" tabindex="-1" id="17" role="row">
<td aria-describedby="jqgrid-table-0_cb" style="text-align:center;" role="gridcell">
<input type="checkbox" name="jqg_jqgrid-table-0_17" class="cbox" id="jqg_jqgrid-table-0_17" role="checkbox">
</td>
<td aria-describedby="jqgrid-table-0_act" title="" style="" role="gridcell"><button ng-click="editRow(17)" tooltip-append-to-body="true" tooltip="Edit Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-pencil"></i></button><button ng-click="saveRow(17)" tooltip-append-to-body="true" tooltip="Save Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-save"></i></button><button ng-click="restoreRow(17)" tooltip-append-to-body="true" tooltip="Cancel" class="btn btn-xs btn-default ng-scope"><i class="fa fa-times"></i></button>
</td>
<td aria-describedby="jqgrid-table-0_id" title="17" style="" role="gridcell">17
</td>
<td aria-describedby="jqgrid-table-0_date" title="2007-10-03" style="" role="gridcell">2007-10-03
</td>
<td aria-describedby="jqgrid-table-0_name" title="test2" style="" role="gridcell">test2
</td>
<td aria-describedby="jqgrid-table-0_amount" title="300.00" style="text-align:right;" role="gridcell">300.00
</td>
<td aria-describedby="jqgrid-table-0_tax" title="20.00" style="text-align:right;" role="gridcell">20.00
</td>
<td aria-describedby="jqgrid-table-0_total" title="320.00" style="text-align:right;" role="gridcell">320.00
</td>
<td aria-describedby="jqgrid-table-0_note" title="note2" style="" role="gridcell">note2
</td>
</tr>
<tr class="ui-widget-content jqgrow ui-row-ltr" tabindex="-1" id="18" role="row">
<td aria-describedby="jqgrid-table-0_cb" style="text-align:center;" role="gridcell">
<input type="checkbox" name="jqg_jqgrid-table-0_18" class="cbox" id="jqg_jqgrid-table-0_18" role="checkbox">
</td>
<td aria-describedby="jqgrid-table-0_act" title="" style="" role="gridcell"><button ng-click="editRow(18)" tooltip-append-to-body="true" tooltip="Edit Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-pencil"></i></button><button ng-click="saveRow(18)" tooltip-append-to-body="true" tooltip="Save Row" class="btn btn-xs btn-default ng-scope"><i class="fa fa-save"></i></button><button ng-click="restoreRow(18)" tooltip-append-to-body="true" tooltip="Cancel" class="btn btn-xs btn-default ng-scope"><i class="fa fa-times"></i></button>
</td>
<td aria-describedby="jqgrid-table-0_id" title="18" style="" role="gridcell">18
</td>
<td aria-describedby="jqgrid-table-0_date" title="2007-09-01" style="" role="gridcell">2007-09-01
</td>
<td aria-describedby="jqgrid-table-0_name" title="test3" style="" role="gridcell">test3
</td>
<td aria-describedby="jqgrid-table-0_amount" title="400.00" style="text-align:right;" role="gridcell">400.00
</td>
<td aria-describedby="jqgrid-table-0_tax" title="30.00" style="text-align:right;" role="gridcell">30.00
</td>
<td aria-describedby="jqgrid-table-0_total" title="430.00" style="text-align:right;" role="gridcell">430.00
</td>
<td aria-describedby="jqgrid-table-0_note" title="note3" style="" role="gridcell">note3
</td>
</tr></tbody>
</table>
</div>
</div>
</div>

<div id="rs_mjqgrid-table-0" class="ui-jqgrid-resize-mark">&nbsp;
</div>

<div class="jqgrid-pagination ui-jqgrid-pager ui-corner-bottom" id="jqgrid-pager-0" style="width: 1335px;" dir="ltr">

<div role="group" class="ui-pager-control" id="pg_jqgrid-pager-0">
<table cellspacing="0" cellpadding="0" border="0" role="row" style="width:100%;table-layout:fixed;height:100%;" class="ui-pg-table"><tbody>
<tr>
<td align="left" id="jqgrid-pager-0_left">
<table cellspacing="0" cellpadding="0" border="0" style="float:left;table-layout:auto;" class="ui-pg-table navtable"><tbody>
<tr>
<td class="ui-pg-button ui-corner-all" title="Delete selected row" id="del_jqgrid-table-0">

<div class="btn btn-sm btn-primary">

<span class="fa fa-trash-o">
</span>
</div>
</td>
<td style="width:4px;" class="ui-pg-button ui-state-disabled">

<span class="ui-separator">
</span>
</td>
<td class="ui-pg-button ui-corner-all" title="Find records" id="search_jqgrid-table-0">

<div class="btn btn-sm btn-primary">

<span class="fa fa-search">
</span>
</div>
</td>
<td class="ui-pg-button ui-corner-all" title="Reload Grid" id="refresh_jqgrid-table-0">

<div class="btn btn-sm btn-primary">

<span class="fa fa-refresh">
</span>
</div>
</td>
<td class="ui-pg-button ui-corner-all" id="jqgrid-table-0_iladd" title="Add new row">

<div class="btn btn-sm btn-primary">

<span class="fa fa-plus">
</span>
</div>
</td>
<td class="ui-pg-button ui-corner-all" id="jqgrid-table-0_iledit" title="Edit selected row">

<div class="btn btn-sm btn-primary">

<span class="fa fa-pencil">
</span>
</div>
</td>
<td class="ui-pg-button ui-corner-all ui-state-disabled" id="jqgrid-table-0_ilsave" title="Save row">

<div class="btn btn-sm btn-success">

<span class="fa fa-save">
</span>
</div>
</td>
<td class="ui-pg-button ui-corner-all ui-state-disabled" id="jqgrid-table-0_ilcancel" title="Cancel row editing">

<div class="btn btn-sm btn-danger">

<span class="fa fa-times">
</span>
</div>
</td>
</tr></tbody>
</table>
</td>
<td align="center" style="white-space: pre; width: 311px;" id="jqgrid-pager-0_center">
<table cellspacing="0" cellpadding="0" border="0" class="ui-pg-table" style="table-layout:auto;"><tbody>
<tr>
<td class="ui-pg-button ui-corner-all ui-state-disabled" id="first_jqgrid-pager-0">

<div class="btn btn-sm btn-default">

<span class="fa fa-fast-backward">
</span>
</div>
</td>
<td class="ui-pg-button ui-corner-all ui-state-disabled" id="prev_jqgrid-pager-0">

<div class="btn btn-sm btn-default">

<span class="fa fa-backward">
</span>
</div>
</td>
<td style="width:4px;" class="ui-pg-button ui-state-disabled">

<span class="ui-separator">
</span>
</td>
<td dir="ltr">Page 
<input type="text" role="textbox" value="0" maxlength="7" size="2" class="ui-pg-input"> of 

<span id="sp_1_jqgrid-pager-0">2
</span>
</td>
<td style="width:4px;" class="ui-pg-button ui-state-disabled">

<span class="ui-separator">
</span>
</td>
<td class="ui-pg-button ui-corner-all" id="next_jqgrid-pager-0">

<div class="btn btn-sm btn-default">

<span class="fa fa-forward">
</span>
</div>
</td>
<td class="ui-pg-button ui-corner-all" id="last_jqgrid-pager-0">

<div class="btn btn-sm btn-default">

<span class="fa fa-fast-forward">
</span>
</div>
</td>
<td dir="ltr">
<select role="listbox" class="ui-pg-selbox">

<option selected="selected" value="10" role="option">10</option>

<option value="20" role="option">20</option>

<option value="30" role="option">30</option>
</select>
</td>
</tr></tbody>
</table>
</td>
<td align="right" id="jqgrid-pager-0_right">

<div class="ui-paging-info" style="text-align:right" dir="ltr">View 1 - 10 of 18
</div>
</td>
</tr></tbody>
</table>
</div>
</div>
</div>
</div>

                
<br>
                <a ng-click="getSelection()">Get Selected id's</a>
                
<br>
                <a ng-click="selectRow(13)">Select(Unselect) row 13</a>

            </article>


        
</div>

    </section>

</div>