{% extends 'base.html' %}

{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block info%}{% endblock %}




{% block content %}
    <section id="neighboured_second">
        <div class="container">
            {% block SignIn %}
            <div class="row">
                <div class="col-md-12">                
                    <div class="inner_headline1"></div>
                    <!--a href="/signout">logout</a-->                
                    <div class="main_sign_in" ng-controller="{% block ng_controller %}SignInController{% endblock %}"><!--sign in left form part start here-->
                    <div id="LoginStatus"></div>
                        <p>
                            {{ flatpage.content }}
                        </p>                  
                    </div><!--sign in left form part close here-->           
                  
                </div>
            </div>
        {% endblock %}
        </div>
    </section>
{% endblock %}
{% block lenderlink %}{% endblock lenderlink %}
{% block slider %}{% endblock slider %}
{% block quickstart_top %}{% endblock quickstart_top %}
{% block quickstart_bottom %}{% endblock quickstart_bottom %}
{% block ng_app %}app.app.static{% endblock %}