{% load i18n %}
                <!--li class="helptext-note">
                    {% blocktrans %}Fields marked with <span class="required-symbol">*</span> are required{% endblocktrans %}
                </li-->

            {% if form.non_field_errors %}
                <li class="errors">
                    {{ form.non_field_errors.as_ul }}
                </li>
            {% endif %}
            

                <div class="{% if field.is_hidden %}hidden-entry{% else %}entry{% endif %} input-group margin-bottom-20 noene_user">
                {% if field.is_hidden %}
                    <div class="hidden-field">{{ field }}</div>
                {% else %}
                  
                        {{ field.label_tag }}
                        {% if field.field.required %}
                       
                        {% endif %}
                        {% if field.help_text %}
                        <div class="helptext">{{ field.help_text }}</div>
                        {% endif %}
                    </div>
                    <div class="field my_ipt">{{ form.username  }}{{ form.username.errors }}</div>
                     <div class="field my_email">{{ form.email  }}{{ form.email.errors }}</div>
                     <div class="field my_pass">{{ form.password  }}{{ form.password.errors }}</div>
                      <div class="field my_pass">{{ form.password1  }}{{ form.password1.errors }}</div>
                       <div class="field my_pass">{{ form.password2  }}{{ form.password2.errors }}</div>
                       <div class="field my_pass">{{ form.new_password1  }}{{ form.new_password1.errors }}</div>
                       <div class="field my_pass">{{ form.new_password2  }}{{ form.new_password2.errors }}</div>
            	    
                {% endif %}
                

           
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_username").attr('placeholder', 'Username' );
        $("#id_password").attr('placeholder', 'Password');
        $("#id_new_password1").attr('placeholder', 'Password' );
        $("#id_new_password2").attr('placeholder', 'Confirm Password' );
        
    });
</script>
