<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <subject><h2>Welcome to LocalLenders.Net</h2></subject>
    <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
        font-size: 11px;">
        <tbody>
            <tr>
                <td>
                    <table width="598" cellspacing="0" cellpadding="0" border="0" style="border-collapse: separate;
                        border: 1px solid rgb(217, 217, 217); font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
                        font-size: 11px;">
                        <tbody>
                            <tr>
                                <td width="17" valign="top" height="66" align="left">
                                    &nbsp;
                                </td>
                                <td valign="middle" align="left" style="border-bottom: 1px solid rgb(219, 219, 219);"
                                    id="Td1">
                                    <img alt="" src="/static/img/lender_logo.png" />
                                </td>
                                <td width="17" valign="top" align="left">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" height="40" align="left" style="width: 17px;">
                                    &nbsp;
                                </td>
                                <td valign="middle" align="left" style="font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
                                    color: rgb(255, 129, 8); font-size: 20px;">
                                    Manager Account Info
                                </td>
                                <td valign="top" align="left">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td width="17" valign="top" align="left">
                                    &nbsp;
                                </td>
                                <td valign="top" align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0" style="font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px;">
                                        <tbody>
                                            <tr>
                                                <td valign="top" align="left">
                                                    Dear <strong>{{username}}</strong>,<br />
                                                    Your Store info is either added or modified To find out latest details use following threads of info to access your account portal:<br>
                                                    <b>Click here to login: </b><a href="{{login}}">{{login}}</a><br />
                                                    <b>UserName:</b>{{username}}<br />
                                                    <b>Password:</b>{{password}}<br />
                                                </td>
                                            <tr>
                                                <td valign="top" align="left" height="11"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left" style="font-size: 11px; color: #000000; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;">
                                                    Thanks for staying classy,
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left" height="11">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left">
                                                    <img alt="" src="lmb_signature.gif" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="bottom" align="left" style="height: 10px; border-bottom: 1px solid rgb(219, 219, 219);">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left" height="10">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left" style="font-size: 11px; color: #000000; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;">
                                                    <p>
                                    
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left" height="10">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left">
                                                    <a target="_blank" href="${data["Contact-Us"]}" style="text-decoration: none;">
                                                        <img border="0" src="report_email.gif" alt="" /></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left" height="13">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="17" valign="top" align="left">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
			<tr>
                <td valign="top" align="left" colspan="5" height="10">
                </td>
            </tr>
            <tr>
			</tr>
			<tr>
                <td valign="top" align="left" colspan="5" height="7">
                </td>
            </tr>
			<tr>
                <td valign="top" align="left" style="font-size: 11px;color:#888888;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;" colspan="5">
                        Please do not reply to this message using your default email application. You will
                        want to use the button or the link directly below it found in the body of the message,
                        as these will take you directly to the LocalLenders.Net site for your response. Please
                        note, this notification is a service email related to your use of LocalLenders.Net.
                </td>
			</tr>
			<tr>
                <td valign="top" align="left" colspan="5" height="7">
                </td>
            </tr>
			<tr>
                <td valign="top" align="left" style="font-size: 11px;color:#888888;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;" colspan="5">
                        If your heart is set on sending us snail mail, please send it to:<br />
                        LocalLenders.Net | Haystack Analytics, LLC | 151 Daniel Morgan Ave, Spartanburg, SC, 29306 | Call: 864-396-2656, info@locallenders.net
                </td>
			</tr>
			<tr>
                <td valign="top" align="left" colspan="5" height="7">
                </td>
            </tr>
			<tr>
                <td valign="top" align="left" style="font-size: 11px;color:#888888;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;" colspan="5">
                        &copy; 2011 to Present - LocalLenders.Net, Inc.
                </td>
			</tr>
        </tbody>
    </table>
</body>
</html>