
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="" data-ember-extension="1">
<head>
<title>Example - Simple Event Registration Form - HTML report</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link media="print, projection, screen" type="text/css" href="http://www.jotformeu.com/opt/tablesorter/themes/theme.blue.css" rel="stylesheet">
<style>
<link href="http://www.jotformeu.com/opt/tablesorter/addons/tooltipster/tooltipster.css" type="text/css" rel="stylesheet">
<link href="http://www.jotformeu.com/opt/tablesorter/addons/fancybox/jquery.fancybox.css" type="text/css" rel="stylesheet">
<script src="http://www.jotformeu.com/js/vendor/jquery-1.11.1.min.js" type="text/javascript">
<script src="http://www.jotformeu.com/opt/tablesorter/addons/tooltipster/tooltipster.js?v3=3.2.3906" type="text/javascript">
<script src="http://www.jotformeu.com/opt/tablesorter/addons/fancybox/jquery.fancybox.pack.js?v3=3.2.3906" type="text/javascript">
<script src="http://www.jotformeu.com/opt/tablesorter/jquery.tablesorter.min.js?v3=3.2.3906" type="text/javascript">
<script src="http://www.jotformeu.com/opt/tablesorter/jquery.tablesorter.widgets.min.js?v3=3.2.3906" type="text/javascript">
<script src="http://www.jotformeu.com/opt/tablesorter/addons/linkify/linkify_1.0.js?v3=3.2.3906" type="text/javascript">
<script src="http://www.jotformeu.com/opt/tablesorter/addons/imagemod/imageinfo.js?v3=3.2.3906" type="text/javascript">
<script type="text/vbscript">
<script src="http://www.jotformeu.com/opt/tablesorter/addons/imagemod/imagerotate.js?v3=3.2.3906" type="text/javascript">
<script src="http://www.jotformeu.com/opt/tablesorter/mainscript.js?v3=3.2.3906" type="text/javascript">
<script src="http://www.jotformeu.com/server.php?action=getListingSettings&listingID=23596727143056&callback=jf_Reports.tableInit" type="text/javascript">
<style type="text/css">
.fancybox-margin{margin-right:13px;}
</style>
</head>
<body>
<table id="data-table" class="tablesorter tablesorter-blue" cellspacing="0" cellpadding="8" border="1">
<thead>
<tr>
<th nowrap="">Ip Address</th>
<th nowrap="">Social Security Number</th>
<th nowrap="">Decision_status</th>
<th nowrap="">Decisioning_data</th>
<th nowrap="">Added_on</th>
</tr>
</thead>
<tbody>{% for data in dictList %}
<tr>
<td>{{data.ip_address}}</td>
<td>{{data.ssn}}</td>
<td>{{data.dec_status}}</td>
<td>{{data.decisioning_data}}</td>
<td>{{data.added_on}}</td>
</tr>
<tr>
<tr>
<tr>
<tr>
<tr>
</tbody>{% endfor %}
</table>
</body>
</html>
