{% extends "lenders/dashboard.html" %}
{% block title %}Accounts Dashboard{% endblock title %}
{% block right_span_default %}{% endblock right_span_default %}
{% block right_span_payment %}
{{ block.super }}
   <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  
   
   
   <div id="loader_app"></div>
   <div class="col-md-12 col-sm-12">
    <div class="row">
        <div class="col-xs-12">
            {% include "djstripe/includes/_subscription_status.html" %}
          
        </div>
    </div>
    <div class="well">
    <div class="customer_profile_dashboard accountTheme">
    <div class="report_card">
    <div class="row">
        <div class="col-xs-12">
           <!--  {% include "djstripe/includes/_subscription_status.html" %} -->
            <h2 class="plastic_moral"><div class="inner_heading_part-2">Account Information</div></h2>
        </div>
    </div>
    
  <div class="acnt_tils_theme"> 
      
	    <div class="start_impacted">
            <ul>
              <li class="acnt_crdt_fst"> <i class="fa fa-credit-card"></i> <h4>Credit Card on file.</h4>
                <a class="btn btn-info apart_product_3" data-toggle="modal" href="#show-card">Show Card</a>
                 <a class="btn btn-primary  apart_product_3" href="{% url 'djstripe:change_card' %}">Change Card</a>
              </li>
               
              
                   
                
	   
	    
      
        
 
    
   
	   

    {% if subscription.is_status_current and not subscription.is_status_temporarily_current %}<li><p>Next billed on {{ subscription.current_period_end|date }}.</p>

        <i class="fa fa-hand-o-up"></i>
	    <p><h4 class="chng_sbcrb_lbl">You can </h4><a href="{% url 'djstripe:subscribe' %}">change</a> your or <a href="{% url 'djstripe:cancel_subscription' %}">cancel</a> your subscription.
    	    </p>
	    </li>
	    
    {% else %}
	<li>
        <i class="fa fa-hand-o-up"></i>
	    <p><h4>You can </h4><a href="{% url 'djstripe:subscribe' %}" class="btn btn-warning apart_product">Subscribe</a></p>
     </li>
	
	<li>
        <i class="fa fa-dollar"></i>
	    <p class="hood"><h4>Single time payment</h4>  <a class="btn btn-danger sinle_payment" data-toggle="modal" href="#stripe_card" >Single time pyment</a></p>
     </li>
	
<li><i class="fa fa-users"></i>
    <p><h4>Or consult here your </h4><a class="btn btn-primary" href="{% url 'djstripe:history' %}">Payment history</a></p></li>	
    {% endif %}
  
    </ul>
	    </div>
    
</div>    

    {% if plans %}
        {# Show available plans #}
        <div class="row">
            <div class="col-xs-12">
                <h2 class="plastic_moral"><div class="inner_heading_part-2">Subscription</div></h2>
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-6">
            	{# Do not show next billing if subscription has been canceled although is still active #}
            	{% if subscription.is_status_current and not subscription.is_status_temporarily_current %}
            	<p>Next billed on {{ subscription.current_period_end|date }}.</p>
            	<p>You can <a href="{% url 'djstripe:change_plan' %}">change</a> your plan
					or <a href="{% url 'djstripe:cancel_subscription' %}">cancel</a> your subscription.
    			</p>
				{% else %}
				<p class="dimension_plus">You can <a href="{% url 'djstripe:subscribe' %}">subscribe</a>.</p>
    			{% endif %}
    			<p class="dimension_plus">Or consult here your <a href="{% url 'djstripe:history' %}">payment history</a>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover picus">
                    <thead>
                        <tr>
                            <th>Plan</th>
                            <th>Interval</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for plan in plans %}
                            <tr {% if plan.plan == subscription.plan %} 
        						{% if subscription.is_status_current and not subscription.is_status_temporarily_current and subscription.status != subscription.STATUS_TRIALING %} 
        							class="success" 
        						{% elif subscription.is_status_temporarily_current or subscription.status == subscription.STATUS_TRIALING %} 
        							class="warning" 
        						{% endif %}
        					{% endif %}>
                            
                                <td>{{ plan.name }}</td>
                                <td>{{ plan.interval.title }}ly</td>
                                <td>{{ plan.description }}</td>
                                <td>
                                	{% if plan.plan == subscription.plan and subscription.status != subscription.STATUS_CANCELLED %}
                                        <strong>Your plan</strong>
                                    {% else %}
                                        Not your plan
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {# No plans so just show payment history #}
        {% include "djstripe/includes/_history_table.html" %}
    {% endif %}
</div>

  <!-- Modal for showing card -->
  <div class="modal fade" id="show-card">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title stript_heading">Card on File</h4>
        </div>
        <div class="modal-body">
	    <div class="card_value">
            <p><strong>Type:</strong> {{ customer.card_kind }}</p>
            <p><strong>Last 4 Digits:</strong> {{ customer.card_last_4 }}</p>
            <p><small>For security, your card information is stored on <a href="https://stripe.com">stripe.com</a>.</small></p>
	    </div>
	    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <!------stripe payment Form!--->
  <!-- Modal for showing card -->
  <div class="modal fade strp_pay_amnt" id="stripe_card">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title stript_heading">Stripe Single time Payment</h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
          <div class="paymnt_label"><i class="fa fa-lock"></i>Your payment details are secured via 128 Bit encryption by Verisign </div>
<form action="" method="POST" class="paytym_ui" id="payment-form">{% csrf_token %}
    <span class="payment-errors"></span>

    <div class="strip_value">
      <label> Amount:</label>
      <input type="text" size="20" id="amonut" data-stripe="amount" class="stripe_button form-control"/>
    </div>

    <div class="strip_value">
      <label>Enter Card Number</label>
      <input type="text" size="16"  maxlength="16" data-stripe="number" class="stripe_button form-control paytym_card_stripe"/>
    </div>
    <div class="strip_cvw_code">
      <div class="strip_value left_strip_cd">
        <label>CVC</label>
          <input type="text" size="4" data-stripe="cvc" class="stripe_button form-control"/>
      </div>

      <div class="strip_value right_strip_cd">
        <label>Expiration (MM/YYYY)</label>
          <input type="text" size="2" data-stripe="exp-month" class="striped_button"/>
        <span> / </span>
        <input type="text" size="4" data-stripe="exp-year" class="striped_button"/>
      </div>
    </div>
    <p class="no_expiry_dt"> If your Card does not have Expiry Date/CVV, skip these fields
    Cancel<p>
    <div class="strip_value">
    <label></label>
    <input type="submit" value="Submit Payment" class="stripping_button btn btn-primary">
    </div>
	
  </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" id="closedstripe" data-dismiss="modal">Close</button>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  
</div>
</div>
</div>

  
  
<!-------------End Stripe form paymet !------------------------->
{% endblock right_span_payment %}

{% block javascript %}
{{ block.super }}
{% if plans %}
    
    <script>
        $(function() {
            $.post("{% url 'djstripe:sync_history' %}", function(data) {
                $('#history-table').html(data);
            });
        });
    </script>
{% else %}
    <script>
        $(function() {
            $.post("{% url 'djstripe:sync_history' %}", function(data) {
                $('#history-table').html(data);
                $('.in-progress-gif').hide();
            });
        });
    </script>
{% endif %}
<script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_3j0y9oG0BYaFWw8DbkpRiXQt');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
	$('#closedstripe').click();
	$('#in-progress').modal({"keyboard": false})
        $('.progress-bar').animate({width:'+=100%'}, 2000);
		
        // Insert the token into the form so it gets submitted to the server
	$.ajax({
		type: "POST",
		url:'/api/singlepayment/',
		data: {Token:token,Amount:$('#amonut').val()},
		headers: {'Content-Type': 'application/json','X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val()},
		'success' : function(data) {
		 $('#payment-form input').val('');
		  $('#in-progress .modal-header').html("<h4>Successful payment</h4>").css("color","green");
		  setTimeout( "jQuery('#in-progress').hide(1000);",2000 );
		  $('.modal-backdrop').removeClass('modal-backdrop fade in');
		    $form.find('.payment-errors').text(data).css('color','green');
		//    $form.get(0).submit(function( event ) {
		//	alert( "Handler for .submit() called." );
		//	event.preventDefault();
		//    });
	       },
	       'error' : function(request,error)
	       {
		 $('#in-progress .modal-header').html(error);
		  $form.find('.payment-errors').text(data);
	       }
		});
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));	
        // and re-submit
        //$form.get(0).submit(function( event ) {
	//		alert( "Handler for .submit() called." );
	//		event.preventDefault();
	//});
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        //$form.find('button').prop('disabled', true);
	
        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>
{% endblock javascript %}
