{% extends "lenders/dashboard.html" %}

{% block title %}Cancel Subscription{% endblock title %}
{% block right_span_default %}{% endblock right_span_default %}
{% block right_span_payment %}
<div class="col-md-12 col-sm-12">
     <div class="customer_profile_dashboard">
    <div class="report_card">
  <div class="well">  	
    <div class="row">
	<div class="col-xs-12">
	    <ul class="breadcrumb">
	      <li><a href="{% url 'djstripe:account' %}">Home</a></li>
	      <li class="active">Cancel Subscription</li>
	    </ul>
	</div>
    </div>
    
    <div class="row">
	<div class="col-xs-12">
	    <div class="cancel_main cancel_sb_min">
	    <div class="inner_heading_part-2 cancel_sb_spac">Cancel Subscription</div>
	    
		    {% if not customer.current_subscription %}
			    <p>You have no subscription on file.</p>
			    <p>See your <a href="{% url 'djstripe:account' %}">account status</a> or better yet, <a href="{% url 'djstripe:subscribe' %}">subscribe</a>.</p>
    
		    {% elif customer.current_subscription.status == customer.current_subscription.STATUS_CANCELLED %}
			    <p>Your subscription has already been canceled.</p>
			    <p>See your <a href="{% url 'djstripe:account' %}">account status</a> or better yet, get a <a href="{% url 'djstripe:subscribe' %}">fresh subscription</a>.</p>
			    
	    {% elif customer.current_subscription.is_status_temporarily_current %}
     
			    <p>Your subscription has already been canceled.</p>		
			    <p>However, you can still use the site for another {{ customer.current_subscription.current_period_end|timeuntil }}.</p>
			    
	    {% else %}        
    
	    
	   <!--  <p>
	      Are you sure you want to cancel your subscription?
	    </p> -->
    
	    {% block cancellation_ramifications %}
	    <h3 class="cancel_inner">What you lose by cancelling your subscription:</h2>
	    <ul>
	      <li>Access to subscription-only content.</li>
	      <li>Ability to use subscription-only features.</li>
	    </ul>
	    {% endblock cancellation_ramifications %}
    
	    <h3 class="cancel_inner">Are you sure you want to cancel?</h3>
	    <form action="{% url 'djstripe:cancel_subscription' %}" method="post" id="cancel-form">
		{% csrf_token %}
		<a href="{% url 'djstripe:account' %}" class="btn btn-primary open_souce margin-right-10">I change my mind!</a>
		<button class="btn btn-danger open_souce">Cancel my subscription!</button>
	    </form>
	    
	    {% endif %}
	</div>
    </div>
</div>
     </div>
</div>
</div>
     
     </div>
{% endblock right_span_payment %}

