{% extends "lenders/dashboard.html" %}

{% block title %}Payment History{% endblock title %}
{% block right_span_default %}{% endblock right_span_default %}
{% block right_span_payment %}
<div class="col-md-12">
  <div class="customer_profile_dashboard well">
    <div class="report_card">
      
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="{% url 'djstripe:account' %}">Home</a></li>
        <li class="active">Payment History</li>
      </ul>
    </div>
    
      {% include "djstripe/includes/_history_table.html" %}
    </div>
  </div>
</div>
{% endblock right_span_payment %}

{% block javascript %}
{{ block.super }}
<script>
    $(function() {
        $.post("{% url 'djstripe:sync_history' %}", function(data) {
            $('#history-table').html(data);
            $('.in-progress-gif').hide();
        });
    });
</script>
{% endblock %}
