{% extends "lenders/dashboard.html" %}
{% load static djstripe_tags %}

{% block title %}Choose a Subscription{% endblock title %}
{% block right_span_default %}{% endblock right_span_default %}

{% block right_span_payment %}
{{ block.super }}


<div class="col-md-12 col-sm-12">
  <div class="well well-light">
    <div class="customer_profile_dashboard">
    <div class="report_card">
       
<h2 class="plastic_moral mrgn_rmv sbscrb_tckt_tl">Choose a Subscription</h2>

{% if error %}
    <div class="alert alert-error">{{ error }}</div>
{% endif %}
{% if view.error %}
    <div class="alert alert-error">{{ view.error }}</div>
{% endif %}
  <div class="row btn-mang">
      {% for plan in PLAN_LIST %}
        {% with plan_count=PLAN_LIST|length %}
        <div class="col-sm-3">
          <!-- <div class="col-xs-{{ 12|djdiv:plan_count|floatformat }}"> -->
        {% endwith %}
              <form
                {% if not customer.current_subscription or customer.current_subscription.status == CurrentSubscription.STATUS_CANCELLED %}
                    action="{% url 'djstripe:subscribe' %}" class="djstripe-subscribe"  
                    data-key="{{ STRIPE_PUBLIC_KEY }}"
                    data-amount="{{ plan.price }}"
                    data-name="{{ plan.name }}"
                    data-description="{{ plan.description }}"
                {% else %}
                    data-stripe-key="{{ STRIPE_PUBLIC_KEY }}" 
                    action="{% url 'djstripe:change_plan' %}" class="djstripe-change-plan"
                {% endif %}
              method="POST">
              
  
                 
                  {% csrf_token %}
                  <input type="hidden" name="plan" value="{{ plan.plan }}" />
                  <input name="stripe_token" type="hidden" /> 
  
                  <!-- disable this when clicked -->
                  <button
                    {% if customer.current_subscription.plan == plan.plan and customer.current_subscription.status != CurrentSubscription.STATUS_CANCELLED %}
                      disabled="true"
                    {% endif %}
                   type="submit" class="btn btn-primary">
                   <div class="panel panel-teal pricing-big">
                   <div class="panel-heading">
                      <h3 class="panel-title">Light version</h3>
                    </div>
                    <div class="panel-body no-padding text-align-center">
                      <h3 class="success_payment">
                        <div class="the-price">
                            <h1>
                                <strong>
                                {{ plan.name }}
                              </strong>
                            </h1>
                        </div>
                      </h3> 
                      <div class="price-features">
                    {% with image=plan.image|default:"img/default-plan-image.png" %}
                      <img src="{% static image %}" class="img-thumbnail" />
                    {% endwith %}
                    <p class="success_paraph">{{ plan.description }}</p>
                    </div>
                  </div>
                 </div>
                {% if not customer.current_subscription or customer.current_subscription.status == CurrentSubscription.STATUS_CANCELLED %}
                  <!-- do nothing -->
                {% elif customer.current_subscription.plan == plan.plan %}
                  <h4>Your Current Plan</h4>
                {% elif customer.current_subscription.amount < plan.price|djdiv:100 %}
                  <h4>Upgrade</h4>
                {% elif customer.current_subscription.amount > plan.price|djdiv:100 %}
                  <h4>Downgrade</h4>
                {% endif %}
               </button>
  
              </form>
          </div>
      {% endfor %}
  </div>

  
    </div>
    </div>
</div>
  </div>
{% endblock right_span_payment %}

{% block javascript %}
{{ block.super }}
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script text="text/javascript">
    $(function() {
        
        $('body').on("click", '.djstripe-subscribe button[type=submit]', function(e) {
          e.preventDefault();
          // retrieve current $(".djstripe-subscribe")
          var $form = $(e.target).parents('form'),
              token = function(res) {
                $form.find("input[name=stripe_token]").val(res.id);
                $("button[type=submit]").attr("disabled", "true");
                $('#in-progress').modal({"keyboard": false})
                $('.progress-bar').animate({width:'+=100%'}, 2000);
                $form.trigger("submit");
              };
          StripeCheckout.open({
            key:         "{{ STRIPE_PUBLIC_KEY }}",
            name:        'Payment Method',
            panelLabel:  'Add Payment Method',
            token:       token
          });

          return false;
        });
        {% if PLAN_LIST|length > 1 %}
          $('.djstripe-change-plan').click(function(e){
              $("button[type=submit]").attr("disabled", "true");
              $('#in-progress').modal({"keyboard": false})
              $('.progress-bar').animate({width:'+=100%'}, 2000);
              var $form = $(this);
              $form.trigger("submit");
          });
        {% endif %}

    });
</script>
{% endblock javascript %}