<div id="content">

<div class="row">
    <big-breadcrumbs items="['Other Pages', 'Forum Layout']" icon="file-o"
                     class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    <div smart-include="static/public/app/layout/partials/sub-header.tpl.html"></div>
</div>
<!-- end row -->
<!-- row -->
<div class="row">
<div class="col-sm-12">
<div class="well">
<table class="table table-striped table-forum">
    <thead>
    <tr>
        <th colspan="2">Introduction</th>
        <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Topics</th>
        <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Posts</th>
        <th class="hidden-xs hidden-sm" style="width: 200px;">Last Post</th>
    </tr>
    </thead>
    <tbody>
    <!-- TR -->
    <tr>
        <td class="text-center" style="width: 40px;"><i class="fa fa-globe fa-2x text-muted"></i></td>
        <td>
            <h4><a ui-sref="app.appViews.forumTopicDemo">
                Hello, welcome to SmartAdmin Forum!
            </a>
                <small>You can introduce yourself here</small>
            </h4>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>431</a>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>1342</a>
        </td>
        <td class="hidden-xs hidden-sm">by
            <a href-void>John Doe</a>
            <br>
            <small><i>January 1, 2014</i></small>
        </td>
    </tr>
    <!-- end TR -->
    <!-- TR -->
    <tr>
        <td class="text-center" style="width: 40px;"><i class="fa fa-microphone fa-2x text-muted"></i></td>
        <td>
            <h4><a ui-sref="app.appViews.forumTopicDemo">
                News &amp; Announcements
            </a>
                <small>Latest news and reports</small>
            </h4>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>431</a>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>1342</a>
        </td>
        <td class="hidden-xs hidden-sm">by
            <a href-void>John Doe</a>
            <br>
            <small><i>January 1, 2014</i></small>
        </td>
    </tr>
    <!-- end TR -->
    <!-- TR -->
    <tr>
        <td class="text-center" style="width: 40px;"><i class="fa fa-pencil fa-2x text-muted"></i></td>
        <td>
            <h4><a ui-sref="app.appViews.forumTopicDemo">
                Forum Rules
            </a>
                <small>Please read carefully our forum rules before you post</small>
            </h4>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>431</a>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>1342</a>
        </td>
        <td class="hidden-xs hidden-sm">by
            <a href-void>John Doe</a>
            <br>
            <small><i>January 1, 2014</i></small>
        </td>
    </tr>
    <!-- end TR -->
    </tbody>
</table>
<table class="table table-striped table-forum">
    <thead>
    <tr>
        <th colspan="2">Projects</th>
        <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Topics</th>
        <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Posts</th>
        <th class="hidden-xs hidden-sm" style="width: 200px;">Last Post</th>
    </tr>
    </thead>
    <tbody>
    <!-- TR -->
    <tr>
        <td class="text-center" style="width: 40px;"><i class="fa fa-table fa-2x text-muted"></i></td>
        <td>
            <h4><a ui-sref="app.appViews.forumTopicDemo">
                Business Requirement Docs
            </a>
                <small>Latest BRD docs</small>
            </h4>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>431</a>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>1342</a>
        </td>
        <td class="hidden-xs hidden-sm">by
            <a href-void>John Doe</a>
            <br>
            <small><i>January 1, 2014</i></small>
        </td>
    </tr>
    <!-- end TR -->
    <!-- TR -->
    <tr>
        <td class="text-center" style="width: 40px;"><i class="fa fa-bar-chart-o fa-2x text-muted"></i></td>
        <td>
            <h4><a ui-sref="app.appViews.forumTopicDemo">
                Project Discussions
            </a>
                <small>Post all project related topics here</small>
            </h4>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>431</a>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>1342</a>
        </td>
        <td class="hidden-xs hidden-sm">by
            <a href-void>John Doe</a>
            <br>
            <small><i>January 1, 2014</i></small>
        </td>
    </tr>
    <!-- end TR -->
    <!-- TR -->
    <tr>
        <td class="text-center" style="width: 40px;"><i class="fa fa-user fa-2x text-muted"></i></td>
        <td>
            <h4><a ui-sref="app.appViews.forumTopicDemo">
                Clients
            </a>
                <small>Client forum posts</small>
            </h4>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>431</a>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>1342</a>
        </td>
        <td class="hidden-xs hidden-sm">by
            <a href-void>John Doe</a>
            <br>
            <small><i>January 1, 2014</i></small>
        </td>
    </tr>
    <!-- end TR -->
    <!-- TR -->
    <tr>
        <td class="text-center" style="width: 40px;"><i class="fa fa-dollar fa-2x text-muted"></i></td>
        <td>
            <h4><a ui-sref="app.appViews.forumTopicDemo">
                Budget Meetings
            </a>
                <small>Project budget discussions</small>
            </h4>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>431</a>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>1342</a>
        </td>
        <td class="hidden-xs hidden-sm">by
            <a href-void>John Doe</a>
            <br>
            <small><i>January 1, 2014</i></small>
        </td>
    </tr>
    <!-- end TR -->
    </tbody>
</table>
<table class="table table-striped table-forum">
    <thead>
    <tr>
        <th colspan="2">Support</th>
        <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Topics</th>
        <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Posts</th>
        <th class="hidden-xs hidden-sm" style="width: 200px;">Last Post</th>
    </tr>
    </thead>
    <tbody>
    <!-- TR -->
    <tr>
        <td class="text-center" style="width: 40px;"><i class="fa fa-book fa-2x text-muted"></i></td>
        <td>
            <h4><a ui-sref="app.appViews.forumTopicDemo">
                How to...
            </a>
                <small>Maecenas nec odio et</small>
            </h4>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>431</a>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>1342</a>
        </td>
        <td class="hidden-xs hidden-sm">by
            <a href-void>John Doe</a>
            <br>
            <small><i>January 1, 2014</i></small>
        </td>
    </tr>
    <!-- end TR -->
    <!-- TR -->
    <tr>
        <td class="text-center" style="width: 40px;"><i class="fa fa-question-circle fa-2x text-muted"></i></td>
        <td>
            <h4><a ui-sref="app.appViews.forumTopicDemo">
                Questions and FAQs
            </a>
                <small>Luctus pulvinar hendrerit id lorem</small>
            </h4>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>431</a>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>1342</a>
        </td>
        <td class="hidden-xs hidden-sm">by
            <a href-void>John Doe</a>
            <br>
            <small><i>January 1, 2014</i></small>
        </td>
    </tr>
    <!-- end TR -->
    <!-- TR -->
    <tr>
        <td class="text-center" style="width: 40px;"><i class="fa fa-user-md fa-2x text-muted"></i></td>
        <td>
            <h4><a ui-sref="app.appViews.forumTopicDemo">
                User Guideline
            </a>
                <small>Cras dapibus vivamus elementum semper nisi</small>
            </h4>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>431</a>
        </td>
        <td class="text-center hidden-xs hidden-sm">
            <a href-void>1342</a>
        </td>
        <td class="hidden-xs hidden-sm">by
            <a href-void>John Doe</a>
            <br>
            <small><i>January 1, 2014</i></small>
        </td>
    </tr>
    <!-- end TR -->
    </tbody>
</table>
</div>
</div>
</div>
<!-- end row -->
<!-- row -->
<div class="row">
    <!-- a blank row to get started -->
</div>
<!-- end row -->
</div>