<!-- MAIN CONTENT -->
<div id="content"  ng-controller="DashboardCtrl">

	<div class="row">
		<big-breadcrumbs items="['Dashboard', 'My Dashboard']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
		<div smart-include="static/public/app/layout/partials/sub-header.tpl.html"></div>
	</div>
	<!-- widget grid -->
	<section id="widget-grid" widget-grid>

		<!-- row -->
		<div class="row">
			<article class="col-sm-12">

				<div smart-include="static/public/app/dashboard/live-feeds.tpl.html" class="placeholder-live-feeds"></div>

			</article>
		</div>

		<!-- end row -->

		<!-- row -->

		<div class="row">

			<article class="col-sm-12 col-md-12 col-lg-6"> 

				<chat-widget></chat-widget>

				<full-calendar id="dashboard-calendar-widget"  data-events="events"></full-calendar>
			</article>

			<article class="col-sm-12 col-md-12 col-lg-6">

				<div id="birda-eye-widget" data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false">

					<header>
						<span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>

						<h2>Birds Eye</h2>

						<div class="widget-toolbar hidden-mobile">
							<span class="onoffswitch-title"><i class="fa fa-location-arrow"></i> Realtime</span>
							<span class="onoffswitch">
								<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
								checked="checked" id="myonoffswitch">
								<label class="onoffswitch-label" for="myonoffswitch"> <span
									class="onoffswitch-inner" data-swchon-text="YES"
									data-swchoff-text="NO"></span> <span
									class="onoffswitch-switch"></span> </label> </span>
						</div>
					</header>

					<!-- widget div-->
					<div>

						<div class="widget-body no-padding">
							<!-- content goes here -->

							<div id="vector-map" class="vector-map"
							data-vector-map
							data-map-data="countriesVisitsData"></div>

							<div id="heat-fill">
								<span class="fill-a">0</span>

								<span class="fill-b">5,000</span>
							</div>

							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th>Country</th>
										<th>Visits</th>
										<th class="text-align-center">User Activity</th>
										<th class="text-align-center">Online</th>
										<th class="text-align-center">Demographic</th>
									</tr>
								</thead>
								<tbody data-sparkline-container>
									<tr>
										<td><a href-void>USA</a></td>
										<td>4,977</td>
										<td class="text-align-center">
										<div class="sparkline txt-color-blue text-align-center" data-sparkline-height="22px" data-sparkline-width="90px"
										data-sparkline-barwidth="2">
											2700, 3631, 2471, 1300, 1877, 2500, 2577, 2700, 3631, 2471, 2000, 2100, 3000
										</div></td>
										<td class="text-align-center">143</td>
										<td class="text-align-center">
										<div class="sparkline display-inline" data-sparkline-type='pie' data-sparkline-piecolor='["#E979BB", "#57889C"]'
										data-sparkline-offset="90" data-sparkline-piesize="23px">
											17,83
										</div>
										<div class="btn-group display-inline pull-right text-align-left hidden-tablet" data-dropdown>
											<button class="btn btn-xs btn-default dropdown-toggle">
												<i class="fa fa-cog fa-lg"></i>
											</button>
											<ul class="dropdown-menu dropdown-menu-xs pull-right">
												<li>
													<a href-void><i class="fa fa-file fa-lg fa-fw txt-color-greenLight"></i> <u>P</u>DF</a>
												</li>
												<li>
													<a href-void><i class="fa fa-times fa-lg fa-fw txt-color-red"></i> <u>D</u>elete</a>
												</li>
												<li class="divider"></li>
												<li class="text-align-center">
													<a href-void>Cancel</a>
												</li>
											</ul>
										</div></td>
									</tr>
									<tr>
										<td><a href-void>Australia</a></td>
										<td>4,873</td>
										<td class="text-align-center">
										<div class="sparkline txt-color-blue text-align-center" data-sparkline-height="22px" data-sparkline-width="90px"
										data-sparkline-barwidth="2">
											1000, 1100, 3030, 1300, -1877, -2500, -2577, -2700, 3631, 2471, 4700, 1631, 2471
										</div></td>
										<td class="text-align-center">247</td>
										<td class="text-align-center">
										<div class="sparkline display-inline" data-sparkline-type='pie' data-sparkline-piecolor='["#E979BB", "#57889C"]'
										data-sparkline-offset="90" data-sparkline-piesize="23px">
											22,88
										</div>
										<div class="btn-group display-inline pull-right text-align-left hidden-tablet">
											<button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
												<i class="fa fa-cog fa-lg"></i>
											</button>
											<ul class="dropdown-menu dropdown-menu-xs pull-right">
												<li>
													<a href-void><i class="fa fa-file fa-lg fa-fw txt-color-greenLight"></i> <u>P</u>DF</a>
												</li>
												<li>
													<a href-void><i class="fa fa-times fa-lg fa-fw txt-color-red"></i> <u>D</u>elete</a>
												</li>
												<li class="divider"></li>
												<li class="text-align-center">
													<a href-void>Cancel</a>
												</li>
											</ul>
										</div></td>
									</tr>
									<tr>
										<td><a href-void>India</a></td>
										<td>3,671</td>
										<td class="text-align-center">
										<div class="sparkline txt-color-blue text-align-center" data-sparkline-height="22px" data-sparkline-width="90px"
										data-sparkline-barwidth="2">
											3631, 1471, 2400, 3631, 471, 1300, 1177, 2500, 2577, 3000, 4100, 3000, 7700
										</div></td>
										<td class="text-align-center">373</td>
										<td class="text-align-center">
										<div class="sparkline display-inline" data-sparkline-type='pie' data-sparkline-piecolor='["#E979BB", "#57889C"]'
										data-sparkline-offset="90" data-sparkline-piesize="23px">
											10,90
										</div>
										<div class="btn-group display-inline pull-right text-align-left hidden-tablet">
											<button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
												<i class="fa fa-cog fa-lg"></i>
											</button>
											<ul class="dropdown-menu dropdown-menu-xs pull-right">
												<li>
													<a href-void><i class="fa fa-file fa-lg fa-fw txt-color-greenLight"></i> <u>P</u>DF</a>
												</li>
												<li>
													<a href-void><i class="fa fa-times fa-lg fa-fw txt-color-red"></i> <u>D</u>elete</a>
												</li>
												<li class="divider"></li>
												<li class="text-align-center">
													<a href-void>Cancel</a>
												</li>
											</ul>
										</div></td>
									</tr>
									<tr>
										<td><a href-void>Brazil</a></td>
										<td>2,476</td>
										<td class="text-align-center">
										<div class="sparkline txt-color-blue text-align-center" data-sparkline-height="22px" data-sparkline-width="90px"
										data-sparkline-barwidth="2">
											2700, 1877, 2500, 2577, 2000, 3631, 2471, -2700, -3631, 2471, 1300, 2100, 3000,
										</div></td>
										<td class="text-align-center">741</td>
										<td class="text-align-center">
										<div class="sparkline display-inline" data-sparkline-type='pie' data-sparkline-piecolor='["#E979BB", "#57889C"]'
										data-sparkline-offset="90" data-sparkline-piesize="23px">
											34,66
										</div>
										<div class="btn-group display-inline pull-right text-align-left hidden-tablet">
											<button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
												<i class="fa fa-cog fa-lg"></i>
											</button>
											<ul class="dropdown-menu dropdown-menu-xs pull-right">
												<li>
													<a href-void><i class="fa fa-file fa-lg fa-fw txt-color-greenLight"></i> <u>P</u>DF</a>
												</li>
												<li>
													<a href-void><i class="fa fa-times fa-lg fa-fw txt-color-red"></i> <u>D</u>elete</a>
												</li>
												<li class="divider"></li>
												<li class="text-align-center">
													<a href-void>Cancel</a>
												</li>
											</ul>
										</div></td>
									</tr>
									<tr>
										<td><a href-void>Turkey</a></td>
										<td>1,476</td>
										<td class="text-align-center">
										<div class="sparkline txt-color-blue text-align-center" data-sparkline-height="22px" data-sparkline-width="90px"
										data-sparkline-barwidth="2">
											1300, 1877, 2500, 2577, 2000, 2100, 3000, -2471, -2700, -3631, -2471, 2700, 3631
										</div></td>
										<td class="text-align-center">123</td>
										<td class="text-align-center">
										<div class="sparkline display-inline" data-sparkline-type='pie' data-sparkline-piecolor='["#E979BB", "#57889C"]'
										data-sparkline-offset="90" data-sparkline-piesize="23px">
											75,25
										</div>
										<div class="btn-group display-inline pull-right text-align-left hidden-tablet">
											<button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
												<i class="fa fa-cog fa-lg"></i>
											</button>
											<ul class="dropdown-menu dropdown-menu-xs pull-right">
												<li>
													<a href-void><i class="fa fa-file fa-lg fa-fw txt-color-greenLight"></i> <u>P</u>DF</a>
												</li>
												<li>
													<a href-void><i class="fa fa-times fa-lg fa-fw txt-color-red"></i> <u>D</u>elete</a>
												</li>
												<li class="divider"></li>
												<li class="text-align-center">
													<a href-void>Cancel</a>
												</li>
											</ul>
										</div></td>
									</tr>
									<tr>
										<td><a href-void>Canada</a></td>
										<td>146</td>
										<td class="text-align-center">
										<div class="sparkline txt-color-orange text-align-center" data-sparkline-height="22px"
										data-sparkline-width="90px" data-sparkline-barwidth="2">
											5, 34, 10, 1, 4, 6, -9, -1, 0, 0, 5, 6, 7
										</div></td>
										<td class="text-align-center">23</td>
										<td class="text-align-center">
										<div class="sparkline display-inline" data-sparkline-type='pie' data-sparkline-piecolor='["#E979BB", "#57889C"]'
										data-sparkline-offset="90" data-sparkline-piesize="23px">
											50,50
										</div>
										<div class="btn-group display-inline pull-right text-align-left hidden-tablet">
											<button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
												<i class="fa fa-cog fa-lg"></i>
											</button>
											<ul class="dropdown-menu dropdown-menu-xs pull-right">
												<li>
													<a href-void><i class="fa fa-file fa-lg fa-fw txt-color-greenLight"></i> <u>P</u>DF</a>
												</li>
												<li>
													<a href-void><i class="fa fa-times fa-lg fa-fw txt-color-red"></i> <u>D</u>elete</a>
												</li>
												<li class="divider"></li>
												<li class="text-align-center">
													<a href-void>Cancel</a>
												</li>
											</ul>
										</div></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan=5>
										<ul class="pagination pagination-xs no-margin">
											<li class="prev disabled">
												<a href-void>Previous</a>
											</li>
											<li class="active">
												<a href-void>1</a>
											</li>
											<li>
												<a href-void>2</a>
											</li>
											<li>
												<a href-void>3</a>
											</li>
											<li class="next">
												<a href-void>Next</a>
											</li>
										</ul></td>
									</tr>
								</tfoot>
							</table>

							<!-- end content -->

						</div>

					</div>
					<!-- end widget div -->
				</div>
				<!-- end widget -->

				<!-- new widget -->
				<div smart-include="static/public/app/components/todo/todo-widget.tpl.html"></div>
				<!-- end widget -->

			</article>

		</div>

		<!-- end row -->

	</section>
	<!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
