div.alert{
	margin-bottom: 10px;
}

/*lender's account css start here*/
.lender_account_dashboard{
	width: 100%;
	margin-top: 50px;
	display: inline-block;
	margin-bottom: 20px;
}



.lender_account_part_start{
 float:left;
 width:100%;
 padding-bottom: 5px;}


.progressing_lender {
height: 8px;
border: 1px solid #eee; 
background: #fff;
position: relative;
top: 48px;
margin: 0px 20px;
}

.tab-content{
margin-bottom: 60px;
padding: 0px 20px 0px 20px;
margin-top: -50px;
text-align: justify;
}

	
/*progressbar*/
#progressbar_lender {
	margin-bottom: 30px;
	margin-top: 18px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar_lender li {
list-style-type: none;
text-transform: uppercase;
font-size:22px;
width: 20%;
float: left;
position: relative;
text-align: center;
height: 140px;
}
#progressbar_lender li:before {
	content: counter(step);
	counter-increment: step;
	width: 50px;
	line-height: 50px;
	display: block;
	font-size: 18px;
	color: #333;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 50%;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/

#progressbar_lender li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar_lender li.active:before{
	background: #27AE60;
	color: white;
}
#progressbar_lender li a{
	text-transform: capitalize;
	display: inline-block;
	margin-top: 10px;
}
.active a{ color: #27ae60;}


.offred_lead{
	width:100%;
	float:left;	
	}

.lead_content,  .number_part{
	width:100%;
	font-size:16px;
	line-height:23px;}
	
	.pricing_part_form{
		width:100%;
		margin-top:15px;
		float:left;
		
		}
	
	button.beatpicker-clear.beatpicker-clearButton.button {
display: none;
}

.date_lender{
	width:35%;
	float:left;}
	
	.date_lender > label{
		width:20%;
		float:left;

		font-size:16px;
		padding-top:10px;}
	

.date_lender input[type=text]{
height: 40px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:80%;
background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYI…hLhSk7hRsD2a761lePSnV4dCo+1ptLzraUrtZoKuyomySSST/TpHK2EwuDfsOxddovp1P/2Q==);
background-repeat: no-repeat;
background-position: 96% 52%;
}

.hour_lender{
	width:30%;
	float:left;
	margin-left:10px;}
	
.hour_lender > label{
		width:33%;
		float:left;
		font-size:16px;
		padding-top:10px;
		}

.hour_lender input[type=number]{
height: 40px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:66%;
}



.leads_lender{
	width:32.5%;
	float:left;
	margin-left:10px;}


.leads_lender > label{
		width:25%;
		float:left;
		font-size:16px;
		padding-top:10px;
		}

.leads_lender input[type=text]{
height: 40px;
background: #fff;
border: none;
border-radius: 5px;
padding-left: 19px;
font-size: 16px;
color: #000;
margin-bottom: 20px;
width:75%;
}


.pricing_part_form input[type=text]:focus, input[type=number]:focus{
background: #FFFFFF;
border:1px solid #6ad631;
background-position: 96% 52%;
background-repeat:no-repeat;
}

.add_more {
background: #6ad631;
color: #fff !important;
border: none;
font-size: 17px;
font-weight: normal;
border-radius: 4px;
float: left;
padding: 10px 0px 9px 0px;
margin-left: 56px;
}

.add_more a {
    border-radius: 4px;
    color: #fff;
    padding: 11px 28px;
}

.add_more a:hover{background: #fff;
color: #6ad631;}

.save_btn{
	float:left;
	margin-left:10px;}
	
.added_having {
background: #6ad631;
color: #fff;
border: none;
font-size: 17px;
font-weight: normal;
padding: 10px 30px 9px 30px;
border-radius: 4px;
float: left;
}

.added_having:hover{
background: #fff;
color: #6ad631;}


.next_more {
background: #6ad631;
color: #fff !important;
border: none;
font-size: 17px;
font-weight: normal;
border-radius: 4px;
float: left;
padding: 10px 0px 9px 0px;
margin-left: 56px;
margin-top:20px;
}

.accountTheme .plastic_moral{
	margin-top: 5px;

}
.btn-mang button{
	padding: 0px;
	border: none;
	width: 100%;
}
.btn-mang button.btn[disabled]{
	opacity: 1;
}
.btn-mang button.btn .panel-heading
{
	background: #3276B1;
}
.btn-mang button.btn[disabled] .panel-heading
{
	background: #568A89 !important;
}
.btn-mang button.btn[disabled] .panel-heading h3
{
	color: #fff !important;
}
.btn-mang button.btn{
	color: #000;
}
.btn-mang h3{
	margin: 0px;
}
.btn-mang h3 strong{
	font-size: 18px;
	font-weight: normal;
}
.btn-mang .panel-teal > .panel-heading{
	border: none;
}
.btn-mang .panel {
	margin: 0px;
}
.btn-mang h4{
	padding: 12px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.btn-mang{
	text-align: center;
	margin-bottom: 40px;
}
.mrgn_rmv{
	margin-top: 0px;
}
.btn-mang .success_paraph {
    font-size: 16px;
    margin: 20px 0 10px;
    white-space: pre-line;
    word-wrap: break-word;
}
.repeat_checks.social_activity{
	float: none;
    margin-left: 0;
    margin-top: 10px;
    width: auto;
}
.setlead_limit{
	width: 20%;
	float: left;
	margin-bottom: 10px;
}
.setlead_limit .form-control{
	width: 94% !important;
}
.limit_space .btn{
	margin-top: 22px;
}
.owner_divdr_theme .owner-heading{
	border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    /*margin-bottom: 18px;
    padding-bottom: 18px;*/
}
.customerTab.tab-content{
	margin-top: 30px;
}

.cust_div_dash{
	border-bottom: 1px dashed #ddd;
    margin-bottom: 18px;
    padding-bottom: 8px;
}
div .page-title{
	margin-bottom: 18px;
}

/*Changes start 28 nov (Akash)*/
.common_lead_hd{
	margin-top: -10px;
}
.tym_hrgn_ttl{
	background: #f9f9f9;
    border-bottom: 1px dashed #ddd;
    border-top: 1px solid #ddd;
    margin: 16px -6px 10px;
    padding: 13px 20px 0;
}
.tym_hrgn_ttl .lead-control {
	width: 170px;
}
.lead_theme_dash .prof_man1{
	width: 20%;
	max-width: 200px;
}
.lead_stts_chng{
	width: auto;
	float: right;
}
.lead_stts_chng .lead-control-status
{
	width: 165px;
	line-height: 30px;
}
.lead_theme_dash .address-detail{
	max-width: 54%;
	display: inline-block;
}
#requeststatus, #editstatus
{
	color: #50a646;
	padding-bottom: 5px;
}
.min-hyt_fx{
	min-height: 415px;
}
.lndr_updt_ttl{
	border-bottom: 1px solid #eee;
    padding-bottom: 5px
}
.lndr_updt_ttl i{
	font-style: normal;
	font-size: 14px;
}
.updt_lndrMax_hldr{
	max-width: 860px;
}
.updt_lndrMax_hldr .horizental-control{
	color: #555;
}
.agreement_class.smart-form .checkbox i {
	height: 14px;
	width: 14px;
}
.agreement_class.smart-form .checkbox{
	line-height: 20px;
	margin-bottom: 15px !important;
	width: auto;
	display: inline-block;
}
.agreement_class.smart-form .checkbox input + i:after{
	font: 400 12px/17px FontAwesome;
	left: -1px;
}
.agmnt-styl_ui h4{
	margin-top: 20px;
	font-size: 16px;
}
.agmnt-styl_ui h4:first-child{
	margin-top: 0px;
}
.agmnt-styl_ui p a{
	color: #333;
}
/*Changes end 28 nov (Akash)*/


/*Changes start 29 nov (Akash)*/
.apntmnt_list_theme .appointment_list {
    border: 1px solid #ddd;
    padding: 16px 20px;
}
.apntmnt_list_theme .address-detail.ng-binding strong{
	color: #000 !important;
    display: inline-block;
    margin-bottom: 2px;
}
.btn{
	padding: 6px 18px;
}
.input_theme{
    background:#fff;
    border: 1px solid #bdbdbd;
    color: #404040;
    height: 32px;
    padding: 5px 10px;
}
.sedule_theme input {
	margin-left: 15px;
	margin-bottom: 15px;
	width: 70%;
	max-width: 221px;
}
.address-detail-2.sedule_theme{
	margin-top: 0px;
}
.sedule_theme .message{
	border: 1px solid #bdbdbd;
}
.checking_part.smart-form{
	width: auto;
	display: inline-block;
	margin-top: 0px;
}
.checking_part.smart-form .checkbox{
	line-height: 22px;
}
.checking_part.smart-form .checkbox i{
	height: 15px;
	width: 15px;
}
.checking_part.smart-form .checkbox input + i:after{
	font: 400 13px/18px FontAwesome;
}
.user_pro_txt{
	width: 100%;
	display: inline-block;
}
.alert.alert-warning.lead, .alert.alert-success.lead {
	font-size: 14px;
}
.acnt_tils_theme .start_impacted ul li{
	width: 23.5%;
	display: inline-block;
	text-align: center;
	min-height: 190px;
	padding: 20px 10px;
	margin-right: 20px;
	vertical-align: top;
	max-width: 216px;
	box-shadow: 0px 0px 3px 0px #ccc;
}
.acnt_tils_theme .start_impacted ul li:last-child{
	margin-right: 0px;
}
.acnt_tils_theme ul{
	list-style: none;
	padding: 0px;
}

.acnt_tils_theme .start_impacted ul li h4{
	margin-top: 20px;
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
}

.acnt_tils_theme{
	margin-bottom: 5px;
}
.pymnt_info_lt{
	max-width: 800px;
}
.pymnt_info_lt table{
	border: 1px solid #ddd;
}
.crdt_crd_frm_ui .smart-form fieldset{
	padding: 25px 25px 5px;
}
.crdt_crd_frm_ui .main_change{
	margin-top: 10px;
}
.crdt_crd_frm_ui .smart-form .btn{
	padding: 6px 18px ;
	margin-top: 20px;
	margin-bottom: 30px;
}
.crdt_crd_frm_ui .smart-form .mini_frm_cntrl{
	width: 60px;
	display: inline-block;
	border: 1px solid #bdbdbd;
	padding: 0px 10px;
	height: 30px;
}
.crdt_crd_frm_ui .smart-form .mn_yr_dvdr{
	margin: 0px 5px;
	font-size: 20px;
	display: inline-block !im;
}
.crdt_crd_frm_ui .smart-form .payment-errors{
	margin-bottom: 5px;
	display: inline-block;
	color: #ff0000;
}
.cancel_sb_min .cancel_inner{
	font-size: 16px;
}
.cancel_sb_min{
	min-height: 360px;
}
.margin-right-10{
	margin-right: 10px;
}
.acnt_tils_theme .fa{
	color: #666;
    font-size: 40px;
    margin-top: 10px;
}
.start_impacted .btn{
	padding: 6px 10px;
}
/*Changes end 29 nov (Akash)*/
/*Dashboard design changes start 1 dec (Akash)*/
.custm_pddng_15{
	padding: 15px;
}
.admin_btn_hld .btn{
	padding: 4px 14px;
}
.apntmnt_list_theme .appointment_list{
	margin-bottom:22px;	 
}
.smart-form-holder #authStaffStatus{
	color: #ff0000;
	text-align: center;
	margin-top: 5px;
}
.sbscrb_tckt_tl{
	padding-bottom:10px;
	border-bottom: 1px solid #eee; 
}
.avar_hd_ttl{
	border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #646464;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
.avatar_buttons{
	margin-top: 10px;
}
.avatar_buttons ul{
	list-style: none;
	padding: 0px;
}
.crnt_avtr_info{
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 15px;
}
.avatar_buttons .errorlist li{
	color: #ff0000;
}
.avtr_upld_main {
	margin-top: 15px;
}
.avtr_upld_main p input{
	display: inline-block;
}
.avtr_upld_main p label{
	font-size: 14px;
	display: inline-block;
	margin-right: 10px;
	width: auto;
}
.avtr_upld_main p input{
	border: 1px solid #ddd;

}
.avtr_upld_main .errorlist{
	margin-bottom: 20px;
}
.add_avt_hld .avatar_buttons .choose_dafaut{
	margin-top: 10px;
}
.user_pro_txt{
	max-width: 155px;
	text-align: center;
}
.user_pro_txt img{
	max-width: 100%;
}
.user_pro_txt .john_style{
	font-size: 14px !important;
}
.lender_dtl_repeat .col-xs-2 .list-inline li a{
	color: #646464;
}
.owner_divdr_theme .owner-heading .owner-small-2{
	display: inline-block;
    margin-bottom: 4px;
    width: 100%;
}
.owner_divdr_theme .owner-heading > a{
	display: inherit;
    color: #3276b1;
}
.lndr_updt_ttl .font-xs{
	display: inline-block;
    margin-bottom: 4px;
    width: 100%;
}
.cutmr_pro_hldr{
	max-width: 230px;
	width: 100%;
	display: inline-block;
}
.add_avt_hld{
	box-shadow: 0 0 2px 0 #ccc;
	-webkit-box-shadow: 0 0 2px 0 #ccc;
	-ms-box-shadow: 0 0 2px 0 #ccc;
    margin: 60px auto;
    max-width: 610px;
    padding: 40px 30px;
}
.add_avt_hld .left_user{
	display: inline-block;
    width: auto;
}
.add_avt_hld .right_user{
	display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    width: auto;
}
.leads_btns_cnt{
	margin-top: 19px;
	margin-bottom: 20px;
}
body #neighboured_second{
	padding-right: 0px;
}
.acnt_tils_theme .payment_response ul li h4.chng_sbcrb_lbl{
	display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 12px;
    margin-right: 5px;
    width: auto;
}
/*Dashboard design changes end  1dec nov (Akash)*/
/*Dashboard design start 2dec nov (Akash)*/
.cust_div_dash .prof_man img{
	max-width: 100%;
}
.synctab_btn{
	position: absolute;
    right: 15px;
    z-index: 1;
    top: 8px;
}
.btn.synctab_btn:active{
	position: absolute;
    right: 15px;
    left: auto;
    top: 8px;
}
#myCarousel .carousel-indicators{
	margin-left: 0px;
	bottom: 0px;
	top: auto;
	width: auto;
}
.horizental label span.star{
	color: #ff0000;
	margin-left: 5px;
}
.prof_man img{
	max-width: 100%;
}
.maxwdth_pro_ipt{
	max-width: 930px;
}
.leads-dashboard.leaddash_wdth{
	width: 100%;
}
.inner_customer #leadStatus{
	color: #43b856;
    padding-left: 15px;
}
.lender_dtl_repeat.customer-access{
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.common_pro_res{
	max-width: 154px;
	width: 100%;
	text-align: center;
}
.customer-control .customer_man{
	top: -50px;
	background: #fff;
	padding: 4px;
    position: relative;
    z-index: 999;
}
.chngavtr_err_msg{
	margin-left: 28%;
	color: #ff0000;
}
.chng_avtr_msg{
	color: #999;
    margin-top: 10px;
}
.hopotic img{
	border: 1px solid #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    padding: 4px;
}
#id_choice img{
	border: 1px solid #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    padding: 4px;	
}
#id_choice label input{
	margin-right: 10px;
}
.about_content_part .smart-form .radio input + i:after{
	height: 6px;
	width: 6px;
}
.about_content_part .smart-form .radio i{
	width: 14px;
	height: 14px;
}
.about_content_part .lender_button .btn{
	margin-bottom: 10px;
}

/*Dashboard design end 2dec nov (Akash)*/
/*Dashboard design start 3dec nov (Akash)*/


/*Dashboard design end 3dec nov (Akash)*/




.prof_man img{
	background: none repeat scroll 0 0 #fff;
    padding: 5px;
    position: relative;
    margin-top: -50px;
    width: 100px !important;
    height: auto !important;
    z-index: 999;
}
.btm_space{
	margin-bottom: 20px;
}
.lender_account_part_start .tab-content #complete{
	text-align: center;
}
.lender_account_part_start #progressbar_lender{
	padding-left: 0px;
}
.cancel_sb_spac{
	margin-bottom: 30px;
}
#edit_limit-form .btn{
	padding: 4px 18px;
	vertical-align: top;
}
.leads_btns_cnt .btn{
	padding: 4px 18px;
}


/*Single payment form ui start*/
.paytym_ui .strip_value label{
	text-transform: uppercase;
}
.paymnt_label {
    color: #999;
    float: right;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 0;
    padding-left: 20px;
    position: relative;
    width: 38%;
}
.paymnt_label .fa.fa-lock {
    font-size: 18px;
    left: 0;
    position: absolute;
    top: 3px;
}
.paytym_ui{
	width: 100%;
	display: inline-block;
}
.paytym_ui .form-control{
	height: 36px;
}
.form-control.paytym_card_stripe{
	background: url("../img/visacard.png") right center no-repeat;
}
.paytym_ui .no_expiry_dt {
    margin-bottom: 20px;
}
.strip_cvw_code .left_strip_cd{
	display: inline-block;
    width: 34%;
}
.strip_cvw_code .right_strip_cd{
	display: inline-block;
    float: right;
    vertical-align: top;
    width: 60%;
}
.strip_cvw_code .right_strip_cd label
{
	display: inline-block;
    width: 100%;
}
.strip_cvw_code .right_strip_cd input{
	height: 36px;
	padding: 6px 12px;
	border: 1px solid #ccc;
}
.paytym_ui .strip_value {
    margin-bottom: 12px;
}
.strp_pay_amnt .modal-header .close {
    margin-top: -23px;
    font-size: 22px;
}
/*Single payment form ui end*/
