{% extends 'accounts.html' %}
{% load staticfiles %}


{% if user.is_anonymous %}
   <script>window.location.href = "/accounts/login/"</script>
{% endif %}

{% block dash_content %}
<div id="content" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
	    <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
	</div>
	<!-- widget grid -->
	<div id="content" ng-controller="{% block ng_controller %}CustomerDashboardController{% endblock %}">
	    <div class="row">
		    <big-breadcrumbs items="['App Views', 'Blog']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
		    <div smart-include="build/layout/partials/sub-header.tpl.html"></div>
	    </div>
	    <div class="row">
		<div class="col-sm-12">
		    <div class="well custm_pddng_15">
			    <form>{% csrf_token %}  
				<div class="row lender_dtl_repeat customer-access" ng-repeat = "lender in filteredlendersdata | orderBy: 'distance'">
				    <div class="col-xs-2 access-inner">{% verbatim %}
				  	<div class="common_pro_res">  	
						<a href="#" target="_self">{% endverbatim %}<img src="{% static "img/proff_man.png" %}" class="img-responsive" alt="styles/img"></a>
						<ul class="list-inline customer-head">
	                        <li>{% verbatim %}
	                            <a href-void>{{lender.Name}}</a>
	   						</li>
	                    </ul>
	                </div>
                </div>
                                    <div class="col-xs-10 padding-left-0 owner_divdr_theme">
					<h3 class="owner-heading" style="word-wrap: break-word;">
					    <a href="#" target="_self"> {{lender.Store}}</a>
					    <span class="owner-small-2">Owned by <a href-void>{{lender.Name}}</a></span>
					</h3>
					
					<div class="app-paraph" style="word-wrap: break-word;">
					    <p>At <a>{{lender.Store}}</a> we provide you loans very easily. In case if you are interested,
					    please call on {{lender.Phone}} or you can email us at <a>{{lender.Email}}</a>.
					    </p>The store is located at, {{lender.Address}}.
					   
					</div>
					<div class="social_activity checkbox_custom">
					    <div class="smart-form">
						<ul>
						    <li><a title="lock" rel='tooltip' data-placement='top' href="#"><i class="fa fa-lock"></i></a></li>
						    <li><a title="like" rel='tooltip' data-placement='top' href="#"><i class="fa fa-thumbs-up"></i></a></li>
						</ul>
						<div class="checking_part smart-form"><label class="checkbox"><input type="checkbox" id = "chck_lender" name="option"   ng-change="chooseLender({{lender.id}})" ng-checked="lender.is_choosen" ng-model="lenders" value="lenders"><i></i><span>Select this lender </span></label></div>
					    </div>
					</div>
				    </div>
				</div>{% endverbatim %}
			    </form>
			</div>
			<div data-pagination="" data-num-pages="numPages()" 
			    data-current-page="currentPage" data-max-size="maxSize"  
			    data-boundary-links="true">
			</div>
		</div>
	    </div>
	</div>
    </div>
{% endblock dash_content %}   

{% block dash_leftnavigation %}
    <aside id="left-panel">	
	<!-- User info -->
	<div class="login-info">
	    <span> <!-- User image size is adjusted inside CSS, it should stay as it -->		    
		<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
		    <img src="{% static "public/styles/img/avatars/sunny.png" %}" alt="me" class="online" /> 
		    <span>
			    {{user}}
		    </span>
		    <i class="fa fa-angle-down"></i>
		</a>		    
	    </span>
	</div>
	<!-- end user info -->

	<!-- NAVIGATION : This navigation is also responsive-->
	<nav>
	    <ul>
		<li class="active">
		    <a href="/dashboard/" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
		</li>
		<li>
		    <a href="/customerdashboard/inbox"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Inbox</span><span class="badge pull-right inbox-badge">14</span></a>
		</li>
		<li>
		    <a href="/customer-dashboard/"><i class="fa fa-lg fa-fw fa-paper-plane-o"></i> <span class="menu-item-parent">Select a new lender</span></a>
		</li>
		<li>
		    <a href="/customerdashboard/mylender/"><i class="fa fa-lg fa-fw fa-dollar"></i> <span class="menu-item-parent">My Lender</span></a>
		</li>
		<li>
		    <a href="/customerdashboard/myaccount/" target="_self"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">My Profile</span></a>
		</li>
		<li>
		    <a href="/pages/contact-us/"><i class="fa fa-lg fa-fw fa-phone"></i> <span class="menu-item-parent">Contact Us</span></a>
		</li>
		<li>
		    <a href="/pages/faq/"><i class="fa fa-lg fa-fw fa-question"></i> <span class="menu-item-parent">FAQ's</span></a>
		</li>				
	    </ul>
	</nav>
	<span class="minifyme" data-action="minifyMenu"> 
	    <i class="fa fa-arrow-circle-left hit"></i> 
	</span>
    </aside>
{% endblock dash_leftnavigation %}