{% extends 'base.html' %}
{% load staticfiles %}
{% load easy_maps_tags %}

{% block slider %}{% endblock %}
{% block quickstart_top %}{% endblock %}
{% block quickstart_bottom %}{% endblock %}

<!--=== Breadcrumbs ===-->
{% block breadcrumb %}
<div class="breadcrumbs">
    <div class="container">
	<h1 class="pull-left">Good News</h1>
	<ul class="pull-right breadcrumb">
	    <li><a href="/">Home</a></li>
	    <li><a href="">Pages</a></li>
	    <li class="active">Good News</li>
	</ul>
    </div><!--/container-->
</div>
{% endblock %}
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Contact Us ===-->
{% block content %}
<div ng-app="{% block ng_app %}app.app.static{% endblock %}">
    <div ng-controller="{% block ng_controller %}GoodNewsController{% endblock %}">   
    <div class="container content our-location">
        <div class="title-box-v2">
	    <div>{% verbatim %}
		<div ng-show="lenderlength == '1'">
            <h2><span class="color-green">Good News! {{ data }} </span></h2>
		<p>We have a storefront lender in your neighborhood.</p></div>
	    </div>{% endverbatim %}
	    <div>{% verbatim %}
		<h2 ng-show="lenderlength == '0'"><span class="color-green">Coming Soon!</span></h2>
	    </div>{% endverbatim %}
        </div>
        <div class="row margin-bottom-30">
            <div class="col-md-8 text-justify md-margin-bottom-20">
              <div class="row about-list-style">
                <div class="col-xs-6 about-list-style-in">
                    <!-- TODO This needs to be replaced by the lender's logo -->
                    <a href="/" target ="_self">
                        {% verbatim %}
                        <img ng-src="{{ logo }}" id="logo-footer" class="footer-logo" alt="footer logo">
                        {% verbatim %}
                        </a>
                    
                </div>
                <div class="col-xs-6 about-list-style-in">
                <!-- The Office -->
                <!-- <h3>Our Office Details</h3> -->
		<div>{% verbatim %}
            <p ng-show="lenderlength == '0'">
			We don't have any lenders in  your area yet, but when we do, we will let you know.
			Thanks for stopping by!
            </p>
        </div>{% endverbatim %}
		<div>{% verbatim %}
		    <ul class="list-unstyled" ng-show="lenderlength == '1'">
			<li><a href="#"><i class="fa fa-home color-green"></i>{{ address }},{{ city}}, {{ state }}, {{ zipcode }}</a></li>
			<li><a href="#"><i class="fa fa-envelope color-green"></i>{{ email }}</a></li>
			<li><a href="#"><i class="fa fa-phone color-green"></i>{{ phone }}</a></li>
			<input type="hidden" id="latitude" value="{{ latitude }}">
			<input type="hidden" id="longitude" value="{{ longitude }}">
			<!--li><a href="#"><i class="fa fa-globe color-green"></i>http://www.lenderemail.com</a></li-->
		    </ul>
		</div>{% endverbatim %}
		<!-- End The Office -->
                </div>
              </div>
            </div>
        </div>
        <!-- TODO Need to make the two side by side boxes better formatted on phone.  There has to be a better class to use for this -->
        <div class="row margin-bottom-30">
            <div class="col-md-8 text-justify md-margin-bottom-20">
                <p>At LocalLenders.Net, we help borrowers find the money they need from lenders in their neighborhood.</p> </br>
                <div class="row about-list-style">
                    <div class="col-xs-6 about-list-style-in">
                        <p>There are many reasons to go to a local lender, and your lender is right around the corner!</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-green"></i> Higher approval rates</li>
                            <li><i class="fa fa-check color-green"></i> Same day cash</li>
                            <li><i class="fa fa-check color-green"></i> State licensed lenders</li>
                            <li><i class="fa fa-check color-green"></i> Smiling facess</li>
                            <li><i class="fa fa-check color-green"></i> Direct deposit not required!</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 about-list-style-in">
                        <p>But you will need to be prepared!  Make sure you have everything you need!.</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-green"></i> Driver's license</li>
                            <li><i class="fa fa-check color-green"></i> Bank statement</li>
                            <li><i class="fa fa-check color-green"></i> Utility bill</li>
                            <li><i class="fa fa-check color-green"></i> Recent pay stub</li>
                            <li><i class="fa fa-check color-green"></i> Personal check with your account information</li>
                        </ul>
                    </div>
                </div>  
		</br>          
                <p>If you have any questions, don't hesitate to give us a call: <a ref="callto:864-296-3656">864-296-3656</a>. </p>
            </div>
            <div class="col-md-4">
                <!-- Google Map -->
                <!--div id="map" class="map margin-bottom-40"></div-->
		<div id="map-canvas"></div>
                <!-- End Google Map -->
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

<script type="text/javascript">
    jQuery(document).ready(function() {
	App.init();
	App.initParallaxBg();
	ContactPage.initMap();        
	OwlCarousel.initOwlCarousel();                                    
    });
</script>
<style>
    #map-canvas {
      margin: 0px;
      padding: 0px
      width: 200px;
      height: 200px;
    }
</style>
<script>
    setTimeout(function(){    
	var map;
	    var longi=$('#longitude').val();
	    var latti=$('#latitude').val();
	    var myLatlng = new google.maps.LatLng(latti,longi);
	    var mapOptions = {
		zoom: 4,
		center: myLatlng
	    };
	    var map = new google.maps.Map( document.getElementById('map-canvas'), mapOptions );
	    var marker = new google.maps.Marker({
		position: myLatlng,
		map: map,
		title: 'Chicago'
	    });
	    //map = new google.maps.Map( document.getElementById('map-canvas'), mapOptions );
	    //google.maps.event.addDomListener(window, 'load', initialize);
	}, 1000);
</script>
<!--=== Contact Us ===-->