{% extends 'base.html' %}
{% load staticfiles %}
{% load easy_maps_tags %}

{% block slider %}{% endblock %}
{% block quickstart_top %}{% endblock %}
{% block quickstart_bottom %}{% endblock %}
{% block lenderlink %}{% endblock %}

{% block bookmark %}
<li class="dropdown">
    <a href="/lender/register/" target="_self">Bookmark this page</a>
    </li>
{% endblock bookmark %}

<!--=== Contact Us ===-->
{% block content %}
<div ng-app="{% block ng_app %}app.app.static{% endblock %}">
    <div ng-controller="{% block ng_controller %}GoodNewsController{% endblock %}">   
	<div class="container content our-location">
	    <div class="gdnews_wrapper">
		<div class="gdnews_info">
		    <h2>YOU DIDN'T MATCH WITH AN ONLINE LENDER <br />BUT WE HAVE SOMETHING BETTER</h2>
		    <p>A lender in your area may be able to get you the money you need today! </p>
		    <div>{% verbatim %}
			<p ng-show="lenderlength == '0'" class="alert alert-danger">
			    Dear Customer, We don't have any lender in your area yet, but when we do, we will let you know. Thanks for stopping by!
			</p>
		    </div>{% endverbatim %}
		</div>
		<div class="row gdnews_map" ng-show="lenderlength == '1'">
		    <div class="col-sm-8">
			<div id="map-canvas"></div>
			<b>Use google Map to reach: </b>{% verbatim %}{{lender.location_name}}{% endverbatim %}
		    </div>        
		    <div class="col-sm-4">{% verbatim %}
			<ul class="gdnews_lnder_info">
			    <li><i class="fa fa-home"></i>
				<p>{{lender.address}}</p>
			    </li>
			    <li><i class="fa fa-phone"></i>
				<p>{{lender.phone}}</p>
			    </li>
			    <li><i class="fa fa-user"></i>
				<p>{{lender.name}}</p>
			    </li>
			    <li><i class="fa fa-envelope"></i>
				<p>{{lender.email}}</p>
			    </li>
			    <input type="hidden" id="latitude" value="{{lender.latitude}}">
			    <input type="hidden" id="longitude" value="{{lender.longitude}}">
			</ul>
			{% endverbatim %}
		    </div>
		</div>
		<div class="row gdnws_list">
		    <div class="col-sm-6">
			<h3>You will love working with local lender</h3>
			<ul>
			    <li><i class="fa fa-check color-green"></i> Higher approval rates</li>
			    <li><i class="fa fa-check color-green"></i> Same day cash</li>
			    <li><i class="fa fa-check color-green"></i> Lower fees</li>
			    <li><i class="fa fa-check color-green"></i> Smiling faces</li>
			    <li><i class="fa fa-check color-green"></i> Direct deposit not required!</li>
			</ul>
		    </div> 
		    <div class="col-sm-6">
			<h3>Don't forget your documents</h3>
			<ul> 
			    <li><i class="fa fa-check color-green"></i> Driver's license</li>
			    <li><i class="fa fa-check color-green"></i> Utility bill</li>
			    <li><i class="fa fa-check color-green"></i> Recent pay stub</li>
			    <li><i class="fa fa-check color-green"></i> Personal check with your account information</li>
			    <li><i class="fa fa-check color-green"></i> Bank statement</li>
			</ul>
		    </div>    
		</div>
		<br />
		<p class="gdns_btm_tgline">At LocalLenders.Net, we help borrowers find the money they need from lenders in their neighborhood. 
		 If you have any questions, don't hesitate to give us a call: <a ref="callto:864-296-3656">864-296-3656</a>. </p>
	    </div>
	</div>
    </div>
{% endblock %}	
<script type="text/javascript">
    jQuery(document).ready(function() {
	App.init();
	App.initParallaxBg();
	ContactPage.initMap();        
	OwlCarousel.initOwlCarousel();                                    
    });
</script>
<style>#map-canvas {margin: 0px;padding: 0px;width: 200px;height: 300px;}</style>
<script>
    setTimeout(function(){    
	var map;
	    var longi=$('#longitude').val();
	    var latti=$('#latitude').val();
	    var myLatlng = new google.maps.LatLng(latti,longi);
	    var mapOptions = {
		zoom: 4,
		center: myLatlng
	    };
	    var map = new google.maps.Map( document.getElementById('map-canvas'), mapOptions );
	    var marker = new google.maps.Marker({
		position: myLatlng,
		map: map,
		title: 'Chicago'
	    });
	    //map = new google.maps.Map( document.getElementById('map-canvas'), mapOptions );
	    //google.maps.event.addDomListener(window, 'load', initialize);
	}, 1000);
</script>
<!--=== Contact Us ===-->
