{% extends 'base.html' %}
{% load staticfiles %}
{% load easy_maps_tags %}

{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block content %}

<section id="neighboured_second">
    <div class="container">
	<div class="row">
	<!--============right_content_start_here===============-->
	    <div class="col-md-12 col-sm-12">
		<div class="my_lender_dashboard">
		    <div class="device">
			<a class="arrow-left" href="#"></a> 
			<a class="arrow-right" href="#"></a>
			<div class="swiper-container">
			    <div id="lenderStatus" class="no_lender"></div>
			    <div class="swiper-wrapper">
				<div class="swiper-slide" ng-app="{% block ng_app %}app.app.static{% endblock %}">
				    <div class="customer_profile" ng-controller="{% block ng_controller %}Selected-LenderController{% endblock %}">
					<!--====first inner part start here====--> 
					<div class="swiper-slide">
					    <div class="first_part_start"><!--first part start here-->
						<div class="inner_heading_part">My Lender</div>
						<div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style">{% verbatim %}{{Lender[0].ownerName}}{% endverbatim %}</span></div>
						<form  ng-submit="submit()" role="form" name="mylender" id="mylender-form"  method="POST">{% csrf_token %}
						<div class="inner_contact">{% verbatim  %}
						    <input type="hidden" id="longi" name="variable" value="">
						    <input type="hidden" id="latti" name="variable" value="">
						    <address class="mapi">							
							<strong>Store</strong> : {{Lender[0].storeName}}<br>
							<strong>Email</strong> : <a href="mailto:{{Lender[0].Email}}">{{Lender[0].Email}}</a><br>
							<strong>Phone</strong> : {{Lender[0].Phone}}<br>
							<strong>Address</strong> : <a href="" id="address_anchor" longi="{{Lender[0].longitude}}" latti="{{Lender[0].latitude}}">{{Lender[0].storeAddress}} {{Lender[0].longitude}} {{Lender[0].latitude}}</a>
							<div id="map-canvas"></div>
						    </address>
						</div>
<input type="hidden" id="hid_email1" value={{Lender[0].Email}}>
						<div class="social_activity">
						    
						    <ul>
							<li><a title={{Lender[0].longitude}}&nbsp{{Lender[0].latitude}} rel='tooltip'><i class="fa fa-map-marker"></i></a></li>
							<li><a title="email" rel='tooltip' data-placement='top' href="mailto:{{Lender[0].Email}}"><i class="fa fa-envelope"></i></a></li>
							<li><a rel='tooltip' data-placement='top' href="#"><i class="fa fa-lock"></i></a></li>
							<li><a rel='tooltip' data-placement='top' href="#"><i class="fa fa-thumbs-up"></i></a></li>
						    </ul>
						</div>
						<div class="about_lender">
						    <div class="inner_about">About :</div>
						    <div class="about_content_part">
							<p>Lorem Ipsum is a dummy text.</p>
						    </div>
						    <div class="selected_my_lender">
							<div class="inner_about1">How are things going? :</div>
							<div class="about_content_part">
							    <input type="radio" name="group1" value="" checked><span>Havn't Gone yet</span><br>
							    <input type="radio" name="group1" value="" ><span>On My Way</span><br>
							    <input type="radio" name="group1" value=""><span>Got My Loan</span>
							    <div class="lender_button">
								
								<div class="classic _button">
								<a href="">
								<input required type="submit" name="submit" id="clickme" value="Select a New Lender" class="lender_input_style"></a>
<a  data-toggle="modal" data-target="#myModal" class="open-AddBookDialog" href=""><input required type="button" name="appointment" id="appointment" value="Schedule an Appointment" class="lender_input_style"></a>
								</div>
								
								
								<div class="classic_select">
								<select class="select_aprting" id="choose" class="empril" name="choose" style=display:none;"">
								    <option value="Did not go">Did not go to the store</option>
								    <option value="Good Experience">Good experience</option>
								    <option value="Bad Experience">Bad experience</option>
								</select>
								</div>
							    <div class="classic_continue">	
							     <input style=display:none;"" type="submit" name="submit" id="lender_select" value="Continue" class="lender_input_style">
							    </div>
								
								</div>{% endverbatim %}
  <input type="hidden" id="hid_email2" value={{user.email}}>
							</div>
							</form>
						    </div>
						</div>
					    </div><!--first part close here-->
					</div>
				    </div>
				</div>
				    <!--====first inner part close here====--> 
			    </div>
			</div>
			<div class="pagination"></div>
		    </div>
		</div> 
	    </div>
	    <!--=============right_content_close_here==============-->
	    
	    
	     <!-- Modal start here-->
		    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			    <div class="modal-content" ng-controller="bootstrap_modal_controller">
				<div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    <h4 class="modal-title" id="myModalLabel">Schedule Appointment</h4>
				</div>
				<div id="appoint_status" style="display: none" class="alert alert-success"></div>
				<div class="modal-body">
				    <form  ng-submit="submit()" role="form" name="appointment_form" id="appointment_form"  method="POST" >{% csrf_token %} 
					<address>
					    <strong >Lender_Email</strong> :<div class="lender_email"></div> <br>
					    <strong>Customer_Email</strong> :<div class="customer_email"></div> <br>
					    <strong >Requested on:</strong>:<br>
					    <input type="text" id="datepicker" ng-model="date"><br>
					    <strong >Message</strong>
					    <textarea class="message" rows="4" cols="50" readonly>
					     </textarea>	
					</address>
				    </form>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn btn-default" id="apoint_close" data-dismiss="modal">Close</button>
				    <input type="submit" class="btn btn-primary" ng-click="setAppointment()" value="Schedule">
				</div>
			    </div>
			</div>
		    </div>
		<!-- Modal close here-->
	    
	    
	</div>
    </div>
</section>

  
  

    
{% endblock %}


