{% extends 'base.html' %}
{% load staticfiles %}
{% load easy_maps_tags %}
{% load easy_maps_tags cache %}


{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block content %}
djkfhkjsdfhkjsdf
<section id="neighboured_second">
    <div class="container">
	<div class="row">
	<!--============right_content_start_here===============-->
	    <div class="col-md-12 col-sm-12">
		<div class="my_lender_dashboard">
		    <div class="device">
			<a class="arrow-left" href="#"></a> 
			<a class="arrow-right" href="#"></a>
			<div class="swiper-container">
			    <div id="lenderStatus"></div>
			    <div class="swiper-wrapper">
				<div class="swiper-slide" ng-app="{% block ng_app %}app.app.static{% endblock %}">
				    <div class="customer_profile" ng-controller="{% block ng_controller %}Selected-LenderController{% endblock %}">
					<!--====first inner part start here====--> 
					<div class="swiper-slide">
					    <div class="first_part_start"><!--first part start here-->
						<div class="inner_heading_part">My Lender</div>
						<div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style">{% verbatim %}{{Lender[0].ownerName}}{% endverbatim %}</span></div>
						<div class="inner_contact">
						    <address>{% verbatim address %}
							<strong>Store</strong> : {{Lender[0].storeName}}<br>
							<strong>Email</strong> : <a href="mailto:{{Lender[0].Email}}">{{Lender[0].Email}}</a><br>
							<strong>Phone</strong> : {{Lender[0].Phone}}<br>
							<strong>Address</strong> : <a href="">{{Lender[0].storeAddress}} {{Lender[0].longitude}} {{Lender[0].latitude}}</a>
						    </address>
						</div>
						<div class="social_activity">
						    
						    <ul>
							<li><a title="map" rel='tooltip' data-placement='top' href="#"><i class="fa fa-map-marker"></i></a></li>
							<li><a title="phone" rel='tooltip' data-placement='top' href="#"><i class="fa fa-phone"></i></a></li>
							<li><a title="lock" rel='tooltip' data-placement='top' href="#"><i class="fa fa-lock"></i></a></li>
							<li><a title="lock" rel='tooltip' data-placement='top' href="#"><i class="fa fa-lock"></i></a></li>
							<li><a title="like" rel='tooltip' data-placement='top' href="#"><i class="fa fa-thumbs-up"></i></a></li>
						    </ul>
						     <div id="map">
							{% verbatim %}{% cache 600 my_map {{Lender[0].storeAddress}} %}
    {% easy_map '{{Lender[0].latitude}} {{Lender[0].longitude}}' 300 400 %}
{% endcache %}{% endverbatim %}{% endverbatim address %}
							
                                                    </div>
						</div>
						<div class="about_lender">
						    <div class="inner_about">About :</div>
						    <div class="about_content_part">
							<p>Lorem Ipsum is a dummy text.</p>
						    </div>
						    <div class="selected_my_lender">
							<div class="inner_about">How are things going? :</div>
							<div class="about_content_part">
							    <input type="radio" name="group1" value="" checked> Havn't Gone yet<br>
							    <input type="radio" name="group1" value="" >On My Way<br>
							    <input type="radio" name="group1" value="">Got My Loan
							    <div class="lender_button">
								<a href="/dashboard"><input required type="submit" name="submit" id="submit" value="Select a New Lender" class="lender_input_style"></a>
							    </div>
							</div>
						    </div>
						</div>
					    </div><!--first part close here-->
					</div>
				    </div>
				</div>
				    <!--====first inner part close here====--> 
			    </div>
			</div>
			<div class="pagination"></div>
		    </div>
		</div> 
	    </div>
	    <!--=============right_content_close_here==============-->
	</div>
    </div>
</section>
    
{% endblock %}


