{% extends 'customers/dashboard.html' %}
{% load staticfiles %}
{% load easy_maps_tags %}
{% block dash_content %}
			<div id="content" ng-app="app.app.static">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Lender</span></h1>
					</div>
				<!-- widget grid -->
			
				<div id="content" ng-controller="Selected-LenderController">
					<div class="row">
						<big-breadcrumbs items="['App Views', 'Blog']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
							<div smart-include="build/layout/partials/sub-header.tpl.html"></div>
					</div>
					<div class="row">
					    <div class="col-sm-12">
					        <div class="well custm_pddng_15 my-leader">
						    <div class="row lender_dtl_repeat customer-access">
							<div class="col-xs-2 access-inner"><div class="common_pro_res">{% verbatim %}
							    <a href="#" target="_self">{% endverbatim %}<img src="{% static "img/proff_man.png" %}" class="img-responsive" alt="styles/img"></a>
							    <ul class="list-inline customer-head">
                                                                <li>{% verbatim %}
                                                                    <a href-void>{{Lender[0].ownerName}}</a>
                                                                </li>{% endverbatim %}
                                                            </ul>
                                                        </div>
                                                        </div>
                                                        <div class="col-xs-10 padding-left-0 owner_divdr_theme">{% verbatim %}
							    <h3 class="owner-heading">
							    <a href="#" target="_self"> {{Lender[0].storeName}}</a>
							    <span class="owner-small-2">Owned by <a href-void>{{Lender[0].ownerName}}</a></span>
							    </h3>{% endverbatim %}
							    
							<form ng-submit="submit()" role="form" name="mylender" id="mylender-form"  method="POST">{% csrf_token %}

							<div class="main-form">
						    <address class="strip-looser">{% verbatim  %}
							<strong>Store</strong> : {{Lender[0].storeName}}<br>
							<strong>Email</strong> : <a href="mailto:{{Lender[0].Email}}">{{Lender[0].Email}}</a><br>
							<strong>Phone</strong> : {{Lender[0].Phone}}<br>
							<strong>Address</strong> : <a href="">{{Lender[0].storeAddress}}&{{Lender[0].longitude}} {{Lender[0].latitude}}</a>
<input type="hidden" id="longitude" value={{Lender[0].longitude}}>
<input type="hidden" id="latitude" value={{Lender[0].latitude}}><br><br>
<div id="map-canvas"></div>
						    </address>
						    </div>


						    <div class="social_activity1">
						    <ul>
							<li><a title="email" rel='tooltip' data-placement='top' href="mailto:{{Lender[0].Email}}"><i class="fa fa-envelope"></i></a></li>
							<li><a title="lock" rel='tooltip' data-placement='top' href="#"><i class="fa fa-lock"></i></a></li>
							<li><a title="like" rel='tooltip' data-placement='top' href="#"><i class="fa fa-thumbs-up"></i></a></li>
						    </ul>
							</div>

						</div>
						<input type="hidden" id="hid_email1" value={{Lender[0].Email}}>
						
						<div class="about_lender">
						    <div class="inner_about">About :</div>
						    <div class="about_content_part">
							<p style="word-wrap: break-word;">
								At <a>{{Lender[0].storeName}}</a> we provide you loans very easily.In case if you are interested,
								please call on {{Lender[0].Phone}} or you can email us at <a>{{Lender[0].Email}}</a>.
								<br>The store is located at, {{Lender[0].storeAddress}}.
								<br><br>
							    </p>
						    </div>
						    <div class="selected_my_lender">
							<div class="inner_about">How are things going? :</div>
							<div class="about_content_part">
							<div class="smart-form">
							<label class="radio">
							<input type="radio" name="group1" value="" checked><i></i> <span>Havn't Gone yet</span></label>
							<label class="radio"> <input type="radio" name="group1" value="" ><i></i> <span>On My Way</span></label>
							 <label class="radio"><input type="radio" name="group1" value=""> <i></i><span>Got My Loan</span></label>
							 </div>
							    <div class="lender_button">
								<a href="">
								<input required type="submit" name="submit" id="clickme" value="Select a New Lender" class="andev btn btn-primary"></a>
								<a data-toggle="modal" data-target="#myModal" class="open-AddBookDialog" href="">
								<input required type="button" name="appointment" id="appointment" value="Schedule an Appointment" class="btn btn-primary"></a>
								<select class="customer-select" id="choose" name="choose" ng-model="status" style=display:none;"">
								    <option value="Did not go">Did not go to the store</option>
								    <option value="Good Experience">Good experience</option>
								    <option value="Bad Experience">Bad experience</option>
								</select>
								<input style=display:none;"" type="submit" name="submit" id="lender_select" value="Continue" class="btn btn-primary lender_input_style">
							    </div>{% endverbatim %}
							    <input type="hidden" id="hid_email2" value={{user.email}}>
							</div>
						    </div>
						    </form>
							</div>
							
						    </div>
						
						    
						   
						</div>
						<div data-pagination="" data-num-pages="numPages()" 
							data-current-page="currentPage" data-max-size="maxSize"  
							data-boundary-links="true">
						    </div>
						    
					   
					    
	</div>
				
				
<!-- Modal start here-->
		    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			    <div class="modal-content" ng-controller="bootstrap_modal_controller">
				<div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    <h4 class="modal-title" id="myModalLabel">Schedule Appointment</h4>
				</div>
				<div id="appoint_status" style="display: none" class="alert alert-success"></div>
				<div class="modal-body">
				    <form  ng-submit="submit()" role="form" name="appointment_form" id="appointment_form"  method="POST" >{% csrf_token %} 

					<div class="shedule-appointment">
					<div>
					<label>Lender_Email :</label>
					<span class="lender_email"></span>
					</div>

					<div>
					<label>Customer_Email :</label>
					<span class="customer_email"></span>
					</div>

					<div>
					<label>Requested on :</label>
					<span><input class="datepick" type="text" id="datepicker" ng-model="date"></span>
					</div>

					<div>
					<label>Message</label>
					<span><textarea class="message" rows="4" cols="50" readonly></textarea></span>
					</div>					  	
					</div>
				    </form>
				</div>
				<div class="modal-footer">
				    <button type="button" class="btn btn-primary" id="apoint_close" data-dismiss="modal">Close</button>
				    <input type="submit" class="btn btn-primary" ng-click="setAppointment()" value="Schedule">
				</div>
			    </div>
			</div>
		    </div>
</div>
</div>
</div>
{% endblock dash_content %}