{% extends 'customers/dashboard.html' %}
{% load staticfiles %}
{% block dash_breadcrumb %}
<div id="ribbon">
	<span class="ribbon-button-alignment"> 
		<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
			<i class="fa fa-refresh"></i>
		</span> 
	</span>

	<!-- breadcrumb -->
	<ol class="breadcrumb">
		<li>Home</li><li>Profile</li>
	</ol>
</div>
{% endblock dash_breadcrumb%}
{% block dash_content %}
<!-- MAIN CONTENT -->
<div id="content" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
	<!-- col -->
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
	    <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-puzzle-piece"></i> Dashboard <span>>
		Profile </span>
	    </h1>
	</div>
	<!-- end col -->
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row" ng-controller="{% block ng_controller %}CustomerProfileController{% endblock %}">
	<div class="col-sm-12">
	    <div class="well well-sm">
		<div class="row">
		    <div class="col-sm-12 col-md-12 col-lg-6">
			<div class="well well-light well-sm no-margin no-padding">
			    <div class="row">
				<div class="col-sm-12">
				    <div id="myCarousel" class="carousel fade profile-carousel">
					<div class="air air-bottom-right padding-10">
						<a href="/customerdashboard/myaccount/completeprofile/" target="_self" class="btn txt-color-white bg-color-pinkDark btn-sm"><i class="fa fa-link"></i> Complete your profile</a>
<a href="{% url 'avatar_change' %}" target="_self" class="btn txt-color-white bg-color-pinkDark btn-sm"><i class="fa fa-link"></i>Change your avtar</a>
					</div>
					<div class="air air-top-left padding-10">
						<h4 class="txt-color-white font-md">Nov 20, 2014</h4>
					</div>
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1" class=""></li>
						<li data-target="#myCarousel" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner">
						<!-- Slide 1 -->
						<div class="item active">
    
							<img src="/static/public/styles/img/demo/s1.jpg" alt="demo user">
						</div>
						<!-- Slide 2 -->
						<div class="item">
							<img src="/static/public/styles/img/demo/s2.jpg" alt="demo user">
						</div>
						<!-- Slide 3 -->
						<div class="item">
							<img src="/static/public/styles/img/demo/m3.jpg" alt="demo user">
						</div>
					</div>
				    </div>
			    </div>
			    <div class="col-sm-12">
			    <div class="row customer-control">
				<div class="col-xs-3 profile-pic">
					<div class="customer_man">
				    <img src="/static/public/styles/img/avatars/sunny-big.png" alt="demo user">
				    </div>

				
				</div>
				<div class="col-xs-9 user_infor">{% verbatim %}
				    <h1 class="koktail">{{Customer.first_name}} <span>{{Customer.last_name}}</span>
				   
				    <span class="owner-small"> CEO, SmartAdmin</span></h1>
				    <hr>
				    <ul class="list-unstyled">
					<li>
					    <p class="text-muted">
						<i class="fa fa-phone"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{Customer.Phone}}</span>
					    </p>
					</li>
					<li>
					    <p class="text-muted">
						<i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:{{Customer.Email}}">{{Customer.Email}}</a>
					    </p>
					</li>
					<li>
					    <p class="text-muted">
						    <i class="fa fa-skype"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{Customer.first_name}}</span>
					    </p>{% endverbatim %}
					</li>
					<li>
				    	    <p class="text-muted">
						    <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="txt-color-darken">Free after <a href="javascript:void(0);" rel="tooltip" title="" data-placement="top" data-original-title="Create an Appointment">4:30 PM</a></span>
					    </p>
					</li>
				    </ul>
				    <br>
				    <p class="font-md">
					<i>A little about me...</i>
				    </p>
				    <p class="app-paraph-2">
					Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
					cumque nihil impedit quo minus id quod maxime placeat facere
				    </p>
				   
				</div>
				
			    </div>
			</div>
		    </div>
		  
		<!-- end row -->
	    </div>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-6">
	    <form method="post" class="well padding-bottom-10" onsubmit="return false;">
		<textarea rows="2" class="form-control" placeholder="What are you thinking?"></textarea>
		<div class="margin-top-10">
		    <button type="submit" class="btn btn-sm btn-primary pull-right">
			    Post
		    </button>
		    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Location"><i class="fa fa-location-arrow"></i></a>
		    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Voice"><i class="fa fa-microphone"></i></a>
		    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add Photo"><i class="fa fa-camera"></i></a>
		    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="Add File"><i class="fa fa-file"></i></a>
		</div>
	    </form>
	    <div class="chat-body no-padding profile-message">
		<form  ng-submit="submit()" role="form" name="leadinfo" id="leadInformation-form"  method="POST">{% csrf_token %}
			    {% verbatim %}
			    <div class="col-sm-6 form-space">
				<div>
				  <label>First_Name :</label>
				  <input class="form-control" required type="text" maxlength="50" id="first_name" ng-model="first_name">
				</div>
			    
				<div>
				  <label>Last_Name :</label>
				  <input class="form-control" required maxlength="50" type="text" id="last_name" ng-model="last_name">
				</div>
			    
				<div>
				  <label>Phone home:</label>
				  <input class="form-control" type="text" maxlength="10" ng-model="customerPhone" onkeypress='return event.charCode <= 57'>
				</div>
    
				<div>
				  <label>Email :</label>
				  <input class="form-control" required type="email" maxlength="50" ng-model="customerEmail">
				</div>
				
			    </div><!--Left part ends -->
			    <div class="col-sm-6">		    
				<div>
				  <label>Street Address1 :</label>
				  <textarea class="form-customer-textarea" required  maxlength="50" placeholder="Street Address" ng-model="customerAddress1"></textarea>
				</div>
			    
				<div>
				  <label>Street Address2 :</label>
				  <textarea class="form-customer-textarea" placeholder="Additional Street Address" ng-model="customerAddress2"></textarea>
				</div>
			    
				
				<div>
				  <label>Zip Code:</label>
				  <input class="form-control" type="text" maxlength="5" id="zip_code" ng-model="zip_code" onkeypress='return event.charCode <= 57'>
				</div>

				<div>
			      <input required type="submit"  id="submit" value="Save Changes" class="btn btn-primary save-value">
			    </div>
				
			    </div><!--right part ends-->
			    
			  {% endverbatim %}
			  </form>
	    </div>
	    </div>
	    </div>
	</div>
	</div>
    </div>
    <!-- end row -->
</div>
<!-- END MAIN CONTENT -->


{% endblock dash_content %}


