{% extends "registration/registration_base.html" %}

{% load i18n %}

{% block page-title %}{% trans "Activation complete" %}{% endblock page-title %}

{% block body-attrs %} class="standalone"{% endblock body-attrs %}


<!--=== Breadcrumbs ===-->
       {% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Activation complete</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <!--li><a href="">Pages</a></li-->
                <li class="active">Activation complete</li>
            </ul>
        </div><!--/container-->
    </div>
    {% endblock breadcrumb %}
    <!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->



{% block content %}
{% url 'auth_login' as auth_login_url %}

<div class="generic-content-wrapper container content">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="reg-page"> 
     <div class="reg-header">            
        <h2>Activation complete</h2>
     </div>
     <p class="reset-paraph">
        {% blocktrans %}
        Thanks, activation complete!  You may now <a href="{{ auth_login_url }}">login</a> using the username and password you set at registration.
        {% endblocktrans %}
      </p>
    
</div>    
</div>
</div>

{% endblock content %}


