{% load i18n %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}





    
     <!--=== Content Part ===-->

     {% block content %}

 
     <div class="generic-content-wrapper container content">
    <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <form class="reg-page" id="simpleSignIn" method="post" action="{{ request.path }}" enctype="multipart/form-data">
            <div class="reg-header">            
                <h2>Login to your account</h2>
            </div>
            {% csrf_token %}
            <!--<ul class="content-listing generic-form reg-header">-->
                {% include "dash/snippets/generic_form_snippet.html" %}
                <div class="row">
                   <div class="col-md-6 checkbox">
                   <label><input type="checkbox"> Stay signed in</label> 
                   </div> 

                    <div class="col-md-6">
                        <button class="btn-u pull-right" type="submit">{% trans "Submit" %}</button>
                    </div>
                    <p>
                        <!--{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Forgot</a> your password?
                        <a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}-->
                        <input type="hidden" name="next" value="{{ next }}" />
                    </p>
                </div>
                <hr>

                    <h4>Forget your Password ?</h4>
                    <p>No worries, <a class="color-green" href="/accounts/password/reset/">click here</a> to reset your password.</p>

            <!--</ul>-->
        </form>
    </div>
  </div>
</div>

  <!--  <div class="container content">     
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

                <form class="reg-page">
                    <div class="reg-header">            
                        <h2>Login to your account</h2>
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" placeholder="Username" class="form-control">
                    </div>                    
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" placeholder="Password" class="form-control">
                    </div>                    

                    <div class="row">
                        <div class="col-md-6 checkbox">
                            <label><input type="checkbox"> Stay signed in</label>                        
                        </div>
                        <div class="col-md-6">
                            <button class="btn-u pull-right" type="submit">Login</button>                        
                        </div>
                    </div>

                    <hr>

                    <h4>Forget your Password ?</h4>
                    <p>no worries, <a class="color-green" href="#">click here</a> to reset your password.</p>
                </form>   

            </div>
        </div><!--/row-->
   <!-- </div>-->
    {% endblock %}

    <!--/container-->     
    <!--=== End Content Part ===-->


