{% extends "registration/registration_base.html" %}

{% load i18n %}

{% block page-title %}{% trans "Logged out" %}{% endblock page-title %}

{% block body-attrs %} class="standalone"{% endblock body-attrs %}


{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block testimonials %}{% endblock %}
{% block content %}
{% url 'auth_login' as auth_login_url %}
<div class="generic-content-wrapper ">
    <div class="wrapper-bg"></div>
    
    <section id="neighboured_second">
        <div class="container">


              <div class="logout_frm_me">
                <h4>You have successfully logged out! </h4>
                <div class="lndr_lgt">
                    <p>We are currently piloting our service in a few select markets. If you would like to know when we are coming to your area, please let us know and we will be in touch shortly.</p>
                     <h5>For assistance contact us </h5>
                      <p> 151 S. Daniel Morgan Ave
                        Spartanburg, <br /> SC 29306
                        <strong>Phone:</strong> 864-396-2656
                       <strong> Email:</strong> info@locallenders.net 
                    </p>
                    <a href="{% url 'homepage' %}"> Go back to home page </a> OR 
                     {% blocktrans %}<a href="{{ auth_login_url }}"> Login again </a>{% endblocktrans %}
                </div>
            </div>

        <div style=" margin-top:40px;"class="row ">
        </div>
    </section>
    
    </div>
</div>
{% endblock content %}
