{% load i18n %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}


    {% block content %}
     <div class="generic-content-wrapper container content">
    <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 reset_heb">
     <form class="reg-page" method="post" action="{{ request.path }}" enctype="multipart/form-data">
     <div class="reg-header">            
        <h2>Reset Password</h2>
     </div>
        <p class="reset-paraph">
        {% blocktrans %}
        Forgot your password?  Enter your email in the form below and we'll send you
        instructions for creating a new one.
        {% endblocktrans %}
        </p>

        <!--<form class="reg-page" method="post" action="{{ request.path }}" enctype="multipart/form-data">-->
            {% csrf_token %}
            <ul class="content-listing generic-form reseting">
                {% include "dash/snippets/generic_form_snippet.html" %}
                <li class="buttons">
                    <div>
                        <button class="btn-u" type="submit">{% trans "Reset password" %}</button>
                    </div>
                </li>
            </ul>
        </form>

    </div>
      
    </div>
</div>
{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_email").attr('placeholder', 'Email' );
       
        
    });
</script>



