{% extends "registration/registration_base.html" %}

{% load i18n %}

{% block page-title %}{% trans "Password reset complete" %}{% endblock page-title %}

{% block body-attrs %} class="standalone"{% endblock body-attrs %}


<!--=== Breadcrumbs ===-->
       {% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Password reset complete</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Password reset complete</li>
            </ul>
        </div><!--/container-->
    </div>
    {% endblock breadcrumb %}
    <!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->



{% block content %}
{% url 'auth_login' as auth_login_url %}
<div class="generic-content-wrapper container content">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="reg-page"> 
    <div class="reg-header">            
        <h2>Password reset complete</h2>
     </div>

        <p class="reset-paraph">{% trans "Your password has been reset!" %}<br>
        {% blocktrans %}You may now <a href="{{ auth_login_url }}">log in</a>.{% endblocktrans %}
        </p>
   
</div>
</div>
</div>

{% endblock content %}
