{% load i18n %}

{% block text %}{% endblock %}

<!--=== Breadcrumbs ===-->
       {% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Password reset</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Password reset</li>
            </ul>
        </div><!--/container-->
    </div>
    {% endblock breadcrumb %}
    <!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->


{% block content %}

<div class="generic-content-wrapper container content">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
     <div class="reg-page">   
       <div class="reg-header">            
        <h2>Password Reset</h2>
     </div>
   <p class="reset-paraph"> {% blocktrans %}
    We have sent you an email with a link to reset your password.
    Please check your email and click the link to continue.
    {% endblocktrans %}</p>
   </div>

        </div>
    </div>

{% endblock %}

