{% extends "registration/registration_base.html" %}

{% load i18n %}

{% block page-title %}{% trans "Confirm password reset" %}{% endblock page-title %}

{% block body-attrs %} class="standalone"{% endblock body-attrs %}



    <!--=== Breadcrumbs ===-->
       {% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Confirm password reset</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Confirm password reset</li>
            </ul>
        </div><!--/container-->
    </div>
    {% endblock breadcrumb %}
    <!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->


{% block content %}
<div class="generic-content-wrapper container content">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <form class="reg-page" method="post" action="{{ request.path }}" enctype="multipart/form-data">
    <div class="reg-header">            
        <h2>Confirm Password Reset</h2>
     </div>

    <div class="content-body">
        <p class="reset-paraph">{% trans "Enter your new password below to reset your password:" %}</p>
        
            {% csrf_token %}
            <ul class="content-listing generic-form reseting">
               
               <div class="resek_honor">
                {% include "dash/snippets/generic_form_snippet.html" %}
                </div>
               
               
                <li class="buttons">
                    <div>
                        <button class="btn-u" type="submit">{% trans "Set password" %}</button>
                    </div>
                </li>
            </ul>
        
    </div>
    </form>
  </div>
</div>
</div>
{% endblock content %}



