{% load i18n %}
{% block testimonials %}{% endblock %}
{% block text %}{% endblock %}


 <!--=== Breadcrumbs ===-->
  {% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Customer Sign Up</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Customer Sign Up</li>
            </ul>
        </div><!--/container-->
    </div>
    {% endblock %}
    <!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

{% block content %}
<div class="generic-content-wrapper container content">
    <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 reset_heb2">
     <form class="reg-page" method="post" action="{{ request.path }}" enctype="multipart/form-data">{% csrf_token %}
     <div class="reg-header">            
        <h2>Customer Sign Up</h2>
     </div>
                    <div class="customer_signup" ng-controller="{% block ng_controller %}CustomerSignUpController{% endblock %}"><!--application form start here-->

                            
                                        <!--<form method="post" action="{{ request.path }}" enctype="multipart/form-data">{% csrf_token %}-->
                                            <ul class="content-listing generic-form reseting">
                                                {% include "dash/snippets/generic_form_snippet.html" %}
                                                <li class="buttons">
                                                    <div>
							
                                                        <!--<button class="button4" type="submit">{% trans "Send activation email" %}</button>-->
                                                    <input type="submit" class="activtion_button btn-u" value="Next">
                                                    </div>
					
                                                </li>
                                            </ul>
                                       
                                   
                     
                     </div>
                     </form>
    </div>
    </div>
</div>
{% endblock %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_username").attr('placeholder', 'Username' );
        $("#id_password1").attr('placeholder', 'Password');
        $("#id_password2").attr('placeholder', 'Confirm Password' );
        $("#id_email").attr('placeholder', 'Email' );
        
    });
</script>

<!--{% block info %}
    <section id="neighboured">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
	
                <div class="inner_headline1"> Local lenders are ready to give you the money you need</div>
    
                    <div>
                        <div class="progressing" class="nav nav-tabs" role="tablist"></div>
                        <ul id="progressbar">
                            <li class="active"><a href="#home" role="tab" data-toggle="tab" title="Getting Started" rel='tooltip' data-placement='bottom'>Provide your contact info</a></li>
                            <li><a href="#profile" role="tab" data-toggle="tab" title="Locate Nearest Lender" rel='tooltip' data-placement='bottom'>Select a local lender
</a></li>
                            <li><a href="#messages" role="tab" data-toggle="tab" title="Schedule Appointment" rel='tooltip' data-placement='bottom'>Schedule an appointment</a></li>
                            <li><a href="#settings" role="tab" data-toggle="tab" title="Go to Store" rel='tooltip' data-placement='bottom'>Go to the store</a></li>
                        </ul>
                    </div>
                </div>
	    </div>
	</div>
        </section>
    
{% endblock %}-->


