{% extends "registration/registration_base.html" %}

{% load i18n %}

{% block page-title %}{% trans "Activation email sent" %}{% endblock page-title %}

{% block body-attrs %} class="standalone"{% endblock body-attrs %}


<!--=== Breadcrumbs ===-->
       {% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Activation email sent</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Activation email sent</li>
            </ul>
        </div><!--/container-->
    </div>
    {% endblock breadcrumb %}
    <!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->



{% block content %}
    
    <div class="generic-content-wrapper container content">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <div class="reg-page"> 
    
     <div class="reg-header">            
        <h2>Activation email sent</h2>
     </div>
    <p class="reset-paraph">  
        {% trans "An activation email has been sent." %}
        {% blocktrans %}Please check your email and click on the link to activate your account.{% endblocktrans %}
        </span>
    </p>



            </div>
        </div>
        </div>
{% endblock %}

