{% extends "helpdesk/public_base.html" %}{% load i18n bootstrap %}
{% block helpdesk_title %}{% trans "Helpdesk Login" %}{% endblock %}

{% block helpdesk_body %}

{% if request.user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url={% url 'helpdesk_home' %}">
{% else %}
     <div class="report_card">
<div class="panel panel-default tested ">

<div class="panel-body"><h2>Login</h2>

    <p>{% trans "To log in simply enter your username and password below." %}</p>

    <form method='post' action='./'>
        {% if form.errors %}<p>{% trans "Your username and password didn't match. Please try again." %}</p>{% endif %}
        {{ form|bootstrap }}
        <div class='buttons form-group'>
        <input class="btn btn-primary" type='submit' value='{% trans "Login" %}'/>
        <div>
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}../{% endif %}" />
    {% csrf_token %}</form>
</div>
</div>
</div>
</div>
</div>
{% endif %}
{% endblock %}
