{% extends 'staff/staffdashboard.html' %}
{% load staticfiles %}

{% block dash_content %}
<section id="neighboured_second" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <div class="" ng-controller="{% block ng_controller %}SingleAppointmentController{% endblock %}">
	{% block dashboard %}
	    {% block appointments %}
		<!--============right_content_start_here===============-->
		<div class="col-md-12 col-sm-12">
		    <div class="inner_heading_part"><i class="fa-fw fa fa-home"></i> Dashboard <span>> Appointments</span></div>
		    <div class="apointment-dashboard">
			<div class="well-appoint well-sm">
			    <div class="inner_heading_part-2">Appointment</div>
			    <!--====first inner part start here====--> 
			    <div class="swiper-slide">
				<div class="first_part_start"><!--first part start here-->
				    <div class="apnt_blck_cmn">
					<div class="Customer">Customer</div>
					<div class="appointment_man">
					    <div class="img_part"><img src={% static "img/proff_man.png" %} alt="professional man"></div>
					    <div class="desp_part" ng-repeat="user in customer">{% verbatim %}
						<p class="address-detail-2">
						    <strong>Name</strong> : {{user.Name}}<br>
						    <strong>Email</strong> : {{user.Email}}<br>
						    <strong>Phone</strong> : {{user.Phone}}<br>
						    <strong>Added On</strong> : {{appointment[0].added_on}}<br>
						    <strong>Requested On</strong> : {{appointment[0].scheduled_at}}<br>
						    <input type="hidden" id="appointment_id" value="">
						    <input type="hidden" id="hid_customer_email" value={{user.Email}}>
						    <input type="hidden" id="hid_added_on" value={{appointment[0].added_on}}>
						    <input type="hidden" id="hid_requested_on" value={{appointment[0].scheduled_at}}>
						    <input type="hidden" id="hid_id" value={{appointment[0].appointment_id}}>
						</p>
					    </div>
					</div>
				    </div>{% endverbatim %}
				    <div class="relation_contact apnt_rltn">
					<div class="relation_img"><img src={% static "img/relation_img.png" %} alt="relation"></div> 
					<div class="appoint-status-part">
					    <label for="Appointment Status">Appointment Status : </label> {% verbatim %}{{stat}}{% endverbatim %}
					</div>
					<a data-toggle="modal" data-target="#appoint_Modal" >
					    <div class="relation_button"><input type="submit" class="btn btn-primary" value="Schedule" id="schedule"></a></div>
				    </div>  
				    <div class="apnt_blck_ryt">
					<div class="Lender">Lender</div>
					<div class="appointment_man">
					    <div class="img_part"><img src={% static "img/proff_man.png" %} alt="professional man"></div>
					    <div class="desp_part" ng-repeat="user in lender">{% verbatim %}
						<p class="address-detail-2">
						    <strong>Name</strong> : {{user.Store}}<br>
						    <strong>Email</strong> : {{user.Email}}<br>
						    <strong>Phone</strong> : {{user.Phone}}<br>
						    <strong>Store</strong> : {{user.Store}}<br>
						    <strong>Address</strong> : {{user.Address}}
						    <input type="hidden" id="hid_lender_email" value={{user.Email}}>
						    <input type="hidden" id="location" value={{user.Store}},{{user.Address}}>
						</p>
					    </div>
					</div>{% endverbatim %}
				    </div>
				</div><!--first part close here-->
			    </div>
			    <!--====first inner part close here====--> 
			</div>
		    </div>
		</div>  
					<!--=============right_content_close_here==============-->
					<!--=============right_content_close_here==============-->
					<!-- Modal start here-->
					    <div class="modal fade" id="appoint_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
						    <div class="modal-content" ng-controller="staff_modal_controller">
							<div class="modal-header">
							    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>	
							    <h4 class="modal-title" id="myModalLabel">Schedule Appointment</h4>
							</div>
							<div class="modal-body">
							    <form  ng-submit="submit()" role="form" name="staff_appointment_form" id="staff_appointment_form"  method="POST" >{% csrf_token %} 
								<address class="address-detail-2 sedule_theme">
								<div>
									<label>Lender_Email :</label>
									<span class="lender_email_field"></span>
								</div>

								<div>
									<label>Customer_Email :</label>
									<span class="customer_email_field"></span>
								</div>

								<div>
									<label>Requested on :</label>
									<span class="requested_on"></span>
								</div>

								<div>
									<label>Added on :</label>
									<span class="added_on"></span>
								</div>

								<div>
									<label>Location :</label>
									<span class="appoint_location"></span>
								</div>
								
								<div>
									<label>Change Schedule:</label>
									<input type="text" id="datepicker" class="input_theme" ng-model="schedule"><br>
								</div>
								

								<div>
									<label>Note :</label>
									<span><textarea class="message form-control-textarea-2 " id="note"></textarea></span>
								</div>




								   <!-- <span>Lender_Email</span> :<div class="lender_email_field"></div> <br>
								    <span>Customer_Email</strong> :<div class="customer_email_field"></div> <br>
								    <span>Requested on</strong>:<div class="requested_on"></div> <br>
								    <span>Added on</strong>:<div class="added_on"></div> <br>
								    <span>Location</strong>:<div class="appoint_location"></div> <br>
								    <span>Change Schedule:</strong>
								    <input type="text" id="datepicker" ng-model="schedule"><br>
								    <strong >Note</strong>
								    <textarea class="message" id="note">
								    </textarea>	-->
								</address>
							    </form>
							</div>
							<div class="modal-footer">
							    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
							    <input type="submit" class="btn btn-primary" ng-click="approveAppointment()" value="Approve">
							</div>
						    </div>
						</div>
					    </div>
					<!-- Modal close here-->
				      </div>

				    {% endblock appointments %}
			  
			  </section>
 			  
{% endblock dashboard  %}
{% endblock %}
{% block paging_js %}
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
{% endblock  %}






