{% extends 'staff/staffdashboard.html' %}
{% load staticfiles %}

{% block dash_content %}



			
	
			  			
			<section id="neighboured_second" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
			    <div class="" ng-controller="{% block ng_controller %}AppointmentsController{% endblock %}">
			        {% block dashboard %}
				   
					{% block appointments %}
					<!--============right_content_start_here===============-->
					<div class="col-md-12 col-sm-12">
					 <div class="inner_heading_part"><i class="fa-fw fa fa-home"></i> Dashboard <span>> Appointments</span></div>


						<div class="apointment-dashboard">
        				<div class="well">
							  <div class="inner_heading_part-2">Appointments List</div>
							  <!--====first inner part start here====--> 
							  <div class="swiper-slide"></div>
							  <div class="row apntmnt_list_theme">
							  	<div class="col-md-4" ng-repeat="appointment in appointments"><!--first part start here-->{% verbatim %}
				                              <div class="appointment_list">
							        <form>
				                                    <address class="address-detail">
				                                        <strong>Appointment Id</strong> : {{appointment.id[0]}}<br>
				                                        <strong>Lender Id</strong> : {{appointment.id[1]}} <br>
				                                        <strong>Customer Id:</strong> : {{appointment.id[2]}}<br>
				                                        <strong>Added On</strong> : {{appointment.id[3]}}<br>
				                                        <strong>Scheduled On</strong> : {{appointment.id[4]}}<br>
				                                        <strong>Description</strong> : {{appointment.id[5]}}
				                                        <input type="hidden" id="appoint_id" value={{appointment.id[0]}}>
								    </address>
				                                    <a class="btn btn-primary" href="/staffdashboard/appointment/id/{{appointment.id[0]}}/">View</a></li>
				                              </form>
							      </div>   
								
							    </div><!--first part close here-->{% endverbatim %}
							</div>
							  </div>
							  <!--====first inner part close here====--> 
							</div>
						      </div>
						    </div>
						    </div>	
						    		 <div class="pagination" data-pagination="" data-num-pages="numPages()" 
			    data-current-page="currentPage" data-max-size="maxSize"  
			    data-boundary-links="true">

								</div>
						    </div> 
				
						<!--=============right_content_close_here==============-->
						
						
				                        
					      </div>
				
				    {% endblock appointments %}
			    </div>
			  </section>
	 
{% endblock dashboard  %}
{% endblock %}
{% block paging_js %}
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
{% endblock  %}






