{% extends 'staff/staffdashboard.html' %}
{% load staticfiles %}

{% block dash_content %}
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> Customers</span></h1>
					</div>
				<!-- widget grid -->
			
				<div id="content" ng-app="app.app.dashboard">
					<div class="row">
						<big-breadcrumbs items="['App Views', 'Blog']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
							<div smart-include="build/layout/partials/sub-header.tpl.html"></div>
					</div>
					<div class="row" ng-controller="CustomerListController">
					    <div class="col-sm-12">
					        <div class="well padding-10">
						    <ul role="tablist" class="nav nav-tabs" id="myTab">
							<li class="active"><a data-toggle="tab" role="tab" href="#home">All</a></li>
							<li class=""><a data-toggle="tab" role="tab" href="#leads">Active Leads</a></li>
							<li class=""><a data-toggle="tab" role="tab" href="#profile">Abondened</a></li>
							<li class=""><a data-toggle="tab" role="tab" href="#profile">Logged In</a></li>
							<li class=""><a data-toggle="tab" role="tab" href="#profile">No Appointments</a></li>
							</ul>
							<input type="submit" class="btn btn-primary synctab_btn " ng-click="convertToLead()" value="SyncToDb">

						<div class="tab-content customerTab" id="myTabContent">
						    <div id="home" class="tab-pane fade active in">
						    <form>{% csrf_token %}  
						    <div class="row cust_div_dash" ng-repeat = "customer in filteredcustomers | orderBy: 'seconds'">
							<div class="col-sm-2">
								<div class="cutmr_pro_hldr">
								    <div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style"></span></div>
								    <ul class="list-inline padding-10">
	                                    <li>{% verbatim %}
	                                        {{customer.first_name}} {{customer.last_name}}
	                                    </li>{% endverbatim %}
	                                </ul>
	                            </div>
                                                        </div>
                                                        <div class="col-sm-10 padding-left-0">
							    <h3 class="margin-top-0">Customer Information</h3>
							    <p>
								<div class="inner_contact">
								    <form>{% csrf_token %}   
									<address>{% verbatim %}
									    <strong>Email</strong> : {{ customer.Email }}<br>
									    <strong>Phone</strong> : {{ customer.Phone }}<br>
									    <strong>Member Since</strong> : {{ customer.days }}Days<br>
									    <strong>Last Login</strong> : {{ customer.lastloginhours }} hours ago<br>
									    <strong>Last Login</strong> : {{ customer.lastloginminutes }} minutes ago<br> 
									</address>
								    </form>
								</div>
								<div class="checking_part smart-form"><label class="checkbox"><input type="checkbox" name="option" ng-checked="customer.lead_conversion" ng-checked="customer.is_lead" ng-change="approveLead({{customer}})" ng-model="lead" value="lead"><i></i>Convert To Lead</label></div>
							
							    </p>
							</div>
						    </div>{% endverbatim %}
						</form>
						    </div>
						<!---active leads-->
						<div id="leads" class="tab-pane fade active in">
						    <form>{% csrf_token %}  
						    <div class="row cust_div_dash" ng-repeat = "customer in filteredcustomers | orderBy: 'seconds'" ng-show="customer.lead_conversion=='1'">
							<div class="col-md-2">
							    <div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style"></span></div>
							    <ul class="list-inline padding-10">
                                                                <li>{% verbatim %}
                                                                    {{customer.first_name}} {{customer.last_name}}
                                                                </li>{% endverbatim %}
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-10 padding-left-0">
							    <h3 class="margin-top-0">Customer Information</h3>
							    <p>
								<div class="inner_contact">
								    <form>{% csrf_token %}   
									<address>{% verbatim %}
									    <strong>Email</strong> : {{ customer.Email }}<br>
									    <strong>Phone</strong> : {{ customer.Phone }}<br>
									    <strong>Member Since</strong> : {{ customer.days }}Days<br>
									    <strong>Last Login</strong> : {{ customer.lastloginhours }} hours ago<br>
									    <strong>Last Login</strong> : {{ customer.lastloginminutes }} minutes ago<br> 
									</address>
								    </form>
								</div>
								<div class="checking_part smart-form"><label class="checkbox"><input type="checkbox" name="option" ng-checked="customer.lead_conversion" ng-checked="customer.is_lead" ng-change="approveLead({{customer}})" ng-model="lead" value="lead"><i></i>
                                 Convert To Lead </label>
                                </div>
							
							    </p>
							</div>
						    </div>{% endverbatim %}
						</form>
						    </div>
						
						
						
						
						
						
						</div>
						    <div data-pagination="" data-num-pages="numPages()" 
							data-current-page="currentPage" data-max-size="maxSize"  
							data-boundary-links="true">
						    </div>
						    <hr>
						</div>
					    </div>
</div>
</div>
	</div>
{% endblock dash_content %}  
{% block paging_js %}
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script>$('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })</script>
    
{% endblock %}

