{% extends 'accounts.html' %}
{% load staticfiles %}

{% block content %}
{% block paging_css %}
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
{% endblock %}


<section id="neighboured_second" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <div class="container" ng-controller="{% block ng_controller %}StaffDashboardController{% endblock %}">
        {% block dashboard %}
	    <div class="row">
		<div class="col-md-3 col-sm-3">
		    {% block sidebar %}
			<div class="left_vertical_nav">
			    <div class="navigation">
				<ul>
				    <li><a href="{% url 'homepage' %}">Home</a></li>
				    <li><a href="/staffdashboard/appointmentslist">Appointments</a></li>
				    <li><a href="/staffdashboard/" class="selected">Lenders</a></li>
				    <li><a href="/staffdashboard/customers">Customers</a></li>
				    <li><a href="/staffdashboard/helpdesk/">Helpdesk</a></li>
				    <li><a href="/staff">Go To Online Portal</a></li>
				</ul>
			    </div>
			</div>
		    {% endblock sidebar %}
		</div>
		<!--============right_content_start_here===============-->
		<div class="col-md-9 col-sm-9">
		    <div class="right_dashboard">
			{% include "helpdesk/navigation.html" %}
			  {% block helpdesk_body %}{% endblock %}
			  {% block staff_directory %}
			<div class="device">
			    <a class="arrow-left" href="#"></a> 
			    <a class="arrow-right" href="#"></a>
			    <div class="swiper-container">
				<div class="swiper-wrapper">
				    <div class="inner_heading_part">Lender</div>

				    <!--====first inner part start here====--> 
				    <div class="swiper-slide" ng-repeat = "lender in filteredlenders | orderBy: 'distance'">
					<div class="first_part_start"><!--first part start here-->
					    <div class="prof_man"><img src="{% static "img/proff_man.png" %}" alt="professional man"><span class="john_style">{% verbatim %}{{lender.Name}}{% endverbatim %}</span></div>
						<div class="inner_contact">
						    <form>{% csrf_token %}   
							<address>{% verbatim %}
							    <strong>Store</strong> : {{ lender.Store }}<br>
							    <strong>Email</strong> : {{ lender.Email }}<br>
							    <strong>Phone</strong> : {{ lender.Phone }}<br>
							    <strong>Address</strong> : {{ lender.Address }}
							</address>
						    </form>
						</div>
						<div class="social_activity">
						    <ul>
							<li><a title="map" rel='tooltip' data-placement='top' href="#"><i class="fa fa-map-marker"></i></a></li>
							<li><a title="phone" rel='tooltip' data-placement='top' href="#"><i class="fa fa-phone"></i></a></li>
							<li><a title="lock" rel='tooltip' data-placement='top' href="#"><i class="fa fa-lock"></i></a></li>
							<li><a title="like" rel='tooltip' data-placement='top' href="#"><i class="fa fa-thumbs-up"></i></a></li>
						    </ul>
						    <div class="checking_part"><input type="checkbox" name="option" ng-checked="lender.is_active" ng-change="approveLender(lender.id,lender.Email)" ng-model="lenders" value="lenders">Is Approved</div>
						</div>
					    </div><!--first part close here-->
				    </div>
				    <!--====first inner part close here====--> 
				</div>
			    </div>
			</div>
			
			<div data-pagination="" data-num-pages="numPages()" 
			    data-current-page="currentPage" data-max-size="maxSize"  
			    data-boundary-links="true"></div>
			
		    </div> 
		</div>
		
		<!--=============right_content_close_here==============-->
	    {% endverbatim %}
	</div>
    </div>
   {% endblock staff_directory %}
    </div>
</section>
{% endblock dashboard  %}
{% endblock %}
{% block paging_js %}
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
{% endblock  %}
