{% extends 'accounts.html' %}
{% load staticfiles %}


{% block content %}
{% block paging_css %}
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
{% endblock %}


<section id="neighboured_second" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">
    <div class="container" ng-controller="{% block ng_controller %}LeadDecisioningController{% endblock %}" >
        {% block dashboard %}
	<div class="row">
	    
    
	<div class="col-md-3 col-sm-3">
    {% block sidebar %}
     <div class="left_vertical_nav">
     <div class="navigation">
     <ul>
     <li><a href="/">Home</a></li>
     <li><a href="/staffdashboard/appointmentslist">Appointments</a></li>
     <li><a href="/dashboard/" class="selected">Select a new lender</a></li>
     <li><a href="/mylender/">My Lender</a></li>
     <li><a href="/myaccount/">My Profile</a></li>
     <li><a href="/pages/contact-us/">Contact Us</a></li>
     <li><a href="">FAQ's</a></li>
     </ul>
     </div>
	 </div>
     {% endblock %}
    
	</div>


	<!--============right_content_start_here===============-->
    
	<div class="col-md-9 col-sm-9">
    <div class="right_dashboard">
    
    
       <div class="device">
    <a class="arrow-left" href="#"></a> 
    <a class="arrow-right" href="#"></a>
    <div class="swiper-container">
      <div class="swiper-wrapper">
      
   <div class="inner_heading_part">Lenders</div>

    <div id="lenderStatus" class="alert alert-error"></div>
     <!--====first inner part start here====-->
     <form ng-submit="submit()" role="form" name="decisioning" id="decisioning" >{% csrf_token %}
       <div class="form-group">

        <label for="inputEmail">Url</label>

        <input type="text" ng-model="decision_path" class="form-control" id="inputpath" placeholder="Path"  pattern="https?://.+">

    </div>
       <div class="col-md-6 col-sm-4">
         <div class="form-group">

        <label for="inputEmail">Username</label>

        <input type="text" ng-model="decision_name" class="form-control" placeholder="username"  required>

    </div>
	 </div>
       <div class="col-md-6 col-sm-4">
         <div class="form-group">

        <label for="inputEmail">Password</label>

        <input type="password" ng-model="decision_pass" class="form-control" placeholder="pasword" required>

    </div>
       </div>
    <input  required  type="submit"  id="submit" value="Submit" class="button3">
     </form>
  	<!--====first inner part close here====--> 
        </div>
    </div>
  </div>
     <div data-pagination="" data-num-pages="numPages()" 
      data-current-page="currentPage" data-max-size="maxSize"  
      data-boundary-links="true"></div>
    
   
    
    </div> 
    </div>

	<!--=============right_content_close_here==============-->

 
    
    
	</div>
	</div>
    
{% endblock %}
	</div>
	</section>
{% endblock %}

{% block paging_js %}
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
{% endblock %}
