{% extends 'accounts.html' %}
{% load staticfiles %}
{% block dash_leftnavigation %}
<aside id="left-panel">
	
				<!-- User info -->
				<div class="login-info">
					<span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
						
						<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
							<img src="{% static "public/styles/img/avatars/sunny.png" %}" alt="me" class="online" /> 
							<span>
								{{user}}
							</span>
							<i class="fa fa-angle-down"></i>
						</a> 
						
					</span>
				</div>
				<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive-->
			<nav>
				<ul>
					<li class="active">
						<a href="/dashboard" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
					</li>
					<li>
						<a href="/staffdashboard/inbox"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Inbox</span><span class="badge pull-right inbox-badge">14</span></a>
					</li>
					<li>
						<a href="/staffdashboard/appointmentslist"><i class="fa fa-lg fa-fw fa-clock-o"></i> <span class="menu-item-parent">Appointments</span></a>
					</li>
					<li>
						<a href="/staffdashboard"><i class="fa fa-lg fa-fw fa-dollar"></i> <span class="menu-item-parent">Lenders</span></a>
					</li>
					<li>
						<a href="/staffdashboard/customers"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Customers</span></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-lg fa-fw fa-headphones"></i> <span class="menu-item-parent">Helpdesk</span></a>
					</li>
					<li>
						<a href="/staff"><i class="fa fa-lg fa-fw fa-hand-o-up"></i> <span class="menu-item-parent">Go To Online Portal</span></a>
					</li>
		
				</ul>
			</nav>
			<span class="minifyme" data-action="minifyMenu"> 
				<i class="fa fa-arrow-circle-left hit"></i> 
			</span>

		</aside>
{% endblock dash_leftnavigation %}



 {% block dash_content %}
			<div id="content" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
					</div>
				<!-- widget grid -->
			
				<div id="content" ng-controller="{% block ng_controller %}StaffDashboardController{% endblock %}">
					<div class="row">
						<big-breadcrumbs items="['App Views', 'Blog']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
							<div smart-include="build/layout/partials/sub-header.tpl.html"></div>
					</div>
					<div class="row">
					    <div class="col-sm-12">
					        <div class="well custm_pddng_15">
						<form>{% csrf_token %}  
						    <div class="row lender_dtl_repeat" ng-repeat = "lender in filteredlenders | orderBy: 'distance'">
							<div class="col-xs-2"><div class="common_pro_res">{% verbatim %}
							    <a href="/staffdashboard/updatelender/{{lender.id}}/" target="_self">{% endverbatim %}<img src="{% static "img/proff_man.png" %}" class="img-responsive" alt="styles/img"></a>
							    <ul class="list-inline padding-10">
                                                                <li>{% verbatim %}
                                                                    <a href-void>{{lender.Name}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                           </div>
                                                        <div class="col-xs-10 padding-left-0 owner_divdr_theme">
							    <h3 class="margin-top-0 owner-heading" style="word-wrap: break-word;"><a href="/staffdashboard/updatelender/{{lender.id}}/" target="_self"> {{lender.Store}}</a><small class="font-xs"><span class="owner-small-2">Owned by <a href-void>{{lender.Name}}</a></span></small></h3>
							    <p style="word-wrap: break-word;">
								At <a>{{lender.Store}}</a> we provide you loans very easily.In case if you are interested,
								please call on {{lender.Phone}} or you can email us at <a>{{lender.Email}}</a>.
								<br>The store is located at, {{lender.Address}}.
								<br>
							    </p>
							   

							    <div class="social_activity repeat_checks checkbox_custom">
							    	<div class="smart-form">
									    <label class="checkbox"><input ng-change="accountstatus(lender.id,lender.Email)" ng-checked="lender.leadstatuscode[1]==1"   type="checkbox" name="option"  ng-model="Onboarding" ng-true-value="1" ng-false-value="0">
									    <i></i>	
									    Onboarding in progress</label>
									    <label class="checkbox"><input ng-change="accountstatus(lender.id,lender.Email)" type="checkbox" name="option" ng-checked="lender.leadstatuscode[4]==1"  ng-model="Active" ng-true-value="1" ng-false-value="0"><i></i>Active</label>
									    <label class="checkbox"><input ng-change="accountstatus(lender.id,lender.Email)" type="checkbox" name="option" ng-checked="lender.leadstatuscode[7]==1"  ng-model="Paused" ng-true-value="1" ng-false-value="0" value="1"><i></i>Campaigns Paused</label>
									    <label class="checkbox"><input ng-change="accountstatus(lender.id,lender.Email)" type="checkbox" name="option" ng-checked="lender.leadstatuscode[10]==1" ng-model="maxLeads"  ng-true-value="1" ng-false-value="0"><i></i>Max Leads Accepted</label>
									    <label class="checkbox"><input ng-change="accountstatus(lender.id,lender.Email)" type="checkbox" name="option"ng-checked="lender.leadstatuscode[13]==1" ng-model="PastDue"  ng-true-value="1" ng-false-value="0"><i></i>Past Due</label>
									    <label  class="checking_part checkbox"><input type="checkbox" name="option" ng-checked="lender.is_active" ng-change="approveLender(lender.id,lender.Email)" ng-model="lenders" value="lenders"><i></i>Is Approved</label>
									</div>
								</div>
								<div class="admin_btn_hld">
									<a class="btn btn-primary" href-void>ACCEPTING</a>
								    <a class="btn btn-primary" href-void>MAX</a>
								    <a class="btn btn-primary" href-void>BALANCE</a>
								    <a class="btn btn-primary" href-void>PRICE</a>
								</div>    
								{% endverbatim %}
						</form>
							    <div id="leads_limit" class="limit_space">
								<h5>SET leads limit</h5>
								<form  ng-submit="submit($index)" role="form" name="leads_limitform" id="leads_limit-form"  method="POST">{% csrf_token %}
								<div class="setlead_limit">{% verbatim %}
								    <label for="username">Hourly_set:</label>
								    <input required style="width:40%" type="text" ng-model="hourly_set" id="hourly_set" class="form-control" placeholder="Hourly_leads_limit">
								</div>{% endverbatim %}
								<div class="setlead_limit">
								    <label for="username">Daily_set:</label>
								    <input  style="width:40%" type="text" ng-model="daily_set" id="daily_set" placeholder="Daily_leads_limit" class="form-control" readonly>
								</div>
								<div class="setlead_limit">
								    <label for="username">Weekly_set:</label>
								    <input  style="width:40%" type="text" ng-model="weekly_set" id="weekly_set" placeholder="Weekly_leads_limit" class="form-control" readonly>
								</div>
								<div class="setlead_limit">
								    <label for="username">Monthly_set:</label>
								    <input  style="width:40%" type="text" ng-model="monthly_set" id="monthly_set" placeholder="Monthly_leads_limit" class="form-control" readonly>
								</div>
								<input required type="submit" name="submit" id="submit" value="Save" class="btn btn-primary">
								    {% verbatim %}<input type="hidden" id="lender_id_new{{$index}}" value={{lender.id}}>{% endverbatim %}
								</form>
							    </div>
							</div>
							
						    </div>
						    
						    
						    
						   
						</div>
						<div data-pagination="" data-num-pages="numPages()" 
							data-current-page="currentPage" data-max-size="maxSize"  
							data-boundary-links="true">
						    </div>
					    </div>
</div>
</div>
	</div>
{% endblock dash_content %}   
        






