{% extends 'accounts.html' %}
{% load staticfiles %}
{% block dash_leftnavigation %}
<aside id="left-panel">
	
				<!-- User info -->
				<div class="login-info">
					<span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
						
						<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
							<img src="{% static "public/styles/img/avatars/sunny.png" %}" alt="me" class="online" /> 
							<span>
								{{user}}
							</span>
							<i class="fa fa-angle-down"></i>
						</a> 
						
					</span>
				</div>
				<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive-->
			<nav>
				<ul>
					<li class="active">
						<a href="/dashboard" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
					</li>
					<li>
						<a href="/staffdashboard/inbox"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Inbox</span><span class="badge pull-right inbox-badge">14</span></a>
					</li>
					<li>
						<a href="/staffdashboard/appointmentslist"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Appointments</span></a>
					</li>
					<li>
						<a href="/staffdashboard"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Lenders</span></a>
					</li>
					<li>
						<a href="/staffdashboard/customers"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Customers</span></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Helpdesk</span></a>
					</li>
					<li>
						<a href="/staff"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Go To Online Portal</span></a>
					</li>
					<!--li>
						<a href="javascript:void(0);"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Tables</span></a>
						<ul>
							<li>
								<a href="javascript:void(0);">Normal Tables</a>
							</li>
							<li>
								<a href="javascript:void(0);">Data Tables <span class="badge inbox-badge bg-color-greenLight">v1.10</span></a>
							</li>
							<li>
								<a href="/staffdashboard/table">Jquery Grid</a>
							</li>
						</ul>
					</li-->
					
					<!--li>
						<a href="javascript:void(0);"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">App Views</span></a>
						<ul>
							<li>
								<a href="javascript:void(0);"><i class="fa fa-file-text-o"></i> Projects</a>
							</li>
							<li>
								<a href="javascript:void(0);"><i class="fa fa-paragraph"></i> Blog</a>
							</li>
							<li>
								<a href="javascript:void(0);"><i class="fa fa-picture-o"></i> Gallery</a>
							</li>

							<li>
								<a href="javascript:void(0);"><i class="fa fa-comments"></i> Forum Layout</a>
								<ul>
									<li><a href="javascript:void(0);">General View</a></li>
									<li><a href="javascript:void(0);">Topic View</a></li>
									<li><a href="javascript:void(0);">Post View</a></li>
								</ul>
							</li>
							<li>
								<a href="/staffdashboard/profile"><i class="fa fa-group"></i> Profile</a>
							</li>
							<li>
								<a href="javascript:void(0);"><i class="fa fa-clock-o"></i> Timeline</a>
							</li>
						</ul>		
					</li-->
					
					
					
				</ul>
			</nav>
			<span class="minifyme" data-action="minifyMenu"> 
				<i class="fa fa-arrow-circle-left hit"></i> 
			</span>

		</aside>
{% endblock dash_leftnavigation %}



 {% block dash_content %}
			<div id="content" ng-app="{% block ng_app %}app.app.dashboard{% endblock %}">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
					</div>
				<!-- widget grid -->
			
				<div id="content" ng-controller="{% block ng_controller %}StaffDashboardController{% endblock %}">
					<div class="row">
						<big-breadcrumbs items="['App Views', 'Blog']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
							<div smart-include="build/layout/partials/sub-header.tpl.html"></div>
					</div>
					<div class="row">
					    <div class="col-sm-9">
					        <div class="well padding-10">
						<form>{% csrf_token %}  
						    <div class="row lender_dtl_repeat" ng-repeat = "lender in filteredlenders | orderBy: 'distance'">
							<div class="col-md-2">{% verbatim %}
							    <a href="/staffdashboard/updatelender/{{lender.id}}/" target="_self">{% endverbatim %}<img src="{% static "img/proff_man.png" %}" class="img-responsive" alt="styles/img"></a>
							    <ul class="list-inline padding-10">
                                                                <li>{% verbatim %}
                                                                    <a href-void>{{lender.Name}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-10 padding-left-0">
							    <h3 class="margin-top-0" style="word-wrap: break-word;"><a href="/staffdashboard/updatelender/{{lender.id}}/" target="_self"> {{lender.Store}}</a><br><small class="font-xs"><i>Owned by <a href-void>{{lender.Name}}</a></i></small></h3>
							    <p style="word-wrap: break-word;">
								At <a>{{lender.Store}}</a> we provide you loans very easily.In case if you are interested,
								please call on {{lender.Phone}} or you can email us at <a>{{lender.Email}}</a>.
								<br><br>The store is located at, {{lender.Address}}.
								<br><br>
							    </p>
							    <a class="btn btn-primary" href-void>ACCEPTING</a>
							    <a class="btn btn-primary" href-void>MAX</a>
							    <a class="btn btn-primary" href-void>BALANCE</a>
							    <a class="btn btn-primary" href-void>PRICE</a>

							    <div class="social_activity checkbox_custom">
							    	<div class="smart-form">
									    <label class="checkbox"><input ng-change="accountstatus(lender.id,lender.Email)" ng-checked="lender.leadstatuscode[1]==1"   type="checkbox" name="option"  ng-model="Onboarding" ng-true-value="1" ng-false-value="0">
									    <i></i>	
									    Onboarding in progress</label>
									    <label class="checkbox"><input ng-change="accountstatus(lender.id,lender.Email)" type="checkbox" name="option" ng-checked="lender.leadstatuscode[4]==1"  ng-model="Active" ng-true-value="1" ng-false-value="0"><i></i>Active</label>
									    <label class="checkbox"><input ng-change="accountstatus(lender.id,lender.Email)" type="checkbox" name="option" ng-checked="lender.leadstatuscode[7]==1"  ng-model="Paused" ng-true-value="1" ng-false-value="0" value="1"><i></i>Campaigns Paused</label>
									    <label class="checkbox"><input ng-change="accountstatus(lender.id,lender.Email)" type="checkbox" name="option" ng-checked="lender.leadstatuscode[10]==1" ng-model="maxLeads"  ng-true-value="1" ng-false-value="0"><i></i>Max Leads Accepted</label>
									    <label class="checkbox"><input ng-change="accountstatus(lender.id,lender.Email)" type="checkbox" name="option"ng-checked="lender.leadstatuscode[13]==1" ng-model="PastDue"  ng-true-value="1" ng-false-value="0"><i></i>Past Due</label>
									    <label  class="checking_part checkbox"><input type="checkbox" name="option" ng-checked="lender.is_active" ng-change="approveLender(lender.id,lender.Email)" ng-model="lenders" value="lenders"><i></i>Is Approved</label>
									</div>
								</div>
							</div>
							
						    </div>{% endverbatim %}
						    
						    </form>
						    
						   
						</div>
						<div data-pagination="" data-num-pages="numPages()" 
							data-current-page="currentPage" data-max-size="maxSize"  
							data-boundary-links="true">
						    </div>
					    </div>
					    <div class="col-sm-3">
					        <div class="well padding-10">
							<h5 class="margin-top-0"><i class="fa fa-search"></i> Blog Search...</h5>
							<div class="input-group">
								<input type="text" class="form-control">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">
											<i class="fa fa-search"></i>
										</button>
									</span>
							</div>
							<!-- /input-group -->
						</div>
					  <!-- /well -->
    <div class="well padding-10">
        <h5 class="margin-top-0"><i class="fa fa-tags"></i> Popular Tags:</h5>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        <a href><span class="badge badge-info">Windows 8</span></a>
                    </li>
                    <li>
                        <a href><span class="badge badge-info">C#</span></a>
                    </li>
                    <li>
                        <a href><span class="badge badge-info">Windows Forms</span></a>
                    </li>
                    <li>
                        <a href><span class="badge badge-info">WPF</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        <a href><span class="badge badge-info">Bootstrap</span></a>
                    </li>
                    <li>
                        <a href><span class="badge badge-info">Joomla!</span></a>
                    </li>
                    <li>
                        <a href><span class="badge badge-info">CMS</span></a>
                    </li>
                    <li>
                        <a href><span class="badge badge-info">Java</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /well -->
    <div class="well padding-10">
        <h5 class="margin-top-0"><i class="fa fa-thumbs-o-up"></i> Follow Us!</h5>
        <ul class="no-padding no-margin">
            <p class="no-margin">
                <a title="Facebook" href><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a>
                <a title="Twitter" href><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a>
                <a title="Google+" href><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x"></i></span></a>
                <a title="Linkedin" href><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x"></i></span></a>
                <a title="GitHub" href><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-github fa-stack-1x"></i></span></a>
                <a title="Bitbucket" href><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-bitbucket fa-stack-1x"></i></span></a>
            </p>
        </ul>
    </div>
    <!-- /well -->
    <!-- /well -->
    <div class="well padding-10">
        <h5 class="margin-top-0"><i class="fa fa-fire"></i> Popular Posts:</h5>
        <ul class="no-padding list-unstyled">
            <li>
                <a href-void class="margin-top-0">WPF vs. Windows Forms-Which is better?</a>
            </li>
            <li>
                <a href-void class="padding-top-5 display-block">How to create responsive website with Bootstrap?</a>
            </li>
            <li>
                <a href-void class="margin-top-5">The best Joomla! templates 2014</a>
            </li>
            <li>
                <a href-void class="margin-top-5">ASP .NET cms list</a>
            </li>
            <li>
                <a href-void class="margin-top-5">C# Hello, World! program</a>
            </li>
            <li>
                <a href-void class="margin-top-5">Java random generator</a>
            </li>
        </ul>
    </div>
    <!-- /well -->
    <!-- /well -->
    <div class="well padding-10">
        <h5 class="margin-top-0"><i class="fa fa-video-camera"></i> Featured Videos:</h5>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group no-margin">
                    <li class="list-group-item">
                        <a href> <span class="badge pull-right">15</span> Photograph </a>
                    </li>
                    <li class="list-group-item">
                        <a href> <span class="badge pull-right">30</span> Life style </a>
                    </li>
                    <li class="list-group-item">
                        <a href> <span class="badge pull-right">9</span> Food </a>
                    </li>
                    <li class="list-group-item">
                        <a href> <span class="badge pull-right">4</span> Travel world </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="margin-top-10">
                    <iframe allowfullscreen frameborder="0" height="210" mozallowfullscreen src="http://player.vimeo.com/video/87025094" webkitallowfullscreen width="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- /well -->
</div>
</div>
</div>
	</div>
{% endblock dash_content %}   
        






