{% extends 'staff/staffdashboard.html' %}
{% load staticfiles %}
{% load avatar_tags %}
{% load url from future %}

{% block dash_middle %}
		<div id="main" role="main" ng-app="app.app.dashboard">
			<div ng-controller="EditableLenderController">
			<!-- RIBBON -->
			{% block dash_breadcrumb %}
			<div id="ribbon">

				<span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span> 
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Home</li><li>Dashboard</li>
				</ol>
			</div>
			{% endblock dash_breadcrumb %}
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			{% block dash_content %}
			<div id="content">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> LenderInfo</span></h1>
					</div>
				<!-- widget grid -->
			
				<div id="content">
					<div class="row">
						<big-breadcrumbs items="['App Views', 'Blog']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
							<div smart-include="build/layout/partials/sub-header.tpl.html"></div>
					</div>
					<div class="row">
					    <div class="col-sm-12">
					        <div class="well ">
						<form class="min-hyt_fx">{% csrf_token %}  
						    <div class="row">
							<div class="col-sm-2">
								<div class="common_pro_res">
							    <a href="/staffdashboard/updatelender/"><img src="{% static "img/proff_man.png" %}" class="img-responsive" alt="styles/img"></a>
							    <ul class="list-inline padding-10">
                                    <li>{% verbatim %}
                                        <a href-void>{{lender.ownerName}}</a>
                                    </li>{% endverbatim %}
                                </ul>
                                </div>
                                                        </div>
                                                        <div class="col-sm-10 padding-left-0">{% verbatim %}
							    <h3 class="margin-top-0 lndr_updt_ttl"><a href-void> {{lender.storeName}}</a><small class="font-xs"><i>Owned by <a href-void>{{lender.ownerName}}</a></i></small></h3>{% endverbatim %}
							    <div id="editstatus"></div>
							    <form ng-submit="submit()" role="form" name="lenderinfo" id="lenderinfo-form"  method="POST">{% csrf_token %}   
								{% verbatim %}
								<div class="updt_lndrMax_hldr">
								<div class="row">
									<div class="col-sm-6">
										<div class="horizental">
											<div>
												<label>Store Name :</label>
												<input class="horizental-control" required maxlength="50" type="text" placeholder="Enter store's Name" id="store_name" ng-model="store_name">
											</div>
											<div>
												<label>Lender Email:</label>
												<input class="horizental-control" type="email" maxlength="20" placeholder="Enter email id" id="lender_email" ng-model="lender_email">
											</div>
											<div>
												<label>Store Phone:</label>
												<input class="horizental-control" type="text" maxlength="15"  id="store_phone" ng-model="store_phone" onkeypress='return event.charCode <= 57'>
											</div>
											<div>
												<label>Store Address:</label>
												<textarea class="horizental-control" ng-model="store_address"></textarea>
											</div>
											<div>
												<label>Zip Code:</label>
												<input class="horizental-control" required type="text" placeholder="Enter Zip Code"  id ="zip_code" ng-model="zip_code">
											</div>
											
										</div>
									</div>
									<div class="col-sm-6">
										<div class="horizental">
											<div>
												<label>Manager Name :</label>
												<input class="horizental-control" required maxlength="30" placeholder="Enter Manager's Name" type="text" id="manager_name" ng-model="manager_name">
											</div>
											  
											<div>
												<label>Manager Email :</label>
												<input class="horizental-control" type="email" placeholder="manager@gmail.com" maxlength="100" ng-model="manager_email">
											</div>
											      
											<div>
												<label>Manager Phone:</label>
												<input class="horizental-control" type="text" maxlength="10" id = "manager_phone" placeholder="0987654321" ng-model="manager_phone" onkeypress='return event.charCode <= 57'>
											</div>
											
											<div>
												<label>Owner Phone:</label>
												<input class="horizental-control" type="text" maxlength="10" placeholder="0987654321" id="owner_phone" ng-model="owner_phone" onkeypress='return event.charCode <= 57'>
											</div>
								  
											      <div>
												<label>Owner Email :</label>
												<input class="horizental-control" required type="email" placeholder="owner@gmail.com" maxlength="50" ng-model="owner_email">
											</div>

											</div>
									</div>
									
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="horizental">
											<label></label>
											<input  required type="submit"  id="submit" value="Save Changes" ng-click="editLenderInfo()" class="btn btn-primary">
										</div>
									</div>
								</div>
								</div>
							    </form>
							    
							</div>
						    </div>{% endverbatim %}
						    </form>
						   
						</div>
					    </div>
</div>
</div>
	
			</div>
			{% endblock dash_content %}
			<!-- END MAIN CONTENT -->
			</div>
		</div>
		{% endblock dash_middle %}
		<!-- END MAIN PANEL -->