{% extends "avatar/base.html" %}
{% load staticfiles %}
{% load i18n avatar_tags %}
{% load url from future %}
{% block text %}{% endblock %}
{% block info %}{% endblock %}
{% block testimonials %}{% endblock %}


{% block dash_content %}
<section id="neighboured_second">
    <div id="content">
      {% block account %}
	<div class="row">
	  <!--============right_content_start_here===============-->
	  <div class="col-md-12 col-sm-12">
       <div class="inner_heading_part"><i class="fa-fw fa fa-puzzle-piece"></i> Dashboard <span>> Add Avatar</span></div>

    <div class="well">  
	    <div class="customer_profile_dashboard report_card">
	      <div class="device">
		<a class="arrow-left" href="#"></a> 
		<a class="arrow-right" href="#"></a>
		<div class="swiper-container">
                <div class="change_heading avar_hd_ttl">Add your Avatar</div>
               
		  
		    <!--====first inner part start here====--> 
                          <div class="add_avt_hld">  
                            <div class="left_user">
                            <p class="crnt_avtr_info">{% trans "Your current avatar: " %}</p>
                            </div>
                            
                            <div class="right_user">
                            {% avatar user %}
                            {% if not avatars %}
                            <p class="chng_avtr_msg">{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
                         
                                
                               
                                
                            {% endif %}
                            
                            <div class="avatar_buttons">
                            <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                             <ul>
                              <li class="avtr_upld_main">{{ upload_avatar_form.as_p }}</li>
                              <li>{% csrf_token %}<input class="choose_dafaut btn btn-primary" type="submit" value="{% trans "Upload New Image" %}" /></li>
                             </ul>
                            </form>
                        </div>
		    <!--====first inner part close here====--> 
		  </div>
    </div>  

		</div>
		<div class="pagination"></div>
		</div>
	      </div> 
	    </div>
    </div>  
	    <!--=============right_content_close_here==============-->
	  </div>
	
	</div>
      {% endblock %}
      </div>
  </section>
{% endblock %}
{% block paging_js %}
   
{% endblock %}

