{% extends 'lenders/dashboard.html' %}
<html>
    <head>
        <title>{% block title %}django-avatar{% endblock %}</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
