{% extends "avatar/base.html" %}
{% load staticfiles %}
{% load i18n avatar_tags %}
{% load url from future %}



{% block dash_content %}
<section id="neighboured_second">
    <div id="content">
      {% block account %}
	<div class="row">
	  <!--============right_content_start_here===============-->
	  <div class="col-md-12 col-sm-12">
      <div class="inner_heading_part"><i class="fa-fw fa fa-puzzle-piece"></i> Dashboard <span>> Change your Avatar</span></div>


        <div class="avatar-dashboard">
        <div class="well ">

	   
        
		  
		    <!--====first inner part start here====--> 
                        <div class="inner_avatar">
                            <div class="current_avatar">{% trans "Your current avatar: " %}</div>
    
    <div class="hopotic">{% avatar user %}
    {% if not avatars %}</div>
        <div class="chngavtr_err_msg">{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</div>
    {% else %}
        </div>
        <div class="horibble_acrot">
            
            <div class="acrot_start">
        <form method="POST" action="{% url 'avatar_change' %}">
            <ul>
                {{ primary_avatar_form.as_ul }}
            </ul>
            </div>
           <div class="choose_default"> {% csrf_token %}
           <input type="submit" class="btn btn-primary" value="{% trans "Choose new Default" %}" />
           <a href="/avtar/delete/"><input type="submit" class="btn btn-primary deleted" value="{% trans "Delete Avatar" %}" /></a></div>
        </form>
        
    {% endif %}
    
    <div class="padric_module acd">
        
        
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
       <p class="expect_profile"> {{ upload_avatar_form.as_p }} </p>
        {% csrf_token %}<p class="upload_new"><input type="submit" class="btn btn-primary" value="{% trans "Upload New Image" %}" /></p>
    </form>
                        </div>
		    <!--====first inner part close here====--> 
		 
		</div>
		<div class="pagination"></div>
		</div>
	      </div>
             
	   
	    <!--=============right_content_close_here==============-->
	  </div>
	 </div>
	</div>
      {% endblock %}
      </div>
  </section>
{% endblock %}
{% block paging_js %}
   
{% endblock %}

