{% extends "avatar/base.html" %}
{% load staticfiles %}
{% load i18n avatar_tags %}
{% load url from future %}


{% block dash_content %}
<section id="neighboured_second">
    <div class="container">
      {% block account %}
	<div class="row">
	  <!--============right_content_start_here===============-->
	  <div class="col-md-12 col-sm-12">
	    <div class="inner_heading_part"><i class="fa-fw fa fa-puzzle-piece"></i> Dashboard <span>> Delete your Avatar</span></div>
		   <div class="avatar-dashboard">
        <div class="well well-sm">
		    <!--====first inner part start here====--> 
                        <div class="inner_customer">
                            <p class="producing_man">{% trans "Please select the avatars that you would like to delete." %}</p></div>
    {% if not avatars %}
        {% url 'avatar_change' as avatar_change_url %}
        <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}</p>
    {% else %}
        
        <div class="horibble_acrot">
        <form method="POST" action="{% url 'avatar_delete' %}">
            <ul class="mean-sep">
               <div class="acted_upon"> {{ delete_avatar_form.as_ul }}</div>
            </ul>
            <div class="opertaed">{% csrf_token %}<input type="submit" class="btn-u" value="{% trans "Delete These" %}" /> </div>
        </form>
                    {% endif %}
                        </div>
		    <!--====first inner part close here====--> 
		  </div>
		</div>
		<div class="pagination"></div>
		</div>
	      </div> 
	    </div>
	    <!--=============right_content_close_here==============-->
	  </div>
	
	</div>
      {% endblock %}
      </div>
  </section>
{% endblock %}
{% block paging_js %}
   
{% endblock %}

